@import '../../../styles/colorScheme';
@import '../../../styles/itemTypeColors';

.media-status-popup-item {
	.media-status-popup-item__playout-indicator {
		width: 1.5em;
		max-width: 1.5em;
	}

	.media-status-popup-item__live-indicator {
		background: $general-live-color;
		width: 0.75em;
		height: 1.3em;
		border-radius: 0 1em 1em 0;
	}

	.media-status-popup-item__next-indicator {
		background: $general-next-color;
		width: 0.75em;
		height: 1.3em;
		clip-path: polygon(20% 0, 100% 50%, 20% 100%, 0 100%, 0 0);
	}

	.media-status-popup-item__countdown {
		font-size: 0.875em;
		text-align: right;
		font-weight: 400;
		width: 5em;
		padding: 0.1em 0.15em 0;
	}

	&:first-child {
		> td {
			padding-top: 3px;	
		}

		> .media-status-popup-item__countdown {
			padding-top: calc(3px + 0.1em);
		}
	}

	.media-status-popup-item__status {
		max-width: 3em;
		padding: 0 0.15em;

		svg {
			width: auto;
			height: 1.3em;
		}

		svg.hourglass {
			g > path {
				stroke: #8c8c8c;
			}
			clipPath > rect {
				fill: #8c8c8c;
			}
		}
	}

	.media-status-popup-item__source-layer {
		padding: 0 0.15em;
		max-width: 2.75em;
		width: 2.75em;
	}

	.media-status-popup-item__source-layer-indicator {
		position: relative;
		color: #fff;
		width: 2.75em;
		padding: 0 0.3em;
		text-align: center;
		font-weight: 400;
		font-size: 0.8125em;
		line-height: 1.6em;
		overflow: hidden;
		white-space: nowrap;

		@include item-type-colors();
		@include missing-overlay();

		&.media-status-popup-item__source-layer-overlay {
			display: block;
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;

			@include invalid-overlay();
		}

		> .media-status-popup-item__source-layer-label {
			position: relative;
			z-index: 1;
		}
	}

	.media-status-popup-item__identifiers {
		padding: 0 0.1em;
		text-align: center;

		.media-status-popup-item__part-identifier {
			display: inline-block;
			background: #363636;
			border: none;
			border-radius: 1em;
			padding: 0 0.25em;
			color: #fff;
			font-weight: 400;
			font-size: 0.875em;
			min-width: 2em;
			text-align: center;
		}
	}

	.media-status-popup-item__label {
		overflow: hidden;
		text-overflow: ellipsis;

		font-weight: 500;
		padding: 0 0.15em;
		max-width: 15em;
	}
}
