.ba
{
  border: 1px solid #c3c3c3;
}

.bl
{
  border-left-color: #c3c3c3;
  border-left-style: solid;
  border-left-width: 1px;
}

.br
{
  border-right-color: #c3c3c3;
  border-right-style: solid;
  border-right-width: 1px;
}

.bt
{
  border-top-color: #c3c3c3;
  border-top-style: solid;
  border-top-width: 1px;
}

.bb
{
  border-bottom-color: #c3c3c3;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.dark .ba, .dark .bl, .dark .br, .dark .bt, .dark .bb
{
  border-color: #191919;
}