.dark h5,
.dark .subtle {
  color: $dark-subtle-color;
}

.dark .bg-contrast {
  background: $color-darker-grey;
}

.dark .vsubtle {
  color: $dark-vsubtle-color;
}

.dark .dimmed, .dark .removed {
  color: $dark-dimmed-color;
}

.dark .table th,
.dark .table td {
  border-color: $color-darker-black;
}

.dark .expando {
  border-bottom: 1px solid $color-darker-grey;
}

.dark .expando th,
.dark .expando td {
  background: $color-darker-grey;
  border-color: $color-black;
}

.dark .expando tr.hl th,
.dark .expando tr.hl td {
  background: $color-black;
  border-color: $color-darker-grey;
}

.dark .expando > tbody > tr:hover th,
.dark .expando > tbody > tr:hover td {
  background: $color-black;
  color: $color-white;
  border-color: $color-darker-grey;
}

.dark .expando tr.bghl th,
.dark .expando tr.bghl td {
  background: $color-yellow;
  color: $color-grey;
}

.dark .expando > tbody > tr.bghl:hover th,
.dark .expando > tbody > tr.bghl:hover td {
  background: $color-yellow;
  color: $color-true-black;
}

.dark .compact-line + .compact-line {
  border-color: $color-black;
}

/* Inputs */

.dark .mdinput {
  border-color: $color-darker-grey;
  color: $color-grey;
}

.dark .mdi .mdinput:focus {
  border-color: $color-darker-grey;
}

.dark .error .mdinput {
  border-color: $color-red;
  color: $color-white;
}

.dark .mdinput:focus {
  color: $color-white;
  border-color: $color-medium-grey;
}

.dark .mdfx:after {
  background: $color-medium-grey;
}

.dark .mdi .action-btn,
.dark .input-hl .mdinput:focus ~ .action-btn{
  color: $color-white;
}

.dark .input-hl .action-btn {
  color: $color-grey;
}

.dark .bghl {
  color: $color-black;
}

.dark .cal-year {
  color: $color-dirty-white;
}

/* Undetectable links */
.dark .text-link {
  color: inherit;
}

/** warning background */
.dark .warn .link,
.dark .warn :link,
.dark .warn :visited,
.dark .warn .action-btn {
  color: $color-white;
}

.dark .warn .link:hover,
.dark .warn :link:hover,
.dark .warn .action-btn:hover {
  color: $color-black;
}
