.icon,
.logo {
  display: inline-block;
  fill: currentColor;
  height: 20px;
  vertical-align: middle;
  width: 20px;
  pointer-events: none;
}

.icon {
  margin-top: -1px;
}

.icon-s {
  height: 15px;
  width: 15px;
}

.icon-m {
  height: 20px;
  width: 20px;
}

.icon-l {
  height: 30px;
  width: 30px;
}

.icon-xl {
  height: 40px;
  width: 40px;
}

.icon-xxl {
  height: 48px;
  width: 48px;
}

.icon-xxxl {
  height: 64px;
  width: 64px;
}

.icon-hl {
  color: #00b9f2;
}

.logo {
  width: auto;
  vertical-align: top;
}

/* Safari (the new IE) hack, prevents clipping of icons */
button .icon{
  margin-top: 0px;
  margin-bottom: 1px;
}
