img {
  max-width: 100%;
}

.img {
  display: block;
}

.mod, h1, h2, h3, h4, h5, h6, p, ul, ol, hr, pre, center {
  margin: 20px;
}

ul,
ol {
  padding: 0;
}

li {
  margin-left: 16px;
}

.tight-s .mod,
.tight-s h1,
.tight-s h2,
.tight-s h3,
.tight-s h4,
.tight-s h5,
.tight-s h6,
.tight-s p,
.tight-s ul,
.tight-s ol,
.tight-s hr,
.tight-s pre {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tight-xs .mod,
.tight-xs h1,
.tight-xs h2,
.tight-xs h3,
.tight-xs h4,
.tight-xs h5,
.tight-xs h6,
.tight-xs p,
.tight-xs ul,
.tight-xs ol,
.tight-xs hr,
.tight-xs pre {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tight-none .mod,
.tight-none h1,
.tight-none h2,
.tight-none h3,
.tight-none h4,
.tight-none h5,
.tight-none h6,
.tight-none p,
.tight-none ul,
.tight-none ol,
.tight-none hr,
.tight-none pre {
  margin-top: 0;
  margin-bottom: 0;
}

.htight-s {
  .mod,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  hr,
  pre {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.htight-xs {
  .mod,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  hr,
  pre {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.htight-none{
  .mod,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  hr,
  pre {
    margin-left: 0;
    margin-right: 0;
  }
}

.unrelated .item,
.related .item,
.vrelated .item {
  display: inline-block;
}

.unrelated .item:not(:last-child) {
  margin-right: 30px;
}

.related .item:not(:last-child) {
  margin-right: 20px !important;
}

.vrelated .item:not(:last-child) {
  margin-right: 10px !important;
}

h1 {
  margin-top: 0;
}

.right {
  float: right !important;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.row,
.col:last-child {
  overflow: hidden;
}

.col.c1,
.col.c2,
.col.c3,
.col.c4,
.col.c5,
.col.c6,
.col.c7,
.col.c8,
.col.c9,
.col.c10,
.col.c11 {
  float: left;
}

.row .col:last-child {
  float: none;
}

/* Do not force auto width if there is only one column in a row */
.col + .col:last-child {
  width: auto;
}

.c-1of24 {
  width: 4.1666%;
}

.c1 {
  width: 8.3333%;
}

.c2 {
  width: 16.6666%;
}

.c3 {
  width: 25%;
}

.c4 {
  width: 33.3333%;
}

.c5 {
  width: 41.6666%;
}

.c6 {
  width: 50%;
}

.c7 {
  width: 58.3333%;
}

.c8 {
  width: 66.6666%;
}

.c9 {
  width: 75%;
}

.c10 {
  width: 83.3333%;
}

.c11 {
  width: 91.6666%;
}

.c12 {
  clear: left;
  float: none;
  width: 100%;
}

.s1-5,
.s1-7 {
  /* inline blocks have collapsing margins, which is desirable.
     unfortunately, inline blocks may not display correctly if the
     markup is nicely formatted, as the extra spaces will be visible. */
  float: left;
}

.s1-5 {
  width: 20%;
}

.s1-7 {
  width: 14.2857%;
}

.bd {
  overflow: hidden;
  zoom: 1;
}

.grid-unit,
.grid-box {
  display: inline-block;
  vertical-align: top;
}

.grid-unit {
  width: 12em;
}

.gu-l {
  width: 16em;
}

.container {
  overflow: hidden;
  position: relative;
}

.pos-tr {
  position: absolute;
  top: 0;
  right: 0;
}

.pos-br {
  position: absolute;
  bottom: 0;
  right: 0;
}

.pos-bl {
  position: absolute;
  bottom: 0;
  left: 0;
}

.pos-center {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: none;
  flex-direction: column;
}

.container16x9 {
  position: relative;
  overflow: hidden;

  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 56.25%;
  }
}

.container9x16 {
  @extend .container16x9;
  &:before {
    padding-top: calc(16/9 * 100%);
  }
}

.container1x1 {
  @extend .container16x9;
  &:before {
    padding-top: 100%;
  }
}

.container2x3 {
  @extend .container16x9;
  &:before {
    padding-top: calc(3/2 * 100%);
  }
}

.container3x4 {
  @extend .container16x9;
  &:before {
    padding-top: calc(4/3 * 100%);
  }
}

.checkerboard-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  background-image: linear-gradient(45deg, #191919 25%, transparent 25%), linear-gradient(-45deg, #191919 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #191919 75%), linear-gradient(-45deg, transparent 75%, #191919 75%);
  background-size: 10px 10px;
  background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
  .image-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
  }
}

.fill {
  width: 100%;
  height: 100%;
}

.pos-tr a {
  position: relative;
}

.screen-pos-tl,
.screen-pos-tr,
.screen-pos-br,
.screen-pos-bl,
.screen-pos-cr,
.screen-pos-cl {
  position: fixed;
  z-index: 10;
}

.screen-pos-tl {
  left: 0;
  top: 0;
}

.screen-pos-tr {
  right: 0;
  top: 0;
}

.screen-pos-br {
  right: 0;
  bottom: 0;
}

.screen-pos-bl {
  left: 0;
  bottom: 0;
}

.screen-pos-cr,
.screen-pos-cl {
  top: 50%;
  transform: translate(0, -50%);
}

.screen-pos-cr {
  right: 0;
}

.screen-pos-cl {
  left: 0;
}

/**
 * "What is the internet made of? At least the UI layer is mainly composed of
 *  media blocks.
 * http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 */
.media {
  overflow: hidden;
  zoom: 1;
}

.media-elem {
  float: left;
  margin-right: 20px;
}

.media-elem-ext {
  float: right;
  margin-left: 20px;
}

/* Expensive selector, revert if problems */
.media .bd > * {
  margin-left: 0;
  margin-right: 0;
}

.media .bd > :first-child {
  margin-top: 0;
}

.media-elem .icon {
  padding-top: 2px;
}

.show-m,
.show-l,
.show-xl {
  display: none;
}

/* default hide/show */
.hide,
.show-s-up,
.show-m-up,
.show-l-up,
.show-xl-up {
  display: none !important;
}

.show {
  display: inherit !important;
}

/* The beginnings of a flex based grid */
#flex-grid-example .flex-row{
  border: 1px dotted #ff0000;
  .flex-col{
    border: 1px dotted #aaa;
  }
}


.flex-row-center {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row,
.frow {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;

  &.vertical-align-top, &.va-top {align-items: flex-start;}
  &.vertical-align-bottom, &.va-bottom {align-items: flex-end;}
  &.vertical-align-middle, &.va-middle {align-items: center;}
  &.vertical-align-stretch, &.va-stretch {align-items: stretch;}
  &.vertical-align-baseline, &.va-baseline {align-items: baseline;}

  &.horizontal-align-left, &.ha-left {justify-content: flex-start;}
  &.horizontal-align-right, &.ha-right {justify-content: flex-end;}
  &.horizontal-align-center, &.ha-center {justify-content: center;}
  &.horizontal-align-space-between, &.ha-between {justify-content: space-between;}
  &.horizontal-align-space-around, &.ha-around {justify-content: space-around;}
}

.flex-row > .flex-col > * + *,
.frow > .flex-col > * + * {
  margin-top: 0;
}

.flex-col {
  display: flex;
  flex: 0 0 auto;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  &.vertical-align-top, &.va-top {justify-content: flex-start;}
  &.vertical-align-bottom, &.va-bottom {justify-content: flex-end;}
  &.vertical-align-middle, &.va-middle {justify-content: center;}
  &.vertical-align-space-between, &.va-between {justify-content: space-between;}
  &.vertical-align-space-around, &.va-around {justify-content: space-around;}

  &.horizontal-align-left, &.ha-left {align-items: flex-start;}
  &.horizontal-align-right, &.ha-right {align-items: flex-end;}
  &.horizontal-align-center, &.ha-center {align-items: center;}

  &.c-1of24 {flex: (1/24) 1 0;}
  &.c1 {flex: (1/12) 1 0;}
  &.c2 {flex: (1/12*2) 1 0;}
  &.c3 {flex: (1/12*3) 1 0;}
  &.c4 {flex: (1/12*4) 1 0;}
  &.c5 {flex: (1/12*5) 1 0;}
  &.c6 {flex: (1/12*6) 1 0;}
  &.c7 {flex: (1/12*7) 1 0;}
  &.c8 {flex: (1/12*8) 1 0;}
  &.c9 {flex: (1/12*9) 1 0;}
  &.c10 {flex: (1/12*10) 1 0;}
  &.c11 {flex: (1/12*11) 1 0;}
  &.c12 {flex: 1 1 0;}
}

.flex-col > * {
  min-width: 0;
}

.gutter {
  margin-left: 0;
  margin-right: 0;
}
