
/**
 * Note: Ordering matters. If medium styles are provided after large ones,
 * medium ones will take precedence on any elements with different large and
 * medium styles.
 */

$screen: "only screen" !default;

$small-breakpoint:  640px;
$medium-breakpoint: 992px;
$large-breakpoint:  1200px;
$xlarge-breakpoint: 1800px;

$small-up: "#{$screen} and (min-width:#{$small-breakpoint})" !default;

$medium-up: "#{$screen} and (min-width:#{$medium-breakpoint})" !default;

$large-up: "#{$screen} and (min-width:#{$large-breakpoint})" !default;

$xlarge-up: "#{$screen} and (min-width:#{$xlarge-breakpoint})" !default;
