// Foreground colors

.fg-light-red{
  color: $color-light-red;
}

.fg-red,
.color-error{
  color: $color-red;
}

.fg-yellow,
.dark .fg-warn{
  color: $color-yellow;
}

.fg-dark-yellow,
.fg-warn {
  color: $color-darker-yellow;
}

.fg-green,
.dark .color-success{
  color: $color-green;
}

.fg-darker-green,
.color-success{
  color: $color-darker-green;
}

.fg-blue {
  color: $color-blue;
}

.fg-medium-blue {
  color: $color-medium-blue;
}

.fg-mint {
  color: $color-mint;
}

.fg-dark-mint {
  color: $color-dark-mint;
}

.fg-light-pink {
  color: $color-light-pink;
}

.fg-pink {
  color: $color-pink;
}

.fg-purple {
  color: $color-purple;
}

.fg-medium-purple {
  color: $color-medium-purple;
}

.fg-cyan {
  color: $color-cyan;
}

.fg-soft-purple {
  color: $color-soft-purple;
}

.fg-soft-pink {
  color: $color-soft-pink;
}

.fg-soft-yellow {
  color: $color-soft-yellow;
}

.fg-soft-green {
  color: $color-soft-green;
}

// Background colors

.bg-light-red{
  background-color: $color-light-red;
}

.bg-red{
  background-color: $color-red;
}

.bg-yellow,
.dark .bg-warn {
  background-color: $color-yellow;
}

.bg-dark-yellow,
.bg-warn {
  background-color: $color-darker-yellow;
}

.bg-green {
  background-color: $color-green;
}

.bg-darker-green{
  background-color: $color-darker-green;
}

.bg-medium-blue {
  background-color: $color-medium-blue;
}

.bg-blue {
  background-color: $color-blue;
}

.bg-mint {
  background-color: $color-mint;
}

.bg-dark-mint {
  background-color: $color-dark-mint;
}

.bg-light-pink {
  background-color: $color-light-pink;
}

.bg-pink {
  background-color: $color-pink;
}

.bg-medium-purple {
  background-color: $color-medium-purple;
}

.bg-purple{
  background-color: $color-purple;
}

.bg-cyan {
  background-color: $color-cyan;
}

.bg-soft-purple {
  background-color: $color-soft-purple;
}

.bg-soft-pink {
  background-color: $color-soft-pink;
}

.bg-soft-yellow {
  background-color: $color-soft-yellow;
}

.bg-soft-green {
  background-color: $color-soft-green;
}

// Utilities

.action-btn .bg-purple,
.action-btn:hover .bg-purple {
  background-color: $color-purple;
  color: $color-white;
}

.bg-purple .icon,
.action-btn .bg-purple .icon {
  fill: $color-white;
}

// DEPRECATED

.fg-darker-red {
  color: $color-darker-red;
}

.fg-orange {
  color: $color-orange;
}

.fg-darker-orange {
  color: $color-darker-orange;
}

.bg-darker-red {
  color: $color-darker-red;
}

.bg-orange {
  background-color: $color-orange;
}

.bg-darker-orange {
  background-color: $color-darker-orange;
}