// Palette
$color-true-black: #000000;
$color-darker-black: #191919;
$color-black: #252627;
$color-darker-grey: #333333;
$color-dark-grey: #636363;
$color-grey: #737373;
$color-medium-grey: #9F9F9F;
$color-light-grey: #C3C3C3;
$color-lighter-grey: #E0E3E4;
$color-lightest-grey: #EEEEEE;
$color-dirty-white: #F5F5F5;
$color-white: #FFFFFF;

// Primary profile-colors
$color-medium-blue: #3593FF;
$color-blue: #1769ff;

// Secondary profile-colors
$color-light-pink: #FA419D;
$color-pink: #E70D79;
$color-mint: #00A8AD;
$color-dark-mint: #008284;
$color-medium-purple: #9B7FC8;
$color-purple: #875BA6;
$color-light-red: #FF4C4A;
$color-red: #E62421;
$color-cyan: #00FEFF;
$color-yellow: #FFFF42;
$color-darker-yellow: #FFE831;
$color-green: #A5CD39;
$color-darker-green: #3D8704;

// Pastel support-colors
$color-soft-purple: #EDE6F1;
$color-soft-pink: #F9C8C7;
$color-soft-yellow: #FFF5C6;
$color-soft-green: #E8F2CD;


// Older colors - DEPRECATED!!!!!!!!!!
$color-orange: #FF8618;
$color-darker-orange: #FF5E00;
$color-darker-pink: #99034E;
$color-darker-red: #990014;
$color-nrk-blue: #3377CC;
$color-light-blue: #00b9f2;
$color-dark-purple: #260859;

//primary colors
$primary-color: $color-blue!default;
$primary-color-medium: $color-medium-blue!default;
$primary-color-dark: darken($primary-color, 10%)!default;

// primary button and link colors
$primary-bg-color: $primary-color!default;
$primary-fg-color: $color-white!default;
$primary-border-color: $primary-color!default;
$primary-hover-border-color: $primary-color!default;
$primary-hover-bg-color: darken($primary-bg-color, 10%)!default;
$primary-hover-fg-color: $primary-fg-color!default;

// Secondary button and link colors
$secondary-bg-color: $primary-color!default;
$secondary-fg-color: $color-white!default;
$secondary-border-color: $primary-color!default;
$secondary-hover-border-color: $primary-color!default;
$secondary-hover-bg-color: darken($primary-color, 10%)!default;
$secondary-hover-fg-color: $secondary-fg-color!default;

// Subtle colors
$subtle-color: $color-dark-grey;
$vsubtle-color: $color-grey;
$dimmed-color: $color-medium-grey;

$tooltip-bg-color: $color-darker-grey;

// Concepts
$fg-color: $color-black;
$bg-color: $color-white;

$link-color: $primary-color!default;
$link-visited-color: $color-purple!default;

$focus-color: $color-lighter-grey;
$keyboard-focus-color: $color-cyan;

$form-control-color: $color-dark-grey;
$form-control-active-color: $color-black;
$form-control-hover-color: $color-black;
$form-control-light-color: $color-medium-grey;
$form-control-disabled-color: $color-lighter-grey;

// Dark
$dark-fg-color: $color-white;
$dark-bg-color: $color-black;
$dark-subtle-bg-color: lighten($color-black, 10%);

$dark-focus-color: $color-white;
$dark-keyboard-focus-color: $color-cyan;

$dark-link-color: $color-medium-blue;
$dark-link-visited-color: $color-medium-purple;

$dark-form-control-color: $color-dirty-white;
$dark-form-control-active-color: $color-white;
$dark-form-control-hover-color: $color-white;
$dark-form-control-light-color: $color-lighter-grey;
$dark-form-control-disabled-color: $color-grey;

$dark-subtle-color: $color-light-grey;
$dark-vsubtle-color: $color-medium-grey;
$dark-dimmed-color: $color-grey;



