@use 'sass:color';

@import '../../styles/colorScheme';
@import '../../styles/utils';
@import '../../styles/variables';

$part-left-padding: 6px;
$part-right-padding: 5px;

$break-width: 35rem;

.segment-storyboard {
	> .segment-storyboard__part-list__container {
		position: relative;
		overflow: hidden;

		contain: content style;
		touch-action: pan-y;

		cursor: ew-resize;
		cursor: url(/images/cursor_zoom_area_move.png), ew-resize;
		cursor:
			url(/images/cursor_zoom_area_move.png) 15 8,
			ew-resize;

		grid-column: timeline / end;
		grid-row: header / end;
		@media screen and (max-width: $break-width) {
			grid-column: timeline / end;
			grid-row: timeline-header / zoom-area;
		}
	}

	> .segment-storyboard__storyboard-view-controls {
		position: relative;
		display: grid;
		grid-column: segment-group-controls / timeline;
		grid-row: main-view / end;
		align-self: end;
		grid-template-columns: 1.3fr 1fr 1fr 1fr;
		padding: 0 0.3em 0.05em 0.3em;

		> .segment-storyboard__storyboard-view-controls__button {
			min-width: 22px;
			min-height: 22px;
			max-height: 22px;
			border: none;
			background: transparent;
			overflow: visible;
			font-size: 1em;
			padding: 0;
			transition: 0.2s opacity;

			color: #dddddd;

			> svg {
				height: 22px;
				width: 22px;
				margin-top: -0.05em;

				.btn-bkg {
					transition: 0.3s fill;
				}
				.btn-icon {
					transition: 0.3s fill;
				}
			}

			&:disabled {
				opacity: 0.5;
			}

			&:not(:disabled) {
				&:hover {
					> svg {
						.btn-bkg {
							fill: #8c8c8c;
							transition: 0s fill;
						}
						.btn-icon {
							fill: #ffffff;
							transition: 0s fill;
						}
					}
				}

				&:active {
					> svg {
						.btn-bkg {
							fill: $ui-button-primary;
							border-color: $ui-button-primary;
							transition: 0s fill;
						}
					}
				}
			}
		}
	}

	> .segment-storyboard__part-list__container {
		padding-left: 2px;

		> .segment-storyboard__part-list {
			position: relative;
			display: flex;
			padding-left: 0;

			> .segment-storyboard__part-list.segment-storyboard__part-list--squished-parts {
				position: relative;
				display: block;
				padding-left: 0;
				margin: 0;
			}
		}

		> .segment-storyboard__history-shade {
			position: absolute;
			top: 0;
			left: 0;
			width: 100px;
			bottom: 0;
			background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
			pointer-events: none;
		}

		> .segment-timeline__zoom-area {
			margin-left: 0;

			transition:
				1s opacity,
				0s visibility;

			&.hidden {
				opacity: 0;
				transition:
					1s opacity,
					0s visibility 1s;
				visibility: hidden;
			}
		}
	}

	> .segment-timeline__source-layers {
		margin: $segment-storyboard-thumbnail-height 0.3em 0;

		grid-column: segment-group-controls / timeline;
		grid-row: main-view / zoom-area;
		@media screen and (max-width: $break-width) {
			grid-column: start / timeline;
			grid-row: output-layers / zoom-area;
		}

		> .segment-timeline__output-group {
			> .segment-timeline__source-layer {
				text-align: right;
				line-height: 1.5em;
				height: 1.5em;
				min-height: 1.5em;
				letter-spacing: 0em;
				color: #888;
				font-weight: 300;
			}
		}
	}
}

.segment-storyboard__part {
	position: relative;
	flex: 0 0;
	min-width: $segment-storyboard-part-width;
	margin-top: 1em;
	padding: 1.3rem $part-right-padding 1.5rem $part-left-padding;

	--invalid-reason-color-transparent: transparent;
	--invalid-reason-color-opaque: #{$segment-background-color}; // HERE

	&--invalid {
		background: $segment-timeline-background-color;
	}

	&--outside-quickloop {
		&::before {
			content: ' ';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: rgba(0, 0, 0, 0.5);
			z-index: 2;
			pointer-events: none;
		}
	}

	> .segment-storyboard__part__background {
		position: absolute;
		background-image: linear-gradient(to bottom, $general-live-color 20px, black 8rem);
		top: 0;
		left: 3px;
		bottom: 1.5em;
		right: 2px;
		border-radius: 4px 4px 0 0;
	}

	> .segment-storyboard__part__title {
		display: none;
		position: absolute;
		top: 1.3em;
		width: 100%;
	}

	> .segment-storyboard__part__next-line {
		position: absolute;
		top: 10px;
		left: 0;
		bottom: 0;
		width: 0;
		border-left: 2px solid $part-start-color;
		z-index: 3;

		&--autonext {
			top: 7px;
			border-left: 1px solid $part-start-color;
		}

		&--live {
			border-left-color: $general-live-color;
			opacity: 0;
			transition: 200ms opacity;
		}

		&--next {
			border-left-color: $general-next-color;
		}

		&--invalid {
			top: 7px;
			border-left: 1px solid $part-start-color;
		}

		&--opposite {
			left: auto;
			right: -2px;
		}

		&--quickloop-start {
			border: none;
		}

		&:not(.segment-storyboard__part__next-line--autonext):not(.segment-storyboard__part__next-line--live):not(
				.segment-storyboard__part__next-line--invalid
			) {
			&::before {
				@include take-arrow();
				top: -3px;
				left: -2px;
			}

			&::after {
				@include take-arrow();
				top: auto;
				left: -2px;
				bottom: -1px;
			}

			&.segment-storyboard__part__next-line--quickloop-start {
				border: none;

				&::before,
				&::after {
					left: 3px;
					border-color: transparent transparent transparent white;
				}
			}

			&.segment-storyboard__part__next-line--next {
				&:not(.segment-storyboard__part__next-line--opposite) {
					&::before {
						display: none;
					}
				}
				&.segment-storyboard__part__next-line--opposite {
					&::before {
						border-color: transparent transparent transparent $general-next-color;
					}
				}
				&::after {
					border-color: transparent transparent transparent $general-next-color;
				}
			}
		}

		&--end-of-show {
			&::before {
				display: block !important;
				border: none !important;
				border-left: 1px solid $part-start-color !important;
				top: 0 !important;
				left: 2px !important;
				bottom: 0 !important;
				width: 0 !important;
				height: auto !important;
			}
			&::after {
				display: none !important;
			}
		}
	}

	> .segment-storyboard__part__next-line-label {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 0.9em;
		white-space: nowrap;
		word-wrap: none;
		color: $part-start-color;
		padding: 3px 0.3em 1px;
		z-index: 5;

		&.segment-storyboard__part__next-line-label--live {
			background: $general-live-color;
			color: #fff;
			text-align: center;
			right: 0.2rem;
			left: 0.3rem;
			border-radius: 4px 4px 0 0;
		}

		&:not(.segment-storyboard__part__next-line-label--opposite).segment-storyboard__part__next-line-label--next {
			background: $general-next-color;
			color: #000;
			right: auto;
			padding: 3px 0 1px 2px;
			border-radius: 4px 2px 2px 0;

			&::after {
				content: ' ';
				border-color: transparent transparent transparent $general-next-color;
				display: block;
				position: absolute;
				bottom: 0;
				left: auto;
				right: -8px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 9px 0 9px 9px;
			}

			&.segment-storyboard__part__next-line-label--autonext {
				padding: 3px 5px 1px 0.1em;
				border-radius: 4px 1em 1em 0;

				&::after {
					display: none;
				}
			}
		}

		&:not(.segment-storyboard__part__next-line-label--next):not(
				.segment-storyboard__part__next-line-label--live
			).segment-storyboard__part__next-line-label--autonext,
		&.segment-storyboard__part__next-line-label--opposite {
			font-weight: 400;
			top: 5px;
			left: -1px;
			font-size: 0.9em;
		}

		&:not(.segment-storyboard__part__next-line-label--next).segment-storyboard__part__next-line-label--quickloop-start {
			margin-left: 2px;
		}

		&.segment-storyboard__part__next-line-label--next.segment-storyboard__part__next-line-label--quickloop-start {
			margin-left: -2px;
		}

		&.segment-storyboard__part__next-line-label--opposite {
			left: 100% !important;

			&.segment-storyboard__part__next-line-label--next {
				color: $general-next-color;
				font-weight: 500;

				&:not(.segment-storyboard__part__next-line-label--autonext) {
					top: 3px;
				}
			}

			&:not(.segment-storyboard__part__next-line-label--autonext) {
				padding-left: 10px;
			}
		}
	}

	> .segment-storyboard__part__quickloop-start {
		border-left: 3px solid white;
		border-right: 1px solid white;
		display: block;
		position: absolute;
		top: 7px;
		bottom: 0;
		left: -2px;
		width: 6px;
		z-index: 5;
		background: $segment-background-color;
	}

	&--next > .segment-storyboard__part__quickloop-start {
		border-color: $general-next-color;
	}

	> .segment-storyboard__part__quickloop-end {
		border-left: 1px solid white;
		border-right: 3px solid white;
		display: block;
		position: absolute;
		top: 7px;
		bottom: 0;
		right: -4px;
		width: 6px;
		z-index: 4;
		background: $segment-background-color;
	}

	> .segment-storyboard__part__bottom-left {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: row;
		align-items: flex-end;

		> .segment-storyboard__part__quickloop-background {
			position: absolute;
			z-index: -2;
			min-height: 1em;
			background-image: linear-gradient(to right, white 20%, rgba(255, 255, 255, 0) 0%);
			background-position: center left;
			background-size: 10px 2px;
			background-repeat: repeat-x;
			left: $part-left-padding;
			right: $part-left-padding;
			bottom: 1px;
		}

		> .segment-storyboard__identifier {
			z-index: -1;
			padding: 0 4px 0 12px;
			font-size: 0.85rem;
			box-sizing: border-box;
			background-color: $part-identifier;
			border-radius: 0 10px 10px 0;
			color: $part-identifier-text;
		}
	}

	.segment-storyboard__part__quickloop-start-icon,
	.segment-storyboard__part__quickloop-end-icon {
		background: $segment-background-color;
		padding: 0 0.3em;
		white-space: nowrap;
		color: white;
		margin-bottom: -1px;
	}

	&--quickloop-start {
		.segment-storyboard__part__quickloop-start-icon:first-child {
			padding-left: 0.6em;
		}
	}

	&--quickloop-end + &,
	&--quickloop-end + .segment-storyboard__part-list--squished-parts > &:last-child {
		> .segment-storyboard__part__next-line {
			margin-left: 3px;
			z-index: 6;
		}
		> .segment-storyboard__part__next-line-label {
			margin-left: 3px;
		}
	}

	.segment-storyboard__part__quickloop-end-icon {
		padding-right: 3px;
	}

	> .segment-storyboard__part__bottom-right {
		display: flex;
		flex-direction: row;
		margin-left: auto;
		align-items: flex-end;
		position: absolute;
		bottom: 0;
		right: 0;

		> .segment-storyboard__part-timer {
			margin-right: $part-left-padding;
			padding-left: 3px;
			text-align: right;
			z-index: 2;
			white-space: nowrap;
			background: $segment-background-color;
			color: #888;
			font-size: 0.9em;

			opacity: 1;
			visibility: visible;

			> .rundown-view__part__icon.rundown-view__part__icon--auto-next {
				top: -0.2em;
				margin-right: 0.2em;
			}

			@keyframes segment-storyboard__part-timer--fadeIn {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}

			&--live {
				font-size: 1.2em;
				line-height: 1em;
				font-weight: 500;
				color: $liveline-timecode-color;
				opacity: 1;

				> .overtime {
					color: $general-late-color;
				}
			}
		}
	}

	> .segment-storyboard__part__segment-end,
	> .segment-storyboard__part__show-end {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 100%;
		margin-left: 10px;
		visibility: visible;
		opacity: 1;
		transition:
			visibility 0s,
			opacity 0.2s;

		> .segment-storyboard__part__segment-end__label,
		> .segment-storyboard__part__show-end__label {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			white-space: nowrap;
			text-transform: uppercase;
			font-size: 0.9em;

			> svg > path {
				stroke: $part-start-color;
			}
		}

		&.segment-storyboard__part__segment-end--next {
			> .segment-storyboard__part__segment-end__label {
				> svg > path {
					stroke: $general-next-color;
				}
			}
		}
	}

	> .segment-storyboard__part__transitions {
		position: absolute;
		top: 1.5rem;
		left: $part-left-padding;

		width: fit-content;

		.segment-storyboard__part__piece {
			border-radius: 0;
			cursor: default;
			width: fit-content;
		}
	}

	> .segment-storyboard__part__thumbnail.live-speak:hover,
	> .segment-storyboard__part__thumbnail.vt:hover {
		& + .segment-storyboard__part__transitions {
			display: none;
		}
	}

	> .segment-storyboard__part__invalid-cover {
		position: absolute;
		top: 0;
		left: 1px;
		bottom: 0;
		right: 1px;
		z-index: 1;
		pointer-events: all;
		background-image:
			repeating-linear-gradient(
				45deg,
				var(--invalid-reason-color-transparent) 0%,
				var(--invalid-reason-color-transparent) 5px,
				var(--invalid-reason-color-opaque) 5px,
				var(--invalid-reason-color-opaque) 10px
			),
			repeating-linear-gradient(
				-45deg,
				var(--invalid-reason-color-transparent) 0%,
				var(--invalid-reason-color-transparent) 5px,
				var(--invalid-reason-color-opaque) 5px,
				var(--invalid-reason-color-opaque) 10px
			);
	}

	> .segment-storyboard__part__floated-cover {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
		pointer-events: none;
		background-image: repeating-linear-gradient(
			-45deg,
			transparent 0%,
			transparent 8px,
			color.scale($part-start-color, $lightness: -50%) 8px,
			color.scale($part-start-color, $lightness: -50%) 10px
		);
		backdrop-filter: saturate(0%) brightness(50%);
	}
}

.segment-storyboard
	> .segment-storyboard__part-list__container
	> .segment-storyboard__part-list
	> .segment-storyboard__part-list.segment-storyboard__part-list--squished-parts {
	> .segment-storyboard__part {
		max-width: $segment-storyboard-part-width;
		position: absolute;
		z-index: 1;

		$squished-shadow: 0 0 10px rgba(0, 0, 0, 1);
		transition: filter 0.2s 0s ease-out;

		&.background {
			filter: brightness(0.3);
		}

		> .segment-storyboard__part__bottom-line > .segment-storyboard__identifier,
		> .segment-storyboard__part__thumbnail,
		> .segment-storyboard__part__secondary-pieces
			> .segment-storyboard__part__output-group
			> .segment-storyboard__part__source-layer
			> .segment-storyboard__part__piece {
			box-shadow: $squished-shadow;
		}

		> .segment-storyboard__part__bottom-line .segment-storyboard__part-timer {
			visibility: hidden;
			opacity: 0;
		}

		/* Only child */
		&:first-child:last-child {
			> .segment-storyboard__part__bottom-line .segment-storyboard__part-timer {
				visibility: visible;
				opacity: 1;
			}
		}

		> .segment-storyboard__part__segment-end,
		> .segment-storyboard__part__show-end {
			transition:
				visibility 0s,
				opacity 0s;
			visibility: hidden;
			opacity: 0;
		}
	}

	&.hover {
		> .segment-storyboard__part {
			filter: brightness(0.3);

			&.hover {
				filter: brightness(1);
				transition: filter 0s;
				z-index: 3;

				> .segment-storyboard__part__bottom-line .segment-storyboard__part-timer {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
}
