_gsdata_/
settings.json
meteor/.coverage/
node_modules
**/yarn-error.log
scratch/

# Exclude JetBrains IDE specific files
.idea

# Exclude TV2-specific things:
.github/workflows/automerge.yml
.github/workflows/deps.yaml
.github/workflows/forkSync.yml
.github/workflows/forkSynk.yml

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
