// Variables
$text-color: #ffffff;
$font-size-base: 70px;
$text-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
$letter-spacing: 0.02em;

@mixin layer-type-backgrounds {
	@each $layer-type in $layer-types {
		&.#{$layer-type} {
			// Background:
			display: inline-block;
			width: 207px;
			height: 126px;
			line-height: 126px;

			background-color: var(--segment-layer-background-#{$layer-type});

			&.second {
				background-color: var(--segment-layer-background-#{$layer-type}--second);
			}
		}
	}
}

// Base icon styles
.clock-view-piece-icon {
	// Text styles:
	fill: $text-color;
	font-family: Roboto Flex;
	filter: drop-shadow($text-shadow);
	font-size: $font-size-base;
	font-weight: 300;
	letter-spacing: $letter-spacing;

	span {
		// Common styles
		@include layer-type-backgrounds; // Apply to all span elements that have layer type classes
	}

	.live-speak {
		--vt-color-light: color-mix(in srgb, var(--segment-layer-background-#{'vt'}) 90%, white);
		--camera-color-light: color-mix(in srgb, var(--segment-layer-background-#{'camera'}) 90%, white);

		background-image: linear-gradient(to bottom, var(--vt-color-light) 50%, var(--camera-color-light) 50%);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// Split view specific styles
	.upper,
	.lower {
		&.camera {
			@include item-type-colors-svg();
		}
		&.remote {
			@include item-type-colors-svg();
		}
		&.remote.second {
			@include item-type-colors-svg();
		}
	}
}
