.btn-tight,
.btn {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  line-height: 18px;
  margin: 0;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s, border 0.2s;
  vertical-align: text-bottom;
  white-space: nowrap;
  letter-spacing: .5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn:hover,
.btn:link:hover,
.btn:hover span {
  text-decoration: none;
}

.btn-icon-left {
  padding-left: 10px;
}

.btn-icon-right {
  padding-right: 10px;
}

.btn-tight {
  height: 26px;
  padding: 3px 8px;
}

.btn-tight.btn-icon-left {
  padding-left: 3px;
}

.btn-tight.btn-icon-right {
  padding-right: 3px;
}

.btn-secondary,
.btn-secondary:visited {
  background: transparent;
  border: 1px solid rgba($form-control-color, 0.5);
  color: $form-control-color;

  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-secondary:hover {
  border-color: rgba($form-control-hover-color, 0.5);
  color: $form-control-hover-color;
}

.btn-primary,
.btn-primary:visited {
  background: $primary-bg-color;
  border: 1px solid $primary-bg-color;
  color: $primary-fg-color;
}

.btn-primary:hover {
  background: $primary-hover-bg-color;
  border-color: $primary-hover-bg-color;
  color: $primary-hover-fg-color;
  text-decoration: none;
}

.btn-big {
  width: 100%;
}

.btn-compact {
  padding-left: 10px;
  padding-right: 10px;
}

.btn .icon {
  vertical-align: top;
}

.btn:disabled,
.btn-tight:disabled{
  pointer-events: none;
  color: $form-control-disabled-color;
  border-color: rgba($form-control-disabled-color, 0.5);
  background-color: transparent;
}

.dark {
  .btn-secondary,
  .btn-secondary:link,
  .btn-secondary:visited {
    border-color: rgba($dark-form-control-color, 0.5);
    color: $dark-form-control-color;
  }

  .btn-secondary:hover {
    border-color: rgba($dark-form-control-hover-color, 0.5);
    color: $dark-form-control-hover-color;
  }

  .btn-primary:link {
    color: $primary-fg-color;
  }

  .btn:disabled,
  .btn-tight:disabled{
    color: $dark-form-control-disabled-color;
    border-color: rgba($dark-form-control-disabled-color, 0.5);
  }
}
