.cal-year,
.cal-year.text-input {
  font-weight: bold;
  text-align: center;
  width: 5em;
  padding: 6px 6px 6px 1em;
}

.cal-table th {
  font-weight: normal;
}

.cal-table td,
.cal-table th {
  text-align: center;
}

.cal-table th,
.cal-table td {
  border: none;
}

.cal-table p {
  margin: 6px 0;
}

.cal-table button {
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
}

.cal-selected {
  border: 1px solid #737373;
  border-radius: 50%;
  color: #252627;
  font-weight: bold;
}

.cal-selected-mon {
  color: #252627;
  font-weight: bold;
}
