/* Expanding text areas */
.elastic-input {
  display: block;
  position: relative;
}

.elastic-input .sizer,
.elastic-input .input {
  display: block;
  padding: 0;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-spacing: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  text-indent: inherit;
  text-transform: inherit;
  background: none;
  border: none;
}

.elastic-input .sizer {
  padding-bottom: 2px;
  visibility: hidden;
}

.elastic-input .input {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  resize: none;
  top: 0;
  width: 100%;
}
