.process-progress {
  position: relative;
}

.pp-item {
  color: $color-medium-grey;
  display: inline-block;
  min-width: 100px;
  padding-top: 25px;
  position: relative;
  text-align: center;
  font-family: Roboto, arial, sans-serif;
  font-weight: 300;
}

.pp-line {
  border-style: none;
  border-width: 0px;
  border-top-style: solid;
  border-top-color: $color-medium-grey;
  border-top-width: 1px;
  right: 45%;
  position: absolute;
  top: 16px;
  width: 100%;
}

.pp-item-optional{
  color: $color-light-grey;
}

.pp-item-optional .pp-line-dashed {
  border-style: none;
  border-width: 0px;
  border-top-style: dashed;
  border-top-color: $color-light-grey;
  border-top-width: 1px;
  right: 45%;
  position: absolute;
  top: 16px;
  width: 100%;
}

@media #{$medium-up} {
  .pp-item {
    min-width: 150px;
  }
}

.pp-step-indicator {
  background-color: $bg-color;
  border-color: transparent;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  display: block;
  height: 16px;
  left: 50%;
  margin-left: -10px;
  padding-top: 0px;
  position: absolute;
  top: 8px;
  width: 16px;
  box-shadow: 0 0 0 6px $bg-color;
}

.pp-step-indicator .icon{
  margin-top: -7px;
  margin-left: -3px;
}

.dark {
  .pp-item {
    color: $color-light-grey;
  }

  .pp-line{
    border-top-color: $color-light-grey;
  }
  .pp-step-indicator {
    background-color: $dark-bg-color;
    box-shadow: 0 0 0 6px $dark-bg-color;
  }

  .pp-item-current .pp-step-indicator {
    box-shadow: 0 0 0 6px $dark-bg-color;
  }

  .pp-item-optional{
    color: $color-grey;
  }

  .pp-item-optional .pp-line-dashed {
    border-top-color: $color-grey;
  }
}

.darker {

  .pp-step-indicator {
    background-color: $color-darker-black;
    box-shadow: 0 0 0 6px $color-darker-black;
  }

  .pp-item-current .pp-step-indicator {
    box-shadow: 0 0 0 6px $color-darker-black;
  }


}

.dark, .darker{

}

.pp-item.pp-item-complete {
  color: $color-medium-blue;
}

.pp-item.pp-item-complete .pp-line, .pp-item.pp-item-current .pp-line {
  border-top-color: $color-medium-blue;
}

.pp-item.pp-item-current {
  color: $color-medium-blue;
}

.pp-item-current .pp-step-indicator {
  border: 1px solid $color-medium-blue;
  border-radius: 8px;
  box-shadow: 0 0 0 6px $bg-color;
}