
$spinner-anim-time: 1.2s;
$spinner-size-stroke-max: 2px;
$spinner-size-stroke-min: 0px;
$spinner-diameter-small: 16px;
$spinner-diameter-medium: 20px;
$spinner-diameter-large: 30px;

@mixin sp-stroke($color-name, $color-light, $color-dark) {
  stroke: $color-light;
  @keyframes #{$color-name}-spinner-stroke{
    0%
    {
      stroke-width: $spinner-size-stroke-max;
      stroke: $color-light;
    }
    50%
    {
      stroke-width: $spinner-size-stroke-min;
      stroke: $color-dark;
    }
    100%
    {
      stroke-width: $spinner-size-stroke-max;
      stroke: $color-light;
    }
  }
  animation-name: #{$color-name}-spinner-stroke;
}

@mixin sp-size($sp-size, $sp-diameter) {
  $sp-circumference: ($sp-diameter * 3.142);
  $sp-svg-width: $sp-diameter + ($spinner-size-stroke-max*2);
  $sp-svg-height: $sp-svg-width;
  width: $sp-svg-width;
  height: $sp-svg-height;




  .origo-spinner-svg{
    margin-top: -$sp-svg-height/2;
    width: $sp-svg-width;
    height: $sp-svg-height;
  }
  .origo-spin-circle {

    cx: $sp-svg-width/2;
    cy: $sp-svg-height/2;
    r: $sp-diameter/2;
    stroke-dasharray: $sp-circumference;
    stroke-dashoffset: ($sp-circumference/3);
  }

  @keyframes #{$sp-size}-spinner-dash{
    0%
    {
      stroke-dasharray: $sp-circumference,$sp-circumference;
      stroke-dashoffset: 0;
    }
    50%
    {
      stroke-dasharray: $sp-circumference,$sp-circumference;
      stroke-dashoffset: $sp-circumference;
    }
    100%
    {
      stroke-dasharray: $sp-circumference,$sp-circumference;
      stroke-dashoffset: 0;
    }
  }

  animation-name: #{$sp-size}-spinner-dash;
}

.origo-spinner, .origo-spinner.sp-medium{
  display: inline-flex;
  //display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  /*
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
  */
  @include sp-size("sp-medium", $spinner-diameter-medium);
}

.origo-spinner.sp-small{
  @include sp-size("sp-small", $spinner-diameter-small);
}

.origo-spinner.sp-large{
  @include sp-size("sp-large", $spinner-diameter-large);
}

.origo-spinner-svg{

  position: relative;
  top: 20%;

  animation-name: spinner-rotate;
  animation-duration: $spinner-anim-time;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-out;
  transform-origin: center center;
}

.origo-spin-circle{
  animation-duration: $spinner-anim-time;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-out;

  fill: rgba(0,0,0,0);
  stroke-width: $spinner-size-stroke-max;
  stroke-linecap: round;
  @include sp-stroke("sp-blue", $color-medium-blue, $color-blue);
}

.origo-spinner.sp-white .origo-spin-circle{
  @include sp-stroke("sp-white", $color-white, $color-light-grey);
}

.origo-spinner.sp-mint .origo-spin-circle{
  @include sp-stroke("sp-mint", $color-mint, $color-dark-mint);
}

.origo-spinner.sp-pink .origo-spin-circle{
  @include sp-stroke("sp-pink", $color-light-pink, $color-pink);
}

.origo-spinner.sp-purple .origo-spin-circle{
  @include sp-stroke("sp-purple", $color-medium-purple, $color-purple);
}

@keyframes spinner-rotate{
  0%
  {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50%
  {
    -ms-transform: rotate(585deg);
    transform: rotate(585deg);
  }
  100%
  {
    -ms-transform: rotate(765deg);
    transform: rotate(765deg);
  }
}