.switch-button {
  vertical-align: middle;
  display: inline-block;
  height: 32px;
  width: 66px;
  cursor: pointer;
}

.switch-button.sb-disabled{
  cursor: default;
}

.sb-content {
  position: relative;
  top: 0px;
  left: 0px;
  width: 66px;
  height: 32px;
  border-radius: 15px;
}

.sb-label {
  background-color: $color-grey;
  top: 0px;
  left: 0px;
  width: 66px;
  height: 32px;
  border-radius: 16px;
  line-height: 32px;

  color: $bg-color;
  font-size: 0.875rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: background-color 0.3s, color 0.3s;
}

.sb-on .sb-label {
  background-color: $primary-color;
}

.sb-switch {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: $bg-color;
  transition: transform 0.3s;
}

.sb-on .sb-switch {
  transform: matrix(1, 0, 0, 1, 34, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 34, 0);
}

.sb-disabled .sb-label{
  color: $color-white;
  background-color: $color-light-grey;
}

.dark .sb-disabled .sb-label
{
  color: $dark-bg-color;
  background-color: $color-grey;
}

.sb-disabled .sb-switch{
  background-color: $color-white;
}

.dark .sb-disabled .sb-switch
{
  background-color: $dark-bg-color;
}
