.properties-grid {
	display: grid;
	grid-auto-columns: fit-content(350px) minmax(350px, 1fr) fit-content(350px) minmax(max-content, 100px);
	gap: 0 10px;
	margin-left: 10px;

	&:not(:first-child) {
		margin-top: 20px;
	}
}

.properties-grid > :not(.field) {
	grid-column: 1 / 5;
}

.properties-grid > .field {
	display: contents;
}

.properties-grid > .field > :nth-child(n + 2):not(.field-hint) {
	grid-column: auto;
}

.properties-grid > .field::after {
	display: block;
	content: '';
	margin-bottom: 20px;
	grid-column: 1 / 5;
}

.properties-grid > .field > .field-hint {
	grid-column: 1 / 5;
}

.properties-grid > .field > .label-actual {
	display: flex;
	align-items: center;
}
