node_modules/**
public/images/media/**
src/**/*.js
src/**/*.js.map
coverage
settings.json
server/_force_restart.js

# Ignore TV2-features:
client/styles/tv2
client/ui/Shelf/Keyboard

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

