@import '../_variables';

.rundown-view-shelf.dashboard-panel {
	width: auto;
	margin: 0 1.5em;
	padding: 0;
	position: relative;
	background: none;
	border: none;

	.rundown-view-shelf__identifier {
		display: none;
	}

	.dashboard-panel__panel__button {
		> .dashboard-panel__panel__button__content {
			display: grid;
			grid-template-columns: 1fr min-content;
			grid-template-rows: 1fr;
			grid-template-areas: '. .';

			> .dashboard-panel__panel__button__label-container {
				padding: 2px 4px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				grid-row: 2;

				> .dashboard-panel__panel__button__label {
					top: unset;
				}
			}

			> .dashboard-panel__panel__button__thumbnail {
				position: relative;
				height: auto;
				z-index: 1;
				overflow: hidden;
				grid-column: auto / span 2;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					display: block;
				}
			}

			> .dashboard-panel__panel__button__sub-label {
				display: block;
				margin: 1px 3px 0 3px;
				padding: 0 2px 0 2px;
				color: #ffff00;
				font-size: 1.17em;
				font-family: 'Roboto Condensed', sans-serif;
				text-shadow: 0px 0px 2px rgba(0, 0, 0, 1), 0px 0px 1px rgba(0, 0, 0, 1);
				z-index: 2;
				grid-column: 2;
				grid-row: 2;
				white-space: nowrap;
			}

			> .dashboard-panel__panel__button__hotkey {
				display: block;
				position: absolute;
				left: 4px;
				top: 4px;
				border-radius: 2px;
				width: 18px;
				height: 18px;
				color: black;
				z-index: 1;
				text-align: center;
				font-weight: 600;
				line-height: 19px;
				font-size: 1.3em;

				&::before {
					content: ' ';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					background: rgb(255, 255, 255);
					background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(118, 118, 118, 1) 100%);
					border-radius: 3px;
					z-index: -1;
				}

				&::after {
					content: ' ';
					display: block;
					position: absolute;
					top: 1px;
					left: 1px;
					bottom: 1px;
					right: 1px;
					background: rgb(255, 255, 255);
					background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(198, 198, 198, 1) 100%);
					border-radius: 3px;
					z-index: -1;
				}
			}
		}

		&::before {
			display: block;
			position: absolute;
			border-radius: 4px;
			content: '';
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
			z-index: 4;
		}

		&.vt {
			.dashboard-panel__panel__button__label-container {
				top: unset;
			}
		}

		&.graphics {
			.dashboard-panel__panel__button__label-container {
				grid-row: 1;
				white-space: normal;
				padding-left: 26px;
			}
		}
	}
}

.segment-timeline + .rundown-view-shelf {
	padding: 5px;
	padding-left: 12.5em;
}
