	   /** Stream Deck Original, button size 72px */
@media screen and (width: 360px) and (height: 216px),
	   /** Stream Deck XL, button size 96px */
	   screen and (width: 768px) and (height: 384px),
	   /** Stream Deck Mini, button size 80px */
	   screen and (width: 240px) and (height: 160px) {

	#render-target > .container-fluid > .rundown-view {
		background: #000;

		> .rundown-view__label {
			> p {
				display: none;
			}
		}

		&.rundown-view--unpublished {
			> .rundown-view__label {
				&::before {
					display: block;
					position: absolute;
					content: '...';
					color: #fff;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}

		&.rundown-view--loading {
			> .mod.mhl.mvl.alc {
				transform: translate(-160%, -135%);
			}
		}
	}

	#render-target > .container-fluid > .rundown-view__shelf.dark.full-viewport {
		background: #000;
	}

	#render-target > .container-fluid > .rundown-view__shelf.dark.full-viewport > .dashboard {
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow: hidden;
		
		.dashboard-panel {
			padding: 0;
			margin: 0;
			background: #252627;
			
			.dashboard-panel__header {
				display: none;
			}

			.adlib-panel__list-view__toolbar {
				display: none;
			}

			.dashboard-panel__panel {
				margin: 0 -2px 0 0;
				max-height: 100%;
				overflow: hidden;

				> .dashboard-panel__panel__button {
					> .dashboard-panel__panel__button__label {
						top: 4px;
					}
				}
			}
		}
	}
}

/** Stream Deck Original */
@media screen and (width: 360px) and (height: 216px) {
	#render-target > .container-fluid > .rundown-view__shelf.dark.full-viewport > .dashboard {
		--dashboard-button-grid-width: 1.5em;
		--dashboard-button-grid-height: 1.5em;
		--dashboard-panel-margin-width: 0em;
		--dashboard-panel-margin-height: 0em;
	
		.dashboard-panel > .dashboard-panel__panel > .dashboard-panel__panel__button {
			width: 71px;
			height: 71px;
			margin: 0px 1px 1px 0px;
			font-size: 13px;
		}
	}
}

/** Stream Deck XL */
@media screen and (width: 768px) and (height: 384px) {
	#render-target > .container-fluid > .rundown-view__shelf.dark.full-viewport > .dashboard {
		--dashboard-button-grid-width: 2.007em;
		--dashboard-button-grid-height: 2.007em;
		--dashboard-panel-margin-width: 0em;
		--dashboard-panel-margin-height: 0em;

		.dashboard-panel > .dashboard-panel__panel > .dashboard-panel__panel__button {
			width: 95px;
			height: 95px;
			margin: 0px 1px 1px 0px;
			font-size: 15px;
		}
	}
}

/** Stream Deck Mini */
@media screen and (width: 240px) and (height: 160px) {
	#render-target > .container-fluid > .rundown-view__shelf.dark.full-viewport > .dashboard {
		--dashboard-button-grid-width: 1.669em;
		--dashboard-button-grid-height: 1.669em;
		--dashboard-panel-margin-width: 0em;
		--dashboard-panel-margin-height: 0em;

		.dashboard-panel > .dashboard-panel__panel > .dashboard-panel__panel__button {
			width: 79px;
			height: 79px;
			margin: 0px 1px 1px 0px;
			font-size: 13px;
		}
	}
}