@import "../colorScheme";
@import "../itemTypeColors";

.dashboard {
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
	overflow: auto;
}

.dashboard-panel {
	position: absolute;
	background: rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	user-select: none;

	.dashboard-panel__header {
		margin: 0 0 10px;
		padding: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 1.1em;
	}

	.dashboard-panel__panel {
		font-size: 0.8em;
		margin: -4px;
		overflow: overlay;
    	max-height: calc(100% - 12px);
	}

	.dashboard-panel__panel__button {
		display: inline-flex;
  		align-items: flex-end;
		position: relative;
		background: #000;
		border-radius: 3px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: normal;
		line-break: loose;
		word-break: break-all;
		width: 82px;
		height: 72px;
		border: none;
		margin: 4px;
		vertical-align: top;
		cursor: pointer;

		@include item-type-colors();
		@include invalid-overlay();
		@include missing-overlay();

		&.live {
			@keyframes button-flash {
				0% {
					opacity: 1;
				}
				50% {
					opacity: 1;
				}
				50.001% {
					opacity: 0;
				}
				100% {
					opacity: 0;
				}
			}

			&::before {
				content: ' ';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background: rgba(255, 255, 255, 0.3);
				z-index: 10;
				// animation: 2s button-flash normal infinite;
			}
		}

		&:active {
			&::before {
				content: ' ';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background: rgba(0, 0, 0, 0.2);
				z-index: 10;
			}
		}

		> .dashboard-panel__panel__button__label {
			position: absolute;
			
			vertical-align: bottom;
			max-height: calc(100% - 4px);

			left: 4px;
			max-width: calc(100% - 8px);
			text-align: left;
			hyphens: auto;
			-webkit-hyphens: auto;
			-ms-hyphens: auto;
			text-transform: uppercase;
			font-weight: 400;
			text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
			z-index: 2;
		}

		> .dashboard-panel__panel__button__thumbnail {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: auto;
			z-index: 1;
		}

		> .dashboard-panel__panel__button__sub-label {
			position: absolute;
			top: 2px;
			right: 4px;
			font-size: 8px;
			text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
			z-index: 2;
		}
	}
}