.external-frame-panel {
	position: absolute;

	.external-frame-panel__iframe {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border: none;
		width: 100%;
		height: 100%;
	}
}

.dashboard {
	.external-frame-panel {
    	margin: 0.625rem;
	}
}