.shelf-inspector {
	overflow-y: auto;
	overflow-x: hidden;

	> dl {
		margin: 0 0.5em;

		> dd {
			margin: 0;
			font-weight: 400;
		}

		> dt {
			margin: 0 0 0 1em;
		}
	}
}

.rundown-view__shelf .rundown-view__shelf__contents > .rundown-view__shelf__contents__pane.shelf-inspector {
	flex: 0.3 1;
	min-width: 300px;
	max-width: 400px;
}