@import "../colorScheme";

.part-countdown-panel {
	position: absolute;
	user-select: none;
	margin: 0.35rem;

	.part-countdown-panel__timecode {
		font-size: 1.5em;
		color: $general-timecode-color;
		font-weight: 500;
		white-space: nowrap;

		&.overtime {
			color: $general-late-color;
		}
	}
}
