@import '../variables';

.rundown-view__shelf {
	position: fixed;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
	justify-items: stretch;
	top: 100vh;
	left: 0;
	right: 60px;
	bottom: 0;
	z-index: 291;
	box-shadow: 0 0 20px #000;

	&.full-viewport {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		box-shadow: none;
		touch-action: none;
	}

	.rundown-view__shelf__handle {
		position: absolute;
		top: 0;
		left: 50%;
		width: 80px;
		height: 80px;
		transform: translate(-50%, -49.5%);
		border-radius: 100% 100% 0 0;
		clip-path: polygon(-20% -20%, 120% -20%, 120% 50%, -20% 50%);
		-webkit-clip-path: polygon(-20% -20%, 120% -20%, 120% 50%, -20% 50%);
		box-shadow: 0 0 20px #000;
		cursor: row-resize;
		touch-action: none;

		text-align: center;
		padding-top: 0.5em;
		font-size: 1.3em;
		color: #444;

		&:hover {
			transition: 0.2s color;
			color: #777;
		}
	}

	&.moving {
		.rundown-view__shelf__handle {
			cursor: row-resize;
		}
	}

	.rundown-view__shelf__contents {
		flex: 1 1;
		display: flex;
		overflow: hidden;

		> .rundown-view__shelf__contents__pane {
			position: relative;
			flex: 0 1;
			margin-left: 10px;
			min-width: 0;

			> .rundown-view__shelf__contents__pane__divider {
				position: absolute;
				top: 0;
				left: -10px;
				width: 10px;
				bottom: 0;
				user-select: none;
				touch-action: none;
				cursor: ew-resize;
				overflow: hidden;

				> .rundown-view__shelf__contents__pane__handle {
					position: absolute;
					top: 50%;
					left: 0.4em;
					transform: translate(-50%, -50%) rotate(90deg);
					color: #777;
					font-size: 0.7em;
				}

				&:hover {
					background: rgba(255, 255, 255, 0.2);

					> .rundown-view__shelf__contents__pane__handle {
						color: #fff;
					}
				}
			}

			&.fill {
				flex: 1 1;
				margin-left: 0;
			}

			> div.react-contextmenu-wrapper > .dashboard-panel__panel--bucket,
			> .dashboard-panel__panel--bucket {
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
			}
		}
	}

	.rundown-view__shelf__tabs {
		flex: 0 0;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-items: left;
		min-height: $inspector-shelf-tabs-height;

		.rundown-view__shelf__tabs__tab-group {
			display: flex;
			flex-grow: 0;
			flex-shrink: 1;
			overflow: hidden;
		}

		.rundown-view__shelf__tabs__tab {
			position: relative;
			flex: 1 1;
			max-width: 7em;
			min-width: 13em;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			text-align: center;
			color: #8f8f8f;
			line-height: $inspector-shelf-tabs-height;
			cursor: pointer;
			user-select: none;

			&:hover {
				color: #fff;
				transition: 0.3s;
			}

			&.selected {
				color: #fff;
				font-weight: 500;
				text-shadow: 0 0 5px #000;

				&::after {
					content: ' ';
					display: block;
					position: absolute;
					width: 20px;
					height: 9px;
					left: 50%;
					bottom: 0;
					transform: translate(-50%, 1px);
					background: #000000;
					clip-path: polygon(50% 0, 100% 101%, 0 101%);
					-webkit-clip-path: polygon(50% 0, 100% 101%, 0 101%);
				}
			}
		}
	}

	.rundown-view__shelf__panel {
		flex: 1 1;
		position: relative;
		width: 100%;
		height: calc(100% - #{$inspector-shelf-tabs-height});

		& > * {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}
}
