.show-style-panel {
    position: absolute;

    .timing-clock {
        margin-right: 1.2em;
    }

    .name {
        font-weight: 400;

        &.overflow-ellipsis {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
        }
    }
}
