@import '../colorScheme';
$liveline-timecode-color: $general-countdown-to-next-color; //$general-live-color;
$hold-status-color: $liveline-timecode-color;

.piece__label__colored-mark {
	display: inline-block;
	background-color: currentColor;
	border-radius: 100%;
	width: 0.75em;
	height: 0.75em;
	margin-right: 0.125em;
	margin-left: 0.125em;
	line-height: 0.75em;
}

.director-screen {
	font-family: Roboto Flex;
	font-style: normal;

	.director-screen__top {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 19vh;
		padding-left: 10px;
		padding-top: 0px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: #3f3f3f;
		color: #888;
		font-size: 2.6em;
		padding: 0 0.2em;
		text-transform: uppercase;

		.director-screen__top__planned-end {
			text-align: left;
		}

		.director-screen__top__planned-to {
			text-align: left;
		}
		.director-screen__top__planned-since {
			margin-left: -50px;
		}

		.director-screen__top__over-under {
			margin-left: 5vw;
		}
	}

	.director-screen__body {
		position: fixed;
		top: 19vh;
		bottom: 0;
		left: 0;
		right: 0;
		color: #ffffff;

		font-size: 0.4vh;

		display: grid;
		grid-template: 4fr 3fr fit-content(1em) / auto;

		overflow: hidden;
		white-space: nowrap;

		.director-screen__body__part {
			display: grid;
			grid-template:
				24em
				80em
				20em / min(13vw, 27vh) auto;
			white-space: nowrap;

			.director-screen__body__segment-name {
				grid-row: 1;
				grid-column: 1 / -1;
				text-align: left;
				text-indent: 5px;
				letter-spacing: 0%;
				align-items: center;
				color: #fff;
				position: relative;
				font-size: 100px;
				height: 11vh;
				letter-spacing: 0.01em;
				font-feature-settings:
					'tnum' on,
					'liga' off;

				color: #ffffff;

				// Default Roboto Flex settings:
				font-variation-settings:
					'GRAD' 0,
					'XOPQ' 96,
					'XTRA' 468,
					'YOPQ' 79,
					'YTAS' 750,
					'YTDE' -203,
					'YTFI' 738,
					'YTLC' 548,
					'YTUC' 712,
					'opsz' 100,
					'slnt' 0,
					'wdth' 100,
					'wght' 550;

				text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
				box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
				z-index: 1;

				&.live {
					background: $general-live-color;
					text-shadow: 0px 0px 6px #000000;
				}

				&.next {
					background: $general-next-color;
					text-shadow: 0px 0px 6px #000000;
				}
				&.notext {
					background: $general-next-color;
					height: 2.2vh;
					margin-top: 8.7vh;
					text-shadow: 0px 0px 6px #000000;
				}
				.director-screen__body__segment__countdown {
					position: absolute;
					top: 0;
					right: 0px;
					height: 100%;
					width: 25vw;
					text-align: right;
					display: flex;
					justify-content: flex-end;
					align-items: center;
					padding-right: 30px;

					font-size: 110px;
					color: $general-countdown-to-next-color;
					font-variation-settings:
						'GRAD' 0,
						'XOPQ' 96,
						'XTRA' 468,
						'YOPQ' 79,
						'YTAS' 750,
						'YTDE' -203,
						'YTFI' 738,
						'YTLC' 548,
						'YTUC' 712,
						'opsz' 120,
						'slnt' 0,
						'wdth' 70,
						'wght' 500;

					background: linear-gradient(
						90deg,
						rgba(223, 0, 0, 0) 0%,
						#df000000 7.86%,
						rgba(116, 0, 0, 0.808) 16.21%,
						rgba(0, 0, 0, 0.8) 24.94%
					);
					.overtime {
						color: $general-fast-color;
						//text-shadow: 0px 0px 6px $general-fast-color--shadow;
						font-variation-settings:
							'GRAD' 0,
							'XOPQ' 96,
							'XTRA' 468,
							'YOPQ' 79,
							'YTAS' 750,
							'YTDE' -203,
							'YTFI' 738,
							'YTLC' 548,
							'YTUC' 712,
							'opsz' 100,
							'slnt' 0,
							'wdth' 70,
							'wght' 600;
					}
				}
			}

			.director-screen__body__rundown-countdown {
				grid-row: 2 / -1;
				grid-column: 1 / -1;

				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;

				font-size: 12vw;
			}

			.director-screen__body__part__piece-icon {
				grid-row: 2;
				grid-column: 1;
				padding: 0em;
				margin-left: 10px;
				margin-top: 1.4vh;

				text-align: center;
				display: flex;
				align-items: top;
				justify-content: left;

				> svg {
					flex-grow: 1;
				}
			}

			.director-screen__body__part__piece-content {
				grid-row: 2;
				grid-column: 2;
				display: flex;
				flex-direction: column;
				text-align: left;
				width: 87vw;

				.director-screen__body__part__piece-name {
					font-size: 13em;
					overflow: hidden;
					white-space: nowrap;
					padding-left: 0.2em;
					margin-top: 2.55vh;
					display: flex;
					align-items: top;
				}

				.director-screen__body__part__piece-content {
					font-size: 13em;
					padding: 0 0.2em;
					line-height: 1em;
					margin-top: 10px;
					color: $general-countdown-to-next-color;
				}

				/* Update next part styling if needed */
				.director-screen__body__part--next-part .director-screen__body__part__piece-content {
					grid-row: 2 / 4; /* Span both rows as in the original design */
				}

				.director-screen__body__part__piece-countdown {
					grid-row: inherit;
					text-align: left;
					font-size: 25em;
					font-feature-settings:
						'liga' off,
						'tnum' on;
					font-variation-settings:
						'GRAD' 0,
						'XOPQ' 96,
						'XTRA' 468,
						'YOPQ' 79,
						'YTAS' 750,
						'YTDE' -203,
						'YTFI' 738,
						'YTLC' 548,
						'YTUC' 712,
						'opsz' 120,
						'slnt' 0,
						'wdth' 70,
						'wght' 500;
					padding: 0 0.1em;
					line-height: 1em;
					display: flex;
					align-items: center;

					> .overtime {
						color: $general-late-color;
						font-variation-settings:
							'GRAD' 0,
							'XOPQ' 96,
							'XTRA' 468,
							'YOPQ' 79,
							'YTAS' 750,
							'YTDE' -203,
							'YTFI' 738,
							'YTLC' 548,
							'YTUC' 712,
							'opsz' 100,
							'slnt' 0,
							'wdth' 70,
							'wght' 600;
					}

					.auto-next-status {
						font-size: 0.5em;
						margin-left: 0.2em;
						margin-top: -4vh;
						color: $general-next-color;
						font-variation-settings:
							'GRAD' 0,
							'XOPQ' 96,
							'XTRA' 468,
							'YOPQ' 79,
							'YTAS' 750,
							'YTDE' -203,
							'YTFI' 738,
							'YTLC' 548,
							'YTUC' 712,
							'opsz' 100,
							'slnt' -20,
							'wdth' 70,
							'wght' 600;
					}

					.freeze-counter {
						color: $general-freeze-color;
						margin-left: 4vw;
						display: flex;
						align-items: center;
					}

					img.freeze-counter-icon {
						margin-top: -0.3em;
						width: 1em;
						height: 1em;
						vertical-align: middle;
						display: inline-block;
					}
				}
			}

			.director-screen__body__part__part-countdown {
				text-align: right;

				align-items: center;
				font-size: 13em;
				padding: 0 0.2em;
				line-height: 1em;

				> span {
					font-size: 2em;
					font-size: #{'min(2em, 20vw)'};
				}
			}

			.director-screen__body__part__piece-countdown,
			.director-screen__body__part__part-countdown {
				grid-column: 2;
				color: $general-countdown-to-next-color;
			}

			&.director-screen__body__part--next-part {
				.director-screen__body__part__piece-icon,
				.director-screen__body__part__piece-name {
					grid-row: 2;
				}
			}

			.director-screen__body__part__next-icon {
				clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
				// font-variation-settings: 'GRAD' 0, 'XOPQ' 96, 'XTRA' 468, 'YOPQ' 79, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738,
				// 	'YTLC' 548, 'YTUC' 712, 'slnt' 0, 'opsz' 3;
				letter-spacing: 0.05em;
				font-variation-settings:
					'GRAD' 0,
					'XOPQ' 96,
					'XTRA' 468,
					'YOPQ' 79,
					'YTAS' 750,
					'YTDE' -203,
					'YTFI' 738,
					'YTLC' 548,
					'YTUC' 712,
					'opsz' 30,
					'slnt' 0,
					'wdth' 70,
					'wght' 400;
			}
			.director-screen__body__part__auto-icon {
				border-radius: 0 25px 25px 0;
				// font-variation-settings: 'GRAD' 0, 'XOPQ' 96, 'XTRA' 468, 'YOPQ' 79, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738,
				// 	'YTLC' 548, 'YTUC' 712, 'slnt' -7, 'opsz' 3;
				letter-spacing: 0.05em;
				font-variation-settings:
					'GRAD' 0,
					'XOPQ' 96,
					'XTRA' 468,
					'YOPQ' 79,
					'YTAS' 750,
					'YTDE' -203,
					'YTFI' 738,
					'YTLC' 548,
					'YTUC' 712,
					'opsz' 30,
					'slnt' 0,
					'wdth' 70,
					'wght' 400;
			}
			.director-screen__body__part__next-icon,
			.director-screen__body__part__auto-icon {
				background-color: $general-next-color;
				text-transform: uppercase;
				justify-content: left;
				position: relative;
				grid-row: 1;
				grid-column: 1;
				margin-top: -50px;
				text-align: left;
				font-size: 2.2rem;
				font-weight: 900;
				color: #000;
				padding-top: 5px;
				padding-left: 8px;
				padding-right: 20px;
				width: fit-content;
				max-height: 50px;
				z-index: 1;
				font-stretch: 25;
			}
			.director-screen__body__part__next-icon--notext,
			.director-screen__body__part__auto-icon--notext {
				margin-top: 4.08vh !important; /* Override the default -50px when notext is true */
			}
		}

		.clocks-segment-countdown-red {
			color: $general-late-color;
		}

		.clocks-counter-heavy {
			font-weight: 600;
		}
	}
}
