$color-status-good: green;
$color-status-minor-warning: lime;
$color-status-warning: gold;
$color-status-bad: orangered;
$color-status-fatal: red;
$color-status-unknown: #777;

//$general-live-color: #FFE900;
$general-live-color: #e30000;
//$general-next-color: #FF0000;
$general-next-color:#3eca19;

//$general-live-remote-color: #8d008d;
$general-live-remote-color: #e80064;
$general-live-guest-color: #008a92;

$general-late-color: #FF0000;
$general-fast-color: #FF0000;

$general-clock: #49C0FB;

$ui-button-primary: #1769ff;
$ui-button-primary--hover: #0050e3;

$ui-dark-color: #252627;
