$color-status-good: green;
$color-status-minor-warning: lime;
$color-status-warning: gold;
$color-status-bad: orangered;
$color-status-fatal: red;
$color-status-unknown: #777;

$general-live-color: #F9FF16;
$general-next-color: #FF0000;

$general-live-remote-color: #8d008d;

$general-late-color: #FF0000;
$general-fast-color: #FF0000;
