.header {
	.links {
		> a {
			color: #fff;
			margin-left: 1em;
			> .icon {
				margin: -4px 0 -2px;
			}
		}
	}

	.badge {
		color: #fff;
		text-decoration: none;
		&:link,
		&:visited,
		&:active {
			color: #fff;
		}
		.sofie-logo {
			background: url('/images/sofie-logo-pride.svg') center center no-repeat;
			background-size: contain;
			width: 2em;
			height: 2em;
			margin-top: -0.5em;
		}
	}

	.dashboard {
		flex: 1 1;
		position: unset;
	}
}

.super-dark {
	background: #000000;
	color: #fff;
}
