$segment-timeline-background-color: #1F1F1F;

$segment-layer-background-unknown: #4b4b4b;
$segment-layer-background-camera:#18791c;
$segment-layer-background-lower-third: #ff6f00;
$segment-layer-background-graphics: #ef6800;
$segment-layer-background-live-speak: #00c800;
$segment-layer-background-remote: #e80064;
$segment-layer-background-script: #005a25;
$segment-layer-background-mic:#1e6820;
$segment-layer-background-vt: #1769ff;
$segment-layer-background-guest: #008a92;

@mixin item-type-colors {
	&.camera {
		background: $segment-layer-background-camera;

		&.second {
			background: darken($segment-layer-background-camera, 10%);
		}
	}

	&.graphics {
		background: $segment-layer-background-graphics;

		&.second {
			background: darken($segment-layer-background-graphics, 10%);
		}
	}

	&.lower-third {
		background: $segment-layer-background-lower-third;

		&.second {
			background: darken($segment-layer-background-lower-third, 10%);
		}
	}

	&.live-speak {
		background: linear-gradient(to bottom, $segment-layer-background-vt 50%, $segment-layer-background-camera 50.0001%);
	}

	&.vt {
		background: $segment-layer-background-vt;

		&.second {
			background: darken($segment-layer-background-vt, 10%);
		}
	}

	&.remote {
		background: $segment-layer-background-remote;

		&.second {
			background: darken($segment-layer-background-remote, 10%);
		}
	}

	&.script {
		background: $segment-layer-background-script;
	}

	&.mic {
		background: $segment-layer-background-guest;
	}
}

@mixin item-type-borders {
	&.camera {
		border-color: $segment-layer-background-camera;
	}

	&.graphics {
		border-color: $segment-layer-background-graphics;
	}

	&.lower-third {
		border-color: $segment-layer-background-lower-third;
	}

	&.live-speak {
		border-color: $segment-layer-background-live-speak;
	}

	&.vt {
		border-color: $segment-layer-background-vt;
	}

	&.remote {
		border-color: $segment-layer-background-remote;
	}

	&.script {
		border-color: $segment-layer-background-script;
	}

	&.mic {
		border-color: $segment-layer-background-mic;
	}
}

@mixin item-type-colors-svg {
	&.camera {
		fill: $segment-layer-background-camera;

		&.second {
			fill: darken($segment-layer-background-camera, 10%);
		}
	}

	&.graphics {
		fill: $segment-layer-background-graphics;

		&.second {
			fill: darken($segment-layer-background-graphics, 10%);
		}
	}

	&.lower-third {
		fill: $segment-layer-background-lower-third;
	}

	&.live-speak {
		fill: $segment-layer-background-live-speak;
	}

	&.vt {
		fill: $segment-layer-background-vt;

		&.second {
			fill: darken($segment-layer-background-vt, 10%);
		}
	}

	&.remote {
		fill: $segment-layer-background-remote;

		&.second {
			fill: darken($segment-layer-background-remote, 10%);
		}
	}

	&.script {
		fill: $segment-layer-background-script;
	}

	&.mic {
		fill: $segment-layer-background-mic;
	}
}

@mixin invalid-overlay {
	&.invalid {
		opacity: 0.5;
		background-color: #333;
		background-image:
			repeating-linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5px, rgba(0, 0, 0, 1) 5px, rgba(0, 0, 0, 1) 10px),
			repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5px, rgba(0, 0, 0, 1) 5px, rgba(0, 0, 0, 1) 10px);
	}
}

@mixin floated-overlay {

};

@mixin missing-overlay {
	
	&.source-broken, &.source-missing {
		&::after {
			content: ' ';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			mix-blend-mode: overlay; 
			background-image: repeating-linear-gradient(
			45deg,
			transparent,
			transparent 10px,
			black 11px,
			black 15px,
			transparent 16px
			);						
		}
	}

	&.source-broken {
		&::after {
			background-image: repeating-linear-gradient(
			-45deg,
			transparent,
			transparent 2px,
			rgba(0,0,0,.54) 3px,
			rgba(0,0,0,.54) 4px,
			transparent 5px
			);
		}
	}

	// Don't treat an unknown state as an issue
	/*  {
		background-blend-mode: overlay; 
		background-image: repeating-linear-gradient(
		45deg,
		transparent,
		transparent 10px,
		black 11px,
		black 15px,
		transparent 16px
		);
	} */
}