$segment-timeline-background-color: #1F1F1F;

$segment-layer-background-unknown: #4B4B4B;
$segment-layer-background-camera: #00C800;
$segment-layer-background-lower-third: #FF6F00;
//$segment-layer-background-graphics: #C27632;
$segment-layer-background-graphics: #F57600;
$segment-layer-background-live-speak: #00C800;
$segment-layer-background-remote: #FF0059;
$segment-layer-background-script: #1C721F;
$segment-layer-background-mic:#1C721F;
$segment-layer-background-vt: #1769FF;

@mixin item-type-colors {
	&.camera {
		background: $segment-layer-background-camera;
	}

	&.graphics {
		background: $segment-layer-background-graphics;
	}

	&.lower-third {
		background: $segment-layer-background-lower-third;
	}

	&.live-speak {
		background: $segment-layer-background-live-speak;
	}

	&.vt {
		background: $segment-layer-background-vt;
	}

	&.remote {
		background: $segment-layer-background-remote;
	}

	&.script {
		background: $segment-layer-background-script;
	}

	&.mic {
		background: $segment-layer-background-mic;
	}
}

@mixin item-type-colors-svg {
	&.camera {
		fill: $segment-layer-background-camera;
	}

	&.graphics {
		fill: $segment-layer-background-graphics;
	}

	&.lower-third {
		bacfillkfillground: $segment-layer-background-lower-third;
	}

	&.live-speak {
		fill: $segment-layer-background-live-speak;
	}

	&.vt {
		fill: $segment-layer-background-vt;
	}

	&.remote {
		fill: $segment-layer-background-remote;
	}

	&.script {
		fill: $segment-layer-background-script;
	}

	&.mic {
		fill: $segment-layer-background-mic;
	}
}

@mixin missing-overlay {
	
	&.source-broken, &.source-missing {
		&::after {
			content: ' ';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			mix-blend-mode: overlay; 
			background-image: repeating-linear-gradient(
			45deg,
			transparent,
			transparent 10px,
			black 11px,
			black 15px,
			transparent 16px
			);						
		}
	}

	// Don't treat an unknown state as an issue
	/*  {
		background-blend-mode: overlay; 
		background-image: repeating-linear-gradient(
		45deg,
		transparent,
		transparent 10px,
		black 11px,
		black 15px,
		transparent 16px
		);
	} */
}