$segment-timeline-background-color: #1f1f1f;

$segment-layer-background-unknown: #4b4b4b;
$segment-layer-background-camera: #18791c;
$segment-layer-background-camera--second: darken($segment-layer-background-camera, 10%);
$segment-layer-background-lower-third: #ff6f00;
$segment-layer-background-lower-third--second: darken($segment-layer-background-lower-third, 10%);
$segment-layer-background-graphics: #ef6800;
$segment-layer-background-graphics--second: darken($segment-layer-background-graphics, 10%);
$segment-layer-background-live-speak: #00c800;
$segment-layer-background-remote: #e80064;
$segment-layer-background-remote--second: darken($segment-layer-background-remote, 10%);
$segment-layer-background-vt: #1769ff;
$segment-layer-background-vt--second: darken($segment-layer-background-vt, 10%);
$segment-layer-background-script: #005a25;
$segment-layer-background-mic: #1e6820;
$segment-layer-background-guest: #008a92;

@mixin item-type-text-outline($selectors) {
	&.camera {
		#{$selectors} {
			text-shadow: 1px -1px 1px var(--segment-layer-background-camera),
				-1px 1px 1px var(--segment-layer-background-camera), -1px -1px 1px var(--segment-layer-background-camera),
				1px 1px 1px var(--segment-layer-background-camera), 1px 1px 3px rgba(0, 0, 0, 1), 1px 1px 8px rgba(0, 0, 0, 1);
		}

		&.second {
			#{$selectors} {
				text-shadow: 1px -1px 1px var(--segment-layer-background-camera--second),
					-1px 1px 1px var(--segment-layer-background-camera--second),
					-1px -1px 1px var(--segment-layer-background-camera--second),
					1px 1px 1px var(--segment-layer-background-camera--second), 1px 1px 3px rgba(0, 0, 0, 1),
					1px 1px 8px rgba(0, 0, 0, 1);
			}
		}
	}

	&.graphics {
		#{$selectors} {
			text-shadow: 1px -1px 1px var(--segment-layer-background-graphics),
				-1px 1px 1px var(--segment-layer-background-graphics), -1px -1px 1px var(--segment-layer-background-graphics),
				1px 1px 1px var(--segment-layer-background-graphics), 1px 1px 3px rgba(0, 0, 0, 1), 1px 1px 8px rgba(0, 0, 0, 1);
		}

		&.second {
			#{$selectors} {
				text-shadow: 1px -1px 1px var(--segment-layer-background-graphics--second),
					-1px 1px 1px var(--segment-layer-background-graphics--second),
					-1px -1px 1px var(--segment-layer-background-graphics--second),
					1px 1px 1px var(--segment-layer-background-graphics--second), 1px 1px 3px rgba(0, 0, 0, 1),
					1px 1px 8px rgba(0, 0, 0, 1);
			}
		}
	}

	&.lower-third {
		#{$selectors} {
			text-shadow: 1px -1px 1px var(--segment-layer-background-lower-third),
				-1px 1px 1px var(--segment-layer-background-lower-third),
				-1px -1px 1px var(--segment-layer-background-lower-third),
				1px 1px 1px var(--segment-layer-background-lower-third), 1px 1px 3px rgba(0, 0, 0, 1),
				1px 1px 8px rgba(0, 0, 0, 1);
		}

		&.second {
			#{$selectors} {
				text-shadow: 1px -1px 1px var(--segment-layer-background-lower-third--second),
					-1px 1px 1px var(--segment-layer-background-lower-third--second),
					-1px -1px 1px var(--segment-layer-background-lower-third--second),
					1px 1px 1px var(--segment-layer-background-lower-third--second), 1px 1px 3px rgba(0, 0, 0, 1),
					1px 1px 8px rgba(0, 0, 0, 1);
			}
		}
	}

	&.live-speak {
		#{$selectors} {
			text-shadow: 1px -1px 1px var(--segment-layer-background-vt), -1px 1px 1px var(--segment-layer-background-vt),
				-1px -1px 1px var(--segment-layer-background-vt), 1px 1px 1px var(--segment-layer-background-vt),
				1px 1px 3px rgba(0, 0, 0, 1), 1px 1px 8px rgba(0, 0, 0, 1);
		}
	}

	&.vt {
		#{$selectors} {
			text-shadow: 1px -1px 1px var(--segment-layer-background-vt), -1px 1px 1px var(--segment-layer-background-vt),
				-1px -1px 1px var(--segment-layer-background-vt), 1px 1px 1px var(--segment-layer-background-vt),
				1px 1px 3px rgba(0, 0, 0, 1), 1px 1px 8px rgba(0, 0, 0, 1);
		}

		&.second {
			#{$selectors} {
				text-shadow: 1px -1px 1px var(--segment-layer-background-vt--second),
					-1px 1px 1px var(--segment-layer-background-vt--second),
					-1px -1px 1px var(--segment-layer-background-vt--second),
					1px 1px 1px var(--segment-layer-background-vt--second), 1px 1px 3px rgba(0, 0, 0, 1),
					1px 1px 8px rgba(0, 0, 0, 1);
			}
		}
	}

	&.remote {
		#{$selectors} {
			text-shadow: 1px -1px 1px var(--segment-layer-background-remote),
				-1px 1px 1px var(--segment-layer-background-remote), -1px -1px 1px var(--segment-layer-background-remote),
				1px 1px 1px var(--segment-layer-background-remote), 1px 1px 3px rgba(0, 0, 0, 1), 1px 1px 8px rgba(0, 0, 0, 1);
		}

		&.second {
			#{$selectors} {
				text-shadow: 1px -1px 1px var(--segment-layer-background-remote--second),
					-1px 1px 1px var(--segment-layer-background-remote--second),
					-1px -1px 1px var(--segment-layer-background-remote--second),
					1px 1px 1px var(--segment-layer-background-remote--second), 1px 1px 3px rgba(0, 0, 0, 1),
					1px 1px 8px rgba(0, 0, 0, 1);
			}
		}
	}

	&.script {
		#{$selectors} {
			text-shadow: 1px -1px 1px var(--segment-layer-background-script),
				-1px 1px 1px var(--segment-layer-background-script), -1px -1px 1px var(--segment-layer-background-script),
				1px 1px 1px var(--segment-layer-background-script), 1px 1px 3px rgba(0, 0, 0, 1), 1px 1px 8px rgba(0, 0, 0, 1);
		}
	}

	&.mic {
		#{$selectors} {
			text-shadow: 1px -1px 1px var(--segment-layer-background-guest),
				-1px 1px 1px var(--segment-layer-background-guest), -1px -1px 1px var(--segment-layer-background-guest),
				1px 1px 1px var(--segment-layer-background-guest), 1px 1px 3px rgba(0, 0, 0, 1), 1px 1px 8px rgba(0, 0, 0, 1);
		}
	}
}

@mixin item-type-colors {
	&.camera {
		background: var(--segment-layer-background-camera);

		&.second {
			background: var(--segment-layer-background-camera--second);
		}
	}

	&.graphics {
		background: var(--segment-layer-background-graphics);

		&.second {
			background: var(--segment-layer-background-graphics--second);
		}
	}

	&.lower-third {
		background: var(--segment-layer-background-lower-third);

		&.second {
			background: var(--segment-layer-background-lower-third--second);
		}
	}

	&.live-speak {
		background: linear-gradient(
			to bottom,
			var(--segment-layer-background-vt) 50%,
			var(--segment-layer-background-camera) 50.0001%
		);
	}

	&.vt {
		background: var(--segment-layer-background-vt);

		&.second {
			background: var(--segment-layer-background-vt--second);
		}
	}

	&.remote {
		background: var(--segment-layer-background-remote);

		&.second {
			background: var(--segment-layer-background-remote--second);
		}
	}

	&.script {
		background: var(--segment-layer-background-script);
	}

	&.mic {
		background: var(--segment-layer-background-guest);
	}
}

@mixin item-type-borders {
	&.camera {
		border-color: var(--segment-layer-background-camera);
	}

	&.graphics {
		border-color: var(--segment-layer-background-graphics);
	}

	&.lower-third {
		border-color: var(--segment-layer-background-lower-third);
	}

	&.live-speak {
		border-color: var(--segment-layer-background-live-speak);
	}

	&.vt {
		border-color: var(--segment-layer-background-vt);
	}

	&.remote {
		border-color: var(--segment-layer-background-remote);
	}

	&.script {
		border-color: var(--segment-layer-background-script);
	}

	&.mic {
		border-color: var(--segment-layer-background-mic);
	}
}

@mixin item-type-before-background {
	&.camera::before {
		background: var(--segment-layer-background-camera);
	}

	&.graphics::before {
		background: var(--segment-layer-background-graphics);
	}

	&.lower-third::before {
		background: var(--segment-layer-background-lower-third);
	}

	&.live-speak::before {
		background: var(--segment-layer-background-live-speak);
	}

	&.vt::before {
		background: var(--segment-layer-background-vt);
	}

	&.remote::before {
		background: var(--segment-layer-background-remote);
	}

	&.script::before {
		background: var(--segment-layer-background-script);
	}

	&.mic::before {
		background: var(--segment-layer-background-mic);
	}
}

@mixin item-type-colors-svg {
	&.camera {
		fill: var(--segment-layer-background-camera);

		&.second {
			fill: var(--segment-layer-background-camera--second);
		}
	}

	&.graphics {
		fill: var(--segment-layer-background-graphics);

		&.second {
			fill: var(--segment-layer-background-graphics--second);
		}
	}

	&.lower-third {
		fill: var(--segment-layer-background-lower-third);
	}

	&.live-speak {
		fill: var(--segment-layer-background-live-speak);
	}

	&.vt {
		fill: var(--segment-layer-background-vt);

		&.second {
			fill: var(--segment-layer-background-vt--second);
		}
	}

	&.remote {
		fill: var(--segment-layer-background-remote);

		&.second {
			fill: var(--segment-layer-background-remote--second);
		}
	}

	&.script {
		fill: var(--segment-layer-background-script);
	}

	&.mic {
		fill: var(--segment-layer-background-mic);
	}
}

@mixin invalid-overlay {
	&.invalid {
		opacity: 0.5;
		background-color: #333;
		background-image: repeating-linear-gradient(
				45deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0) 5px,
				rgba(0, 0, 0, 1) 5px,
				rgba(0, 0, 0, 1) 10px
			),
			repeating-linear-gradient(
				-45deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0) 5px,
				rgba(0, 0, 0, 1) 5px,
				rgba(0, 0, 0, 1) 10px
			);
	}
}

@mixin floated-overlay {
	$part-start-color: #a5a5a5;

	&.floated {
		background-image: repeating-linear-gradient(
			-45deg,
			transparent 0%,
			transparent 8px,
			darken($part-start-color, 50%) 8px,
			darken($part-start-color, 50%) 10px
		);
		backdrop-filter: saturate(0%) brightness(50%);
	}
}

@mixin missing-overlay {
	&.source-broken,
	&.source-missing {
		&::after {
			content: ' ';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			mix-blend-mode: overlay;
			background-image: repeating-linear-gradient(
				45deg,
				transparent,
				transparent 10px,
				black 11px,
				black 15px,
				transparent 16px
			);
		}
	}

	&.source-broken {
		&::after {
			background-image: repeating-linear-gradient(
				-45deg,
				transparent,
				transparent 2px,
				rgba(0, 0, 0, 0.54) 3px,
				rgba(0, 0, 0, 0.54) 4px,
				transparent 5px
			);
		}
	}

	// Don't treat an unknown state as an issue
	/*  {
		background-blend-mode: overlay; 
		background-image: repeating-linear-gradient(
		45deg,
		transparent,
		transparent 10px,
		black 11px,
		black 15px,
		transparent 16px
		);
	} */
}
