$segment-timeline-background-color: #1F1F1F;

$segment-layer-background-unknown: #4b4b4b;
//$segment-layer-background-camera: #00b800;
$segment-layer-background-camera:#18791c;
$segment-layer-background-lower-third: #ff6f00;
$segment-layer-background-graphics: #ef6800;
$segment-layer-background-live-speak: #00c800;
//$segment-layer-background-remote: #ff0059;
$segment-layer-background-remote: #e80064;
//$segment-layer-background-script: #1c721f;
$segment-layer-background-script: #1e6820;
//$segment-layer-background-mic:#1c721f;
$segment-layer-background-mic:#1e6820;
$segment-layer-background-vt: #1769ff;

@mixin item-type-colors {
	&.camera {
		background: $segment-layer-background-camera;
	}

	&.graphics {
		background: $segment-layer-background-graphics;
	}

	&.lower-third {
		background: $segment-layer-background-lower-third;
	}

	&.live-speak {
		background: $segment-layer-background-live-speak;
	}

	&.vt {
		background: $segment-layer-background-vt;
	}

	&.remote {
		background: $segment-layer-background-remote;
	}

	&.script {
		background: $segment-layer-background-script;
	}

	&.mic {
		background: $segment-layer-background-mic;
	}
}

@mixin item-type-borders {
	&.camera {
		border-color: $segment-layer-background-camera;
	}

	&.graphics {
		border-color: $segment-layer-background-graphics;
	}

	&.lower-third {
		border-color: $segment-layer-background-lower-third;
	}

	&.live-speak {
		border-color: $segment-layer-background-live-speak;
	}

	&.vt {
		border-color: $segment-layer-background-vt;
	}

	&.remote {
		border-color: $segment-layer-background-remote;
	}

	&.script {
		border-color: $segment-layer-background-script;
	}

	&.mic {
		border-color: $segment-layer-background-mic;
	}
}

@mixin item-type-colors-svg {
	&.camera {
		fill: $segment-layer-background-camera;
	}

	&.graphics {
		fill: $segment-layer-background-graphics;
	}

	&.lower-third {
		fill: $segment-layer-background-lower-third;
	}

	&.live-speak {
		fill: $segment-layer-background-live-speak;
	}

	&.vt {
		fill: $segment-layer-background-vt;
	}

	&.remote {
		fill: $segment-layer-background-remote;
	}

	&.script {
		fill: $segment-layer-background-script;
	}

	&.mic {
		fill: $segment-layer-background-mic;
	}
}

@mixin missing-overlay {
	
	&.source-broken, &.source-missing {
		&::after {
			content: ' ';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			mix-blend-mode: overlay; 
			background-image: repeating-linear-gradient(
			45deg,
			transparent,
			transparent 10px,
			black 11px,
			black 15px,
			transparent 16px
			);						
		}
	}

	// Don't treat an unknown state as an issue
	/*  {
		background-blend-mode: overlay; 
		background-image: repeating-linear-gradient(
		45deg,
		transparent,
		transparent 10px,
		black 11px,
		black 15px,
		transparent 16px
		);
	} */
}