$FontPath: './fonts/roboto-condensed-v18-latin_latin-ext';

/* roboto-condensed-300 - latin_latin-ext */
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	src: url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
	src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
		url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-300.woff2') format('woff2'),
		/* Super Modern Browsers */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-300.woff') format('woff'),
		/* Modern Browsers */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-300.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-300.svg#RobotoCondensed')
			format('svg'); /* Legacy iOS */
}

/* roboto-condensed-300italic - latin_latin-ext */
@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 300;
	src: url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-300italic.eot'); /* IE9 Compat Modes */
	src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'),
		url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-300italic.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-300italic.woff2') format('woff2'),
		/* Super Modern Browsers */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-300italic.woff') format('woff'),
		/* Modern Browsers */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-300italic.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-300italic.svg#RobotoCondensed')
			format('svg'); /* Legacy iOS */
}

/* roboto-condensed-regular - latin_latin-ext */
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	src: url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
	src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
		url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-regular.woff2') format('woff2'),
		/* Super Modern Browsers */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-regular.woff') format('woff'),
		/* Modern Browsers */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-regular.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-regular.svg#RobotoCondensed')
			format('svg'); /* Legacy iOS */
}

/* roboto-condensed-italic - latin_latin-ext */
@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 400;
	src: url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-italic.eot'); /* IE9 Compat Modes */
	src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'),
		url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-italic.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-italic.woff2') format('woff2'),
		/* Super Modern Browsers */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-italic.woff') format('woff'),
		/* Modern Browsers */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-italic.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-italic.svg#RobotoCondensed')
			format('svg'); /* Legacy iOS */
}

/* roboto-condensed-700 - latin_latin-ext */
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	src: url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
	src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
		url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-700.woff2') format('woff2'),
		/* Super Modern Browsers */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-700.woff') format('woff'),
		/* Modern Browsers */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-700.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-700.svg#RobotoCondensed')
			format('svg'); /* Legacy iOS */
}

/* roboto-condensed-700italic - latin_latin-ext */
@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 700;
	src: url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-700italic.eot'); /* IE9 Compat Modes */
	src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'),
		url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-700italic.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-700italic.woff2') format('woff2'),
		/* Super Modern Browsers */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-700italic.woff') format('woff'),
		/* Modern Browsers */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-700italic.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('#{$FontPath}/roboto-condensed-v18-latin_latin-ext-700italic.svg#RobotoCondensed')
			format('svg'); /* Legacy iOS */
}
