.rundown-overview {
	display: block;
	padding: 0 calc(60px + 1.5em) 0 1.5em;
	overflow: hidden;
}

.rundown__overview {
	display: block;
	position: relative;
	white-space: nowrap;
	padding: 0.9em 0;
	background: $segment-timeline-background-color;
	background-clip: content-box;
	overflow: hidden;

	.rundown__overview__segment {
		position: relative;
		display: inline-block;

		.rundown__overview__segment__part:first-child {
			border-left: 1px solid rgba(0, 0, 0, 0.5);
		}
	}

	.rundown__overview__segment__part__live-shade {
		position: absolute;
		top: 0;
		left: -1.5em;
		bottom: 0;
		padding-left: 0.7em;
		background: rgba(0, 0, 0, 0.5);
		box-sizing: content-box;
		pointer-events: none;
	}

	.rundown__overview__segment__part {
		position: relative;
		display: inline-block;
		vertical-align: top;
		height: 40px;
		background: $segment-title-background-color;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		border-right: 1px solid rgba(0, 0, 0, 0.1);
		// overflow: hidden;
		word-wrap: none;
		white-space: nowrap;
		text-overflow: clip;
		overflow: visible;

		&:last-child {
			border-right: 1px solid rgba(0, 0, 0, 0.5);
		}

		&.live {
			color: $segment-title-text-color-live;
			background: $general-live-color;
			font-weight: 500;
			text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
		}

		&.next {
			background: $general-next-color;
			font-weight: 500;
			text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
		}

		&.has-played {
			background: $segment-title-background-color-has-played;
		}

		.rundown__overview__segment__part__live-line {
			position: absolute;
			top: -1.5em;
			left: 0;
			right: auto;
			bottom: -1.5em;
			width: 2px;
			background: #ff0000; //$general-live-color;
			z-index: 4;
		}

		.rundown__overview__segment__part__next-line {
			position: absolute;
			top: -5px;
			left: 0;
			right: auto;
			bottom: -5px;
			width: 2px;
			background: #00ff00; //$general-next-color;
			z-index: 3;
		}
	}

	.rundown__overview__segment {
		.rundown__overview__segment__part__label {
			position: absolute;
			top: 0;
			left: 0;
			width: auto;
			bottom: 0;
			line-height: 20px;
			margin: 5px 5px;
			padding: 5px 5px;
			font-weight: 500;

			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			z-index: 1;

			> .rundown__overview__segment__part__label__duration {
				font-weight: 200;
				margin-left: 0.5em;
			}
		}

		&.next {
			.rundown__overview__segment__part {
				background: $general-next-color;
				font-weight: 500;
				text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
			}
		}

		&.live {
			.rundown__overview__segment__part {
				color: $segment-title-text-color-live;
				background: $general-live-color;
				font-weight: 500;
				text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
			}
		}

		&:hover {
			.rundown__overview__segment__part__label {
				z-index: 5;
				background: #333;
				max-width: none !important;
			}

			&.next {
				.rundown__overview__segment__part__label {
					background: #008500;
				}
			}

			&.live {
				.rundown__overview__segment__part__label {
					background: #850000;
				}
			}
		}
	}
}
