.running-order-overview {
	display: block;
	padding: 0 1.5em;
	overflow: hidden;
}

.running-order__overview {
	display: block;
	position: relative;
	white-space: nowrap;
	padding: 0.9em 0;
    background: $segment-timeline-background-color;
	background-clip: content-box;

	.running-order__overview__segment {
		display: inline;
	}
	
	.running-order__overview__segment__segment-line__live-shade {
		position: absolute;
		top: 0;
		left: -1.5em;
		bottom: 0;
		padding-left: 0.7em;
		background: rgba(0,0,0,0.5);
		box-sizing: content-box;
		pointer-events: none;
	}

	.running-order__overview__segment__segment-line {
		position: relative;
		display: inline-block;
		vertical-align: top;
		height: 40px;
		background: $segment-title-background-color;
		outline: 1px solid rgba(0,0,0,0.3);
		// overflow: hidden;
		word-wrap: none;
		white-space: nowrap;
		text-overflow: clip;
		overflow: visible;

		&.live {
			color: $segment-title-text-color-live;
			background: $general-live-color;
			font-weight: 500;
			text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
		}

		&.next {
			background: $general-next-color;
			font-weight: 500;
			text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
		}

		&.has-played {
			background: $segment-title-background-color-has-played;
		}

		.running-order__overview__segment__segment-line__live-line {
			position: absolute;
			top: -1.5em;
			left: 0;
			right: auto;
			bottom: -1.5em;
			width: 2px;
			background: #ff0000; //$general-live-color;
			z-index: 4;
		}

		.running-order__overview__segment__segment-line__next-line {
			position: absolute;
			top: -5px;
			left: 0;
			right: auto;
			bottom: -5px;
			width: 2px;
			background: #00ff00; //$general-next-color;
			z-index: 3;
		}

		.running-order__overview__segment__segment-line__label {
			position: absolute;
			top: 0;
			left: 0;
			width: auto;
			bottom: 0;
			line-height: 20px;
			margin: 5px 5px;
			padding: 5px 5px;

			word-wrap: none;
			white-space: nowrap;
			text-overflow: clip;
			overflow: hidden;
			z-index: 1;
		}
	}

	.running-order__overview__segment {
		&.next {
			.running-order__overview__segment__segment-line {
				background: $general-next-color;
				font-weight: 500;
				text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
			}
		}

		&.live {
			.running-order__overview__segment__segment-line {
				color: $segment-title-text-color-live;
				background: $general-live-color;
				font-weight: 500;
				text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
			}
		}

		&:hover {
			.running-order__overview__segment__segment-line__label {
				z-index: 5;
				background: rgba(0,0,0,0.3);
				pointer-events: none;
			}
		}
	}
}