$fullscreen-controls__button--radius: 3.125rem;

$statusbar-width: 3.75rem;
$notification-center-width: 25rem;

$browser-context: 16px; // Default browser font size in pixels

$inspector-shelf-tabs-height: 2.3em;

$segment-background-color: #000;

@function rem($pixels, $context: $browser-context) {
	@return #{$pixels/$context}rem;
}
