nav.react-contextmenu {
	background: #f5f5f5;
	font-size: 1.0875rem;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.5px;
	z-index: 900;
	user-select: none;

	border-radius: 4px;
	overflow: hidden;
	overflow-y: auto;
	box-shadow: 5px 16px 80px 10px rgba(0, 0, 0, 0.75);

	hr {
		margin: 0;
	}

	.react-contextmenu-item,
	.react-contextmenu-label {
		margin: 0;
		padding: 4px 13px 7px 13px;
		display: block;
		border: none;
		background: none;
		width: 100%;
		text-align: left;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		max-width: 450px;
	}

	.react-contextmenu-label {
		color: #49c0fb;
		background: #3e4041;
		cursor: default;
	}

	.react-contextmenu-item {
		color: #494949;
		font-weight: 300;
		padding-left: 25px;
		padding-right: 25px;
		cursor: pointer;

		&.react-contextmenu-item--selected:not(.react-contextmenu-item--disabled) {
			background: #313334;
			color: #ffffff;
			text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.3);
		}

		&.react-contextmenu-item--disabled {
			opacity: 0.5;
		}
	}
}
