nav.react-contextmenu {
	background: #3e4041;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: 0.5px;
	z-index: 1000;
	user-select: none;

	border-radius: 3px;
	overflow: hidden;
	overflow-y: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);

	.react-contextmenu-item, .react-contextmenu-label {
		margin: 0;
		padding: 10px;
		display: block;
		border: none;
		background: none;
		width: 100%;
		text-align: left;
	}

	.react-contextmenu-label {
		color: #9F9F9F;
		cursor: default;
	}

	.react-contextmenu-item {
		color: #C3C3C3;
		cursor: pointer;

		&.react-contextmenu-item--selected:not(.react-contextmenu-item--disabled) {
			background: #313334;
			color: #FFFFFF;
		}

		&.react-contextmenu-item--disabled {
			opacity: 0.5;
		}
	}
}