body.tv2 {
	.rundown-view {
		padding-top: 60px;
	}
	.col.rundown-overview {
		display: none;
	}
	.segment-timeline {
		margin: 0.5em 1.5em;
		grid-template-columns: [segment-name] 270px [segment-group-controls] 160px [timeline] auto [end];

		.segment-timeline__zoom-area-container {
			display: none;
		}

		.segment-timeline__timeline-grid {
			margin-bottom: 0;
		}

		.segment-timeline__timeline-background {
			margin-bottom: 0;
		}

		.segment-timeline__timeline-zoom-buttons {
			grid-column: segment-group-controls / timeline;
			grid-row: header / zoom-area;
			align-items: flex-start;
			padding-top: 0.2em;
		}

		.segment-timeline__output-layers, .segment-timeline__timeline {
			padding: 2.3em 0 0em;
		}

		&.collapsed {
			.segment-timeline__title__notes {
				display: none;
			}
		}
	}
	.rundown-system-status {
		left: calc(50% + 118px);
		top: 16px;
	}
	.header.rundown.not-active .first-row {
		background-color: #1F2021;

		.timing .timing-clock .timing-clock-label {

		}
	}
	.header.rundown.active.rehearsal .first-row {
		background-color: #CBCCCD;

		.links > a {
			color: #333;
		}

		.timing .timing-clock {
			color: #333;

			.timing-clock-label {
				color: #000;
			}
		}
	}
	.header.rundown.active:not(.rehearsal) .first-row {
		background-color: #761912;

		.timing .timing-clock .timing-clock-label {
			color: #aaa;
		}
	}
}