.dark {
	select,
	input,
	textarea {
		color: #000;
	}
}

textarea {
	&.medium {
		height: 6em;
		vertical-align: middle;
	}
}

.warn:focus {
	color: #ffffff;
}

.input-dropdowntext {
	display: inline-block;

	input.input {
		margin-right: 0;
	}
	select.input {
		margin-left: 0;
		width: 1em;
		appearance: menulist;
	}
}
