@import '_colorScheme';

.external-message-status {
	padding-bottom: 70vh;

	.message-row {
		&.sent {
			background-color: #a1ffa1;
		}
		&.sending {
			background-color: #abc992;
		}
		&.fatal {
			background-color: #ff0000;
		}
		&.error {
			background-color: #fce300;
		}
		&.waiting {
			background-color: #bbbbbb;
		}
		.small {
			font-size: 75%;
		}
	}
}
