.expco.iconpicker {
	position: relative;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 8px;

	&.expco-expanded {
		z-index: 2;
	}

	.expco-expand {
		cursor: pointer;
	}

	.expco-title {
		white-space: nowrap;
		margin-right: 24px;
		width: 100%;
		padding: 1px 0px;
		overflow: hidden;
		vertical-align: middle;
	}

	.expco-body {
		position: absolute;
		left: -1px;
		width: 320px;
		top: 100%;
		background: #fff;
		border: 1px solid #bbb;
		padding: 0px;
	}

	.expco-item {
		display: inline-flex;
		white-space: pre;
		margin: 4px;
		width: 24px;
		text-align: center;

		.action-btn {
			padding: 0px;
			margin: 0px;
			width: 100%;
		}
	}

	.expco-list {
		overflow-y: auto;
		max-height: 16em;
		padding: 4px;
	}

	.search-input {
		width: calc(100% - 8px);
		padding: 5px;
		margin: 4px;
	}
}
