/* SASS statring point. Import styles from here on: */

/* body {
	user-select: none;
}

input {
	user-select: auto;
} */

@import '_variables';
@import '_header';
@import '_colorScheme';

body {
	overscroll-behavior: none;
	touch-action: pan-x pan-y;
}

:fullscreen ::-webkit-scrollbar {
	background: #252627;
}

:fullscreen ::-webkit-scrollbar-thumb {
	background: #555;
	border: 3px solid #252627;
	border-radius: 10px;
}

.scroll-sink {
	overscroll-behavior: none;
}

/* Don't show visited status, since people will browse around the app a lot */
a:visited {
	color: $ui-button-primary;
}

.header {
	position: relative;
	z-index: 500;
}

#render-target {
	font-weight: 300;

	h5,
	.h5,
	.text-s,
	.text-s p,
	.text-s .mod,
	.text-s .table,
	.text-s .action-btn,
	.switch,
	.pill,
	.pills .action-btn,
	.notification,
	.tooltip,
	.btn,
	.btn-tight {
		font-weight: 300;
	}

	p,
	center,
	.table {
		font-weight: 300;
	}

	.checkbox {
		vertical-align: top;

		&.mod {
			vertical-align: middle;
		}
	}

	.btn,
	.btn-tight {
		font-weight: 300;
	}

	input {
		&::-webkit-input-placeholder,
		&::placeholder {
			color: #bbb;
		}
	}

	.scroll-x {
		overflow-x: auto;
	}
}

.origo-pulse {
	vertical-align: top;

	&.small.left,
	&.small.right {
		top: 1px;
	}
}

a.selectable {
	display: block;
	text-decoration: inherit;

	&:hover,
	&:active {
		text-decoration: inherit;
	}
}

.btn > svg.svg-inline--fa + span {
	margin-left: 0.5em;
}

.switch-button {
	width: 42px !important;
	height: 21px !important;

	&.sb-nocolor.sb-on {
		.sb-content {
			.sb-label {
				background-color: #737373;
			}
		}
	}

	.sb-content {
		width: 42px;
		height: 21px;
		> .sb-label {
			width: 42px;
			height: 21px;
		}
		.sb-switch {
			width: 19px;
			height: 19px;
		}
	}

	&:active .sb-label {
		opacity: 0.8;
	}

	&.sb-on {
		.sb-switch {
			transform: matrix(1, 0, 0, 1, 21, 0);
		}
	}
}
