.expco {
	user-select: none;

	.expco-expand.action-btn {
		top: 10px;
	}

	.expco-body .expco-item {
		.action-btn {
			position: static;

			.checkbox {
				.checkbox-checked, .checkbox-unchecked {
					top: -3px;
				}
			}
		}
	}
	
	.expco-title.focusable-main {
		&.placeholder {
			color: #bbb;
		}
	}

	&:not(.expco-expanded) {
		.action-btn.expco-expand {
			transform: rotate(180deg);
		}
	}
}

.expco.dropdown {
	position: relative;
	padding-top: 0;
	padding-bottom: 0;

	&.expco-expanded  {
		z-index: 2;
	}

	.expco-title {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: middle;
	}

	.expco-body {
		position: absolute;
		left: -1px;
		right: -1px;
		top: 100%;
		max-height: 10em;
		background: #fff;
		overflow-y: auto;
		border: 1px solid #bbb;
	}
}