@import '_colorScheme';
@import '_variables';

.notification-pop-ups {
    position: fixed;
    top: 64px;
    right: 75px;
    bottom: 0;
    width: 400px;
    z-index: 1000;
    color: #000;
    mask-image: linear-gradient(to bottom, black 0, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 0, black 60%, transparent 100%);
    padding: 0 10px;
    overflow: hidden;
    pointer-events: none;

    .notification-pop-up {
        font-size: 0.9em;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
        margin-bottom: 3px;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        pointer-events: auto;

        &:first-child {
            margin-top: 15px;
        }

        &:last-child {
            margin-bottom: 15px;
        }

        > .notification-pop-up__header {
            display: block;
            flex: 0;
            min-width: 40px;
            background: $color-status-minor-warning;
            color: $color-status-warning;

            text-align: center;
            padding-top: 10px;
        }

        &.warning {
            > .notification-pop-up__header {
                background: $color-status-warning;
                color: #000;
            }
        }

        &.critical {
            > .notification-pop-up__header {
                background: $color-status-fatal;
                color: $color-status-warning;
            }
        }

        &.notice {
            > .notification-pop-up__header {
                background: dodgerblue;
                color: #fff;
            }
        }

        &.tip {
            > .notification-pop-up__header {
                background: $color-status-good;
                color: $color-status-minor-warning;
            }
        }

        &.has-default-action {
            > .notification-pop-up__contents {
                cursor: pointer;
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        > .notification-pop-up__contents {
            flex: 1;
            padding: 10px 15px;
        }

        > .notification-pop-up__dismiss {
            flex: 0;
            min-width: 40px;
            padding: 10px 10px 0;

            > .notification-pop-up__dismiss__button {
                display: block;
                background: none;
                border: none;
                margin: 0;
                padding: 0;
                font-size: 0.7rem;
            }
        }
    }
}

.notifications__toggle-button {
    position: fixed;
    display: block;
    border: none;
    right: 5px;
    top: 4.5em;
    background: transparentize(#4B4B4B, 0.45);
    width: $fullscreen-controls__button--radius;
    height: $fullscreen-controls__button--radius;
    border-radius: 100%;
    transition: 0.3s background-color;
    margin-bottom: 0.5rem;
    font-size: 1em;
    z-index: 310;
    text-align: left;
    cursor: pointer;

    &:active, &.active {
        background: $ui-button-primary;
        transition: 0s background-color;
    }

    > svg {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -53%);
        transition: 0.5s all ease-in-out;

        > path {
            stroke: rgb(255, 255, 255);
            transition: 0.5s all linear;
        }
    }

    &.has-items {
        > svg {
            transform: translate(-80%, -53%);

            > path {
                stroke: rgb(255, 255, 0);
            }
        }
    }

    &.open {
        
    }

    .notifications__toggle-button__count {
        display: block;
        position: absolute;

        left: 62%;
        top: 50%;
        transform: translate(0, -50%);
        width: 35%;
        text-align: center;
        font-size: 0.8em;
        font-weight: 500;

        opacity: 0;
        transition: 0.2s opacity ease-in 0s;
    }
    
    &.has-items {
        .notifications__toggle-button__count {
            opacity: 1;
            transition: 0.2s opacity ease-out 0.4s;
        }
    }
}

.notification-center-panel {
    position: fixed;
    background: #fff;
    color: #000;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(#{$notification-center-width} + 75px);
    z-index: 290;

    &::before {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -10px;
        width: 10px;
        background: linear-gradient(to right, transparent 0%, rgba(0,0,0,0.15) 100%);
    }

    .notification-pop-ups__empty-list {
        margin-top: 1.5em;
        margin-left: 1em;
    }

    .notification-pop-ups {
        position: absolute;
        top: 59px;
        left: 0;
        bottom: 0;
        overflow: auto;
        width: calc(#{$notification-center-width} + 10px);
        pointer-events: auto;

        mask-image: none;
        -webkit-mask-image: none;

        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }
        &::-webkit-scrollbar-button {
            width: 0px;
            height: 0px;
        }
        &::-webkit-scrollbar-thumb {
            background: #666666;
            border: 3px solid #fff;
            border-radius: 50px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #e1e1e1;
        }
        &::-webkit-scrollbar-thumb:active {
            background: #808080;
        }
        &::-webkit-scrollbar-track {
            background: #cccccc;
            border: 3px solid #fff;
            border-radius: 50px;
        }
        &::-webkit-scrollbar-track:hover {
            background: #ffffff;
        }
        &::-webkit-scrollbar-track:active {
            background: #ffffff;
        }
        &::-webkit-scrollbar-corner {
            background: transparent;
        }
    }
}

.running-order-view .notification-center-panel {
    background: #fff;
    color: #fff;
    top: 64px;

    &::before {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -10px;
        width: 10px;
        background: linear-gradient(to right, transparent 0%, rgba(0,0,0,0.7) 100%);
    }

    .notification-pop-ups {
        top: 0;

        .notification-pop-up {
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

            @keyframes highlight {
                0% {
                    background-color: rgb(206, 240, 255);
                }
                100% {
                    background-color: #fff;
                }
            }

            &.is-highlighted {
                animation-name: highlight;
                animation-duration: 2s;
                animation-delay: 1.5s;
                animation-iteration-count: 1;
                animation-fill-mode: both;
                animation-direction: normal;
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .notification-center-panel {
        width: calc(25vw + 75px) !important;

        .notification-pop-ups {
            width: calc(25vw + 10px) !important;
        }
    }

    .running-order-view {
        &.notification-center-open {
            padding-right: calc(#{$statusbar-width} + 25vw) !important;
            > .header .running-order-overview {
                padding-right: calc(#{$statusbar-width} + 25vw + 1.5em) !important;
            }
        }
    }
}
