
.prompter {
    user-select: none;
    cursor: none;

    font-size: 16vh;
    font-weight: 400;
    background: #000;
    line-height: 1.25;
    text-align: left;
    letter-spacing: 0.9px;


    &.mirror {
        transform: scaleX(-1);
    }

    .prompter-segment {

        font-size: 75%;
        text-align: center;

        margin-top: -0.1em;
        border-top: 0.1em solid #fff;
        
    }
    .prompter-segmentLine {

        text-align: center;

        font-size: 33%;
        
    }


    .prompter-segment,
    .prompter-segmentLine {
        border-bottom: 0.2em solid #000;

        background: #bbb;
        color: #000;
        font-weight: bold;

        &.current {
            border-bottom: 0.2em solid #f55;
        }
        &.next {
            border-bottom: 0.2em solid #5f5;
        }
    }

    .prompter-line {
        margin-bottom: 0.5em;
    }

    .overlay-fix {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;

        .center-marker {
            position: absolute;
            top: 33%;
            bottom: 33%;
            width: 1em;
            border-top: 3px solid rgba(255, 255, 255, 0.5);
            border-bottom: 3px solid rgba(255, 255, 255, 0.5);

            &.left {
                left: 0
            }
            &.right {
                right: 0
            }
        }
    }

    
}