@import "colorScheme";

.prompter {
    user-select: none;
    cursor: none;

    font-size: 14vh;
    font-weight: 400;
    background: #000;
    line-height: 1.15;
    text-align: left;
    letter-spacing: 0.9px;


    &.mirror {
        transform: scaleX(-1);
    }
    &.mirrorv {
        transform: scaleY(-1);
    }
    &.mirror.mirrorv {
        transform: rotate(180deg);
    }

    .prompter-segment {

        font-size: 75%;
        text-align: center;

        margin-top: -0.1em;
        border-top: 0.1em solid #fff;
        
    }
    .prompter-segmentLine {

        text-align: center;
        letter-spacing: 0.1em;
        font-size: 50%;
        
    }
    .prompter-break {
        font-size: 75%;
        text-align: center;

        margin-top: -0.1em;
        
        &.end {
            text-transform: uppercase;
            background-color: #5ff;
            border-bottom: 0;
        }
        &.begin {
            font-size: 75%;
            text-transform: uppercase;
            background-color: #333;
            border-top: 0;
            border-bottom: 0;
            padding-top: 1em;
            padding-bottom: 1em;
            color: #fff;
        }
    }


    .prompter-segment,
    .prompter-segmentLine,
    .prompter-break {
        border-bottom: 0.2em solid #000;

        background: #bbb;
        color: #000;
        font-weight: bold;

        &.current {
            //border-bottom: 0.2em solid #f55;
            background: $general-live-color;
            color: #fff;
        }
        &.next {
            //border-bottom: 0.2em solid #5f5;
            background: $general-next-color;
        }
    }

    .prompter-line {
        font-family: Source Serif Pro, Roboto, Helvetica, Arial, sans-serif;
        font-size: 0.96em;
        letter-spacing: 0.0em;
        line-height: 1.2em;
        margin-bottom: 0.5em;

        &.empty {

        }
    }

    .overlay-fix {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;

        .read-marker {
            position: absolute;
            left: 0;
            right: 0;

            height: 2em;

            &.center {
                top: 50%;
                margin-top: -1em;
            }
            &.top {
                top: 0.2em;
            }
            &.bottom {
                bottom: 0.2em;
            }
            &.hide {
                display: none;
            }

            .side {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 1em;
                border-top: 0.1em solid rgba(255, 255, 255, 0.5);
                border-bottom: 0.1em solid rgba(255, 255, 255, 0.5);

                margin-top: -0.1em;
                margin-bottom: -0.1em;
    
                &.left {
                    left: 0
                }
                &.right {
                    right: 0
                }
            }
        }

        .take-indicator,
        .next-indicator {
            position: absolute;
            
            
            width: 0; 
            height: 0; 
            
            border-left: 1em solid transparent;
            border-right: 1em solid transparent;

            transform: scaleX(0.66);
            
            bottom: 0;
            margin-bottom: -1em;
            opacity: 1;

            transition: opacity 0.5s;

            &.top {
                top: 0;
                margin-top: -1em;
            }
            &.hidden {
                opacity: 0
            }
        }
        .take-indicator {
            right: 0em;

            
            border-top: 1em solid #f00;
            border-bottom: 1em solid transparent;
            &.top {
                border-top: 1em solid transparent;
                border-bottom: 1em solid #f00;
            }
        }
        .next-indicator {
            right: 1.33em;

            border-top: 1em solid #0f0;
            border-bottom: 1em solid transparent;
            &.top {
                border-top: 1em solid transparent;
                border-bottom: 1em solid #0f0;
            }
        }
    }

    
}