@import "_colorScheme";

$fullscreen-controls__button--radius: 4vw;
$fullscreen-controls__button--max-radius: 80px;
$fullscreen-controls__button--min-radius: 15px;

.running-order__fullscreen-controls {
	position: fixed;
	top: 145px;
	right: 1.5rem;
	width: $fullscreen-controls__button--radius;
	max-width: $fullscreen-controls__button--max-radius;
	min-width: $fullscreen-controls__button--min-radius;
	z-index: 9000;

	.running-order__fullscreen-controls__button {
		background: transparentize(#4B4B4B, 0.45);
		width: $fullscreen-controls__button--radius;
		height: $fullscreen-controls__button--radius;
		max-width: $fullscreen-controls__button--max-radius;
		max-height: $fullscreen-controls__button--max-radius;
		min-width: $fullscreen-controls__button--min-radius;
		min-height: $fullscreen-controls__button--min-radius;
		border-radius: 100%;
		transition: 0.3s background;
		margin-bottom: 0.5rem;

		cursor: pointer;

		&.running-order__fullscreen-controls__button--inactive {
			cursor: default;
		}

		&:not(.running-order__fullscreen-controls__button--inactive) {
			&:active, &.active {
				background: $ui-button-primary;
				transition: 0s background;
			}
		}

		.svg-inline--fa {
			position: relative;
			width: 1.5rem;
			height: 1.5rem;
			top: 1.35rem;
			left: 1.3rem;
		}

		.running-order__fullscreen-controls__button__label {
			text-align: center;
			user-select: none;
			margin-top: 0.6em;
			font-size: 0.8rem;

			.keyboard_key {
				display: inline-block;
				border: 1px solid #fff;
				border-radius: 4px;
				font-size: 0.8rem;
				padding: 0 3px;
				margin-bottom: 0.2rem;
				font-size: 0.9em;
			}
		}
	}
}