.running-order__fullscreen-marker {
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	z-index: 9000;
	background: rgba(0,0,0,0.5);
	cursor: pointer;
	
	> .running-order__fullscreen-marker__emblem {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 50%;
		width: 50%;

		> .running-order__fullscreen-marker__label {
			text-align: center;
			font-size: 2em;
		}
	}
}