@import "_colorScheme";

$fullscreen-controls__button--radius: 4vw;
$fullscreen-controls__button--max-radius: 80px;
$fullscreen-controls__button--min-radius: 15px;

.running-order__fullscreen-controls {
	position: fixed;
	top: 145px;
	right: 1.5rem;
	width: $fullscreen-controls__button--radius;
	max-width: $fullscreen-controls__button--max-radius;
	min-width: $fullscreen-controls__button--min-radius;
	z-index: 9000;

	.running-order__fullscreen-controls__button {
		background: transparentize(#4B4B4B, 0.45);
		width: $fullscreen-controls__button--radius;
		height: $fullscreen-controls__button--radius;
		max-width: $fullscreen-controls__button--max-radius;
		max-height: $fullscreen-controls__button--max-radius;
		min-width: $fullscreen-controls__button--min-radius;
		min-height: $fullscreen-controls__button--min-radius;
		border-radius: 100%;
		transition: 0.3s background;
		margin-bottom: 0.5rem;

		cursor: pointer;

		&:active, &.active {
			background: $ui-button-primary;
			transition: 0s background;
		}
	}
}