@import "colorScheme";

.running-order-system-status {
	position: absolute;
	font-size: 0.8em;
	width: 350px;
	height: 1em;
	left: 50%;
	top: 42px;
	transform: translate(-50%, 0);
	z-index: 2;

	.running-order-system-status__indicators {
		display: flex;
		position: absolute;
		top: 5px;
		left: 50%;
		transform: translate(-50%, 0);
		width: 100%;
		justify-content: center;

		.indicator {
			margin-left: 5px;
			margin-right: 5px;
			position: relative;
			flex: none;
			border-radius: 100%;
			background: gray;
			width: 7px;
			height: 7px;

			&.good {
				background: $color-status-good;
				box-shadow: 0 0 15px 0px $color-status-good;
			}

			&.minor {
				background: $color-status-minor-warning;
				box-shadow: 0 0 15px 1px $color-status-minor-warning;
			}

			&.major {
				background: $color-status-warning;
				box-shadow: 0 0 15px 3px $color-status-warning;
			}

			&.bad {
				background: $color-status-bad;
				box-shadow: 0 0 15px 3px $color-status-bad;
			}

			&.fatal {
				background: $color-status-fatal;
				box-shadow: 0 0 15px 3px $color-status-fatal;
			}

			> .indicator__tooltip {
				position: absolute;
				top: 10px;
				border-radius: 3px;
				background: #3e4041;
				width: auto;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
				display: none;
				padding: 0 10px;
				transform: translate(-50%, 0);

				> h4 {
					margin: 10px 0;
				}

				> div {
					& > h5, & > ul {
						margin: 10px 0;
					}

					& > ul {
						list-style: none;

						> li {
							margin-left: 0;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
						}
					}
				}
			}

			&:hover {
				> .indicator__tooltip {
					display: block;
				}
			}
		}
		.note-icon {
			min-width: 2em;
			margin-top: -0.5em;

			margin-left: 5px;
			margin-right: 5px;

			color: #FFCC00;
			font-weight: bold;

			

			.icon {
				display: inline-block;
				min-width: 1em;
			}
			.count {
				display: inline-block;
			}
			.notes_tooltip {
				position: absolute;
				top: 10px;
				border-radius: 3px;
				background: #3e4041;
				width: 500px;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
				display: none;
				padding: 0 10px;
				transform: translate(-50%, 0);
				color: #FFF;

				padding: 10px;

				td {
					padding-left: 0.5em;
					padding-right: 0.5em;
				}

				&:hover {
					display: block;
				}

			}
			
			&.display {
				.notes_tooltip {
					display: block;
				}
			}
			&:hover {
				> .notes_tooltip {
					display: block;
				}
			}
		}
	}
}