@import 'colorScheme';

.settings-menu {
	.settings-menu__settings-menu-item {
		display: block;
		text-decoration: none;
		color: #000;

		&:hover {
			text-decoration: none;
		}

		button.action-btn {
			padding: 0 5px;
			margin-top: 0.6em;
			margin-right: 0.7em;
		}
	}

	h2 {
		> button.action-btn {
			padding: 0 5px;
			margin-top: 0.6em;
		}
	}

	.error-notice {
		.svg-inline--fa {
			color: $color-status-warning;
		}
	}
}

.settings-dialog {
	table {
		.switch-tight {
			padding: 0px 8px;
			margin: -6px 0 -1px;
		}

		.table-item-actions {
			text-align: right;
			min-width: 4em;

			.action-btn {
				vertical-align: top;
				margin-left: 10px;
				line-height: 1em;

				svg {
					font-size: 10px;
					vertical-align: middle;

					&.svg-inline--fa {
						font-size: 15px;
					}
				}
			}

			.btn {
				&.btn-tight {
					svg {
						font-size: 10px;
						vertical-align: middle;

						&.svg-inline--fa {
							font-size: 15px;
						}
					}
				}
			}
		}
	}

	.settings-studio-source-table, .settings-studio-output-table, .settings-studio-device-table,
	.settings-studio-mappings-table, .settings-studio-custom-config-table,
	.settings-line-templates-snapshots, .settings-studio-device-httpsend-table,
	.settings-studio-showStyleVariants-table, .settings-studio-rundown-layouts-table {
		width: 100%;

		> thead > tr {
			> .actions {
				text-align: right;
			}
		}

		> tbody > tr {
			> .actions {
				text-align: right;

				> .action-btn {
					padding: 0 0.4em;
				}
			}
		}
	}

	.settings-studio-device-dropdown {
		position: absolute;
    	max-height: 300px;
	}

	.runtime-function-edit__editor {
		width: 100%;
		height: 75vh;
	}

	.runtime-function-edit__status {
		background: #eee;
		height: 2em;
		line-height: 2em;
		padding-left: 0.5em;

		> div {
			> .btn.btn-primary {
				vertical-align: top;
				float: right;
			}
		}
	}

	.device-item {
		background: #f0f0f0;
		border-top: 1px solid #ddd;
		padding: 9px 10px 8px;

		&:last-child {
			border-bottom: 1px solid #ddd;
		}

		&:hover {
			background: #fff;
		}
	}

	.rundown-layout-editor-filter {
		border: 1px solid #f0f0f0;
		background: #f9f9f9;
		border-radius: 2px;
	}

	.star {
		color: gold;
	}

	.error-notice {
		&.inline {
			float: right;

			.svg-inline--fa {
				float: right;
				margin-left: 0.4em;
			}
		}

		.svg-inline--fa {
			color: $color-status-warning;
		}
	}
}

.btn-add-new {
	max-width: 20%;
	margin: 1em 1em 1em 0 !important;
}
