.expco.split-dropdown {
	position: relative;
	padding-top: 0;
	padding-bottom: 0;
	&.expco-expanded {
		z-index: 2;
	}

	.expco-expand {
		cursor: pointer;
	}

	.expco-title {
		white-space: nowrap;
		margin-right: 24px;
		cursor: auto;
		width: auto;
		border-right: 1px solid #ccc;
		border-radius: 0px;
		padding: 0px;
	}

	.expco-body {
		position: absolute;
		right: -1px;
		top: 100%;
		max-height: 16em;
		background: #fff;
		overflow-y: auto;
		border: 1px solid #bbb;
		padding: 2px 0 4px 0;
	}

	.expco-item {
		display: inline-block;
		white-space: pre;

		&.action-btn {
			padding: 5px 10px;
			margin: 0px;
			width: 100%;
			color: #252627;
			font-weight: 300;
		}
	}

	.expco-header {
		text-transform: uppercase;
		font-size: 0.8em;
		font-weight: bold;
		padding: 12px 10px 4px 10px;
		color: #999;
		white-space: pre;
	}

	.expco-separator {
		margin: 4px 0px;
		border-bottom: 1px solid #ddd;
	}

	.layout-icon {
		width: 16px;
		height: 16px;
		text-align: center;
		border-radius: 50%;
		display: inline-block;
		margin: 0 6px 3px 0;
		line-height: 1em;
		vertical-align: middle;

		&.small {
			font-size: 0.6em;
			line-height: 1.8em;
		}
	}
}
