.status-notification {
	position: fixed;
	bottom: 25px;
	left: 50%;
	transform: translate(-50%, 0);
	max-width: 800px;
	width: 50%;
	z-index: 1000;
	min-width: 500px;
	cursor: default;

	> .right {
		line-height: 1em;
		> .action-btn {
			line-height: 1em;
		}
	}

	&.text-s > p {
		font-weight: 400;
	}
}
