@import "_variables";

.status-bar {
	position: fixed;
	top: 59px;
	width: $statusbar-width;
	right: 0;
	bottom: 0;
	border-left: 1px solid rgba(0, 0, 0, 0.3);
	z-index: 300;
	background: #fff;

	transition: 0.3s background;

	&.super-dark {
		background: #000 !important;
	}
}

.running-order-view {
	.status-bar {
		top: 64px;
	}
}
