@import '_colorScheme';
@import '_variables';

.status-bar {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	width: $statusbar-width;
	right: 0;
	bottom: 0;
	border-left: 1px solid rgba(0, 0, 0, 0.3);
	z-index: 300;
	padding-top: rem(70px);
	background: #fff;

	transition: 0.3s background-color;

	&.super-dark {
		background: #000 !important;
	}

	.notifications__toggle-button {
		position: relative;
		top: auto;
		right: auto;
	}

	> .status-bar__cell {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;

		&--align-start {
			justify-content: flex-start;
		}

		&--align-end {
			justify-content: flex-end;
		}
	}

	.status-bar__controls__button {
		margin-left: rem(5px);
		position: relative;
		display: block;
		border: none;
		background: transparentize(#fff, 1);
		width: $fullscreen-controls__button--radius;
		height: $fullscreen-controls__button--radius;
		border-radius: 100%;
		transition: 0.3s background-color, 0.3s border-radius, 0.3s color, 0.3s margin-left, 0.3s right, 0.3s width;
		margin-bottom: 0.5rem;
		font-size: 1em;
		box-sizing: border-box;
		padding: 0;
		text-align: center;
		cursor: pointer;

		&.notifications-text {
			> .notification {
				position: absolute;
				top: 15%;
				right: 15%;
				left: auto;
			}
		}

		&::after {
			content: ' ';
			position: absolute;
			display: block;
			z-index: -1;
			border-radius: 100%;
			top: 0;
			right: 0;
			width: $fullscreen-controls__button--radius;
			height: $fullscreen-controls__button--radius;
			background: transparentize(#4b4b4b, 0.45);
			transition: 0.3s background-color;
		}

		&.status-bar__controls__button--open {
			&::after {
				background: #fff;
			}
		}

		&.status-bar__controls__button--inactive {
			cursor: default;
		}

		&:not(.status-bar__controls__button--inactive) {
			&:active,
			&.active {
				&::after {
					background: $ui-button-primary;
					transition: 0s background-color;
				}
			}
		}

		&.status-bar__controls__button--open {
			width: #{$fullscreen-controls__button--radius + 0.3125rem};
			border-radius: 0 100% 100% 0;
			background-color: #fff;
			border-top: 1px solid rgba(0, 0, 0, 0.3);
			border-right: 1px solid rgba(0, 0, 0, 0.3);
			border-bottom: 1px solid rgba(0, 0, 0, 0.3);
			border-left: 1px solid #fff;
			margin-left: -1px;
		}

		@keyframes help-fade {
			0% {
				background-color: #fff;
			}
			40% {
				background-color: #fff;
			}
			50% {
				background-color: $ui-button-primary;
			}
			60% {
				background-color: #fff;
			}
			100% {
				background-color: #fff;
			}
		}

		&.status-bar__controls__button--has-messages {
			animation: help-fade 8s 1;
		}

		&.status-bar__controls__button--take {
			text-transform: uppercase;
			font-weight: 700;
			display: none !important;

			@media (pointer: coarse) {
				display: inline !important;
			}
		}

		&.status-bar__controls__button--route-set {
			opacity: 1;
			font-size: 0.7em;
			text-transform: uppercase;
			font-weight: 600;
		}

		&.status-bar__controls__button--segment-view-mode {
			padding-top: 3px;
		}
	}
}

.rundown-view .status-bar {
	position: fixed;
	padding-right: rem(5px);
	top: rem(64px);
	padding-top: rem(15px);
	bottom: 0;
	right: 0;
	width: #{$fullscreen-controls__button--radius + 0.625rem};
	z-index: 2000;
	background: $ui-dark-color;
	border-left: none;

	.status-bar__controls__button {
		border: none;

		&.status-bar__controls__button--open {
			border: none !important;
			margin-left: 0 !important;
			background-color: #eee;
			&.notifications__toggle-button {
				background-color: #acacad;
			}
		}

		&.status-bar__controls__button--segment-view-mode {
			> svg {
				width: 2em;
				height: 2em;
				color: #fff;
				transition: 0.5s fill;
			}
		}

		&.status-bar__controls__button--switchboard-panel {
			z-index: 310;
			padding-top: 3px;

			> svg {
				width: 2em;
				height: 2em;
				transition: 0.5s fill;

				&.status-bar__controls__button--switchboard-panel__notification {
					position: absolute;
					width: 1.4em;
					height: 1.4em;
					top: 0;
					left: auto;
					right: 0;
				}
			}

			&.status-bar__controls__button--open > svg {
				> circle {
					fill: #676767;
				}
				> path {
					fill: #ccc9c9;
				}
			}
		}
	}
}
