.studio-screen-saver {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	opacity: 1;
	transition: 2s opacity;

	&.loading {
		opacity: 0;
	}

	.studio-screen-saver__bkg {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;

		z-index: -1;
		object-fit: cover;
	}

	.studio-screen-saver__info {
		position: absolute;
		width: 71vw;
		max-width: 30em;
		font-size: 4.5vmin;
		font-weight: 200;

		&.studio-screen-saver__info--no-rundown {
			width: auto;

			.studio-screen-saver__info__rundown {
				text-align: center;
			}
		}

		@media (max-aspect-ratio: 4/3) {
			font-size: 3.5vmin;
		}

		.studio-screen-saver__clock {
			font-size: 4em;
			letter-spacing: -0.04em;
			text-align: right;
			margin-bottom: 0.7em;
		}

		.studio-screen-saver__info__label {
			text-transform: uppercase;
			letter-spacing: 0.4em;
			font-size: 1em;
		}

		.studio-screen-saver__info__rundown {
			font-size: 2em;
			font-weight: 300;
		}

		.studio-screen-saver__info__countdown {
			font-size: 2em;
		}
	}
}
