@import '_colorScheme';
@import '_variables';

.status-bar__controls__button.support__toggle-button {
	position: fixed;
	right: rem(5px);
	bottom: rem(5px);
	z-index: 310;
	text-align: left;

	> svg {
		position: absolute !important;
		width: #{$fullscreen-controls__button--radius / 2} !important;
		height: #{$fullscreen-controls__button--radius / 2.86} !important;
		right: 0 !important;
		left: auto !important;
		transform: translate(-50%, -53%) !important;
		transition: 0.5s all ease-in-out !important;

		> path {
			fill: rgb(255, 255, 255);
			transition: 0.5s all linear;
		}
	}

	&.status-bar__controls__button--open {
		> svg {
			> path {
				fill: $ui-dark-color;
			}
		}
	}
}

.support-pop-up-panel,
.route-set-pop-up-panel {
	position: fixed;
	bottom: rem(13px);
	right: 0;
	left: auto;
	margin-right: rem(60px);
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	padding: rem(15px) rem(20px);
	z-index: 290;
	min-height: rem(50px);
	max-width: rem(350px);

	.support-pop-up-panel__actions {
		margin-top: 1em;

		> button {
			display: block;
			width: 100%;
			margin-top: 0.4em;
		}
	}
}

.route-set-pop-up-panel {
	bottom: auto;
	top: auto;
	margin-top: calc(#{$fullscreen-controls__button--radius * -1} - 0.5rem);
	z-index: -1;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}

.route-set-pop-up-panel .route-set-pop-up-panel__group {
	> .status-bar__controls__button {
		white-space: normal;
		vertical-align: top;
		&:first-child {
			margin-left: 0;
		}
	}
}

.rundown-view {
	.support-pop-up-panel {
		color: #000;
		background: #eee;
		z-index: 1900;
	}
	.route-set-pop-up-panel {
		color: #000;
		background: #eee;
		z-index: -1;

		.status-bar__controls__button {
			color: #fff;
		}
	}
}
