@import "_colorScheme";

.status-dialog {
	overflow: visible !important;
}

.system-status {

	.device-item-container {
		background: #f0f0f0;
    	border-top: 1px solid #ddd;
    	padding: 9px 5px 8px 10px;
		margin: 0.3em;

		&:hover {
			background: #fff;
		}

		.children {
			margin-top: 0.3em;
			padding-left: 0.5em;
			padding-right: 0.5em;

			> .device-item-container {
				margin-bottom: 0;
				margin-top: 0;
			}
		}
	}
	.device-item {
		line-height: 1.5em;
		clear: both;

		.clear {
			clear: both;
		}

		.status-container {
			float: right;
			text-align: right;
		}
		.actions-container {
			margin-top: 0.5em;
			display: block;
			text-align: right;
			clear: both;
		}

		label {
			display: inline;
		}
		div.value {
			display: inline;
		}
		.device-item__id {
			font-weight: bold;
		}
		.device-item__connected {
			font-weight: bold;
		}
		.device-item__device-status {
			> .value {
				> .pill {
					margin-right: 0;
				}
			}

			&.device-item__device-status--good {
				.pill {
					background: $color-status-good;
					border: $color-status-good;
				}
			}

			&.device-item__device-status--minor-warning {
				.pill {
					background: $color-status-minor-warning;
					border: $color-status-minor-warning;
				}
			}

			&.device-item__device-status--warning {
				.pill {
					background: $color-status-warning;
					border: $color-status-warning;
				}
			}

			&.device-item__device-status--bad {
				.pill {
					background: $color-status-bad;
					border: $color-status-bad;
				}
			}

			&.device-item__device-status--fatal {
				.pill {
					background: $color-status-fatal;
					border: $color-status-fatal;
				}
			}

			&.device-item__device-status--unknown {
				.pill {
					background: $color-status-unknown;
					border: $color-status-unknown;
				}
			}
		}

		.device-item__actions {
			> .action-btn {
				vertical-align: top;
    			margin-top: 0.4em;
			}

			> .btn {
				margin-left: 0.3em;
			}
		}
	}

	&.expando {
		> thead {
			> tr {
				> th {
					padding: 3px 5px 3px 10px;
				}
			}
		}
	}
}

.table.user-action-log {
	.user-action-log__timestamp {
		min-width: 12em;
	}
	.user-action-log__userId {
		min-width: 5em;
	}
	.user-action-log__clientAddress {
		min-width: 7em;
	}
	.user-action-log__context {
		min-width: 10em;
	}
	.user-action-log__method {
		min-width: 23em;
	}
	td.user-action-log__args {
		position: relative;
		font-family: 'Consolas', 'Courier New', Courier, monospace;
		color: #555;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 0.8em;
		line-height: 1.7em;

		&:hover {
			white-space: normal;
			overflow: visible;
			text-overflow: unset;
			word-break: break-all;
		}
	}
}
