@import "_colorScheme";

.system-status {

	.device-item-container {
		border: 1px solid #666;
		margin: 0.3em;

		.children {
			padding-left: 0.5em;
			padding-right: 0.5em;
		}
	}
	.device-item {

		clear: both;
		padding-bottom: 0.5em;

		.clear {
			clear: both;
		}

		.status-container {
			float: right;
			text-align: right;
		}
		.actions-container {
			display: block;
		}

		label {
			display: inline-block
		}
		div.value {
			display: inline-block
		}
		.device-item__device-status {
			&.device-item__device-status--good {
				.pill {
					background: $color-status-good;
					border: $color-status-good;
				}
			}

			&.device-item__device-status--minor-warning {
				.pill {
					background: $color-status-minor-warning;
					border: $color-status-minor-warning;
				}
			}

			&.device-item__device-status--warning {
				.pill {
					background: $color-status-warning;
					border: $color-status-warning;
				}
			}

			&.device-item__device-status--bad {
				.pill {
					background: $color-status-bad;
					border: $color-status-bad;
				}
			}

			&.device-item__device-status--fatal {
				.pill {
					background: $color-status-fatal;
					border: $color-status-fatal;
				}
			}

			&.device-item__device-status--unknown {
				.pill {
					background: $color-status-unknown;
					border: $color-status-unknown;
				}
			}
		}

		.device-item__actions {

			> .action-btn {
				vertical-align: top;
    			margin-top: 0.4em;
			}
		}
	}

	&.expando {
		> thead {
			> tr {
				> th {
					padding: 3px 5px 3px 10px;
				}
			}
		}
	}
}
