.testtools-timeline {
	height: calc(100vh - 220px);
	width: calc(100vw - 300px);
	position: fixed;
	top: 220px;
	overflow-x: scroll;

	.testtools-timeline-layer-label {
		position: sticky;
		left: 0;
		border: 1px solid #000;
	}

	.testtools-timeline-layer-row {
		position: static;
		top: 0px;
		left: 0px;
		width: 100%;
	}

	.testtools-timeline-layer-object {
		position: absolute;
		border: 1px solid #f00;
		background: #fff;
		overflow-x: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.testtools-timeline-scroller {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}

	.testtools-timeline-marker {
		height: 100%;
		width: 1px;
		border-left: 1px solid #0f0;
		position: absolute;
		top: 0px;
		z-index: 999;
	}
}

.testtools-timelinetable {
	& > tbody > tr {
		border-bottom: 1px solid #000;

		& > th {
			padding-right: 1em;
		}

		& > td {
			padding: 0 5px;

			> pre {
				margin: 0;
				tab-size: 4;
			}
		}

		&:nth-child(odd) {
			& > td {
				&:nth-child(odd) {
					background-color: #f0f0f0;
				}
			}
		}

		&:nth-child(even) {
			& > td {
				&:nth-child(odd) {
					background-color: #dedede;
				}
			}
		}
	}
}

.highlight-is-error {
	border: 1px #f00 solid;
}
