@import '_variables';

.timeline-visualizer {
	.timeline {
		margin-bottom: 50vh;
	}
	.details {
		position: fixed;
		bottom: 0;
		right: $statusbar-width;

		background: rgba(255, 255, 255, 0.8);
		border-left: 1px solid black;
		border-top: 1px solid black;

		.content {
			max-height: 50vh;
			overflow-y: auto;
		}
	}
}
