@import '_variables';

.center-page {
	align-items: center;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	bottom: 0;
	justify-content: center;
	width: 100vw;

	.header .badge .sofie-logo {
		margin: 0 auto;
		height: 8em;
		width: 8em;
	}
	.page {
		min-width: 25vw;
		padding: 0 45px;
	}
	.container {
		min-width: 30vw;
		text-align: center;
	}
	.error-msg {
		text-align: center;
		opacity: 0;
		transition: opacity 1s;
	}
	.error-msg-active {
		opacity: 1;
	}
	a,
	a:visited {
		color: #000;
	}
	p {
		margin: 0;
	}
	li {
		list-style: none;
	}
	button {
		/* Rule to add space between buttons on smaller screens */
		display: block;
		margin: 10px auto;
	}
	.content-left {
		text-align: left;
	}
}

@media screen and (max-height: 750px) and (min-width: 1400px) {
	.center-page {
		position: unset;
	}
}

@media screen and (max-height: 1000px) and (max-width: 1400px) {
	.center-page {
		position: unset;
	}
}

@media screen and (max-width: 1400px) {
	.center-page {
		> .frow {
			flex-direction: column;
		}
	}
}
