@import '../../styles/colorScheme';

.timecode-encoder {
	display: flex;
	flex-direction: column;

	> .timecode-encoder__top-buttons,
	> .timecode-encoder__bottom-buttons {
		text-align: center;

		> button {
			background: none;
			color: #4f4f4f;
			border: none;
			padding: 0 0.33em;

			&:focus {
				text-shadow: 0 0 5px $ui-button-primary--translucent;
			}
		}
	}

	> input {
		background: none;
		border: none;
		width: 6em;
		text-align: center;

		&:focus {
			background: #4f4f4f;
		}
	}

	&.error {
		> input {
			box-shadow: 0 0 10px $color-status-fatal--translucent;
			background: $color-status-fatal;
		}
	}
}

.dark .timecode-encoder {
	> input {
		color: #fff;
	}
}
