@import '../../../../styles/itemTypeColors';
@import '../../../../styles/colorScheme';

$triggered-action-color: #146985;

.triggered-action-entry {
	background: #ddd;
	display: flex;
	margin-bottom: 5px;
	flex-wrap: wrap;

	&:hover {
		background: #eee;
	}

	&.dragged {
		opacity: 0.5;
	}

	&.drag-over {
		&::before {
			content: ' ';
			display: block;

			position: absolute;

			width: 0;
			height: 0;
			border-style: solid;
			border-width: 4.5px 0 4.5px 5px;
			border-color: transparent transparent transparent $ui-button-primary;

			margin-left: -10px;
			margin-top: -7px;
		}
	}

	&.dragged + .drag-over {
		&::before {
			margin-top: 2.3em;
		}
	}

	.triggered-action-entry__drag-handle {
		min-width: 10px;
		max-width: 10px;
		display: flex;
		cursor: grab;

		&.locked {
			cursor: default;
		}
	}

	.triggered-action-entry__triggers {
		flex: 0 0;
		min-width: 20%;
		padding: 9px 5px 5px 6px;

		> div {
			display: inline-flex;
			border-radius: 3px;
			padding: 0 3px;
			margin: 0 3px 3px 0;
		}

		> .triggered-action-entry__hotkey {
			background: #555;
			color: #fff;
			font-weight: 400;
			justify-content: center;
			min-width: 20px;
			word-break: break-word;

			&.selected {
				position: relative;
				z-index: 1001;
			}
			&.deleted {
				text-decoration: line-through;
				opacity: 0.7;
			}

			.subtle {
				color: #aaa;
			}
		}

		> .triggered-action-entry__add-trigger {
			border: none;
			font-size: 0.7em;
			background: none;
			display: inline-flex;
			height: 1.5em;
			color: #777;
			visibility: hidden;
			margin-left: -0.2em;

			&.force {
				visibility: visible;
			}
		}

		> .triggered-action-entry__trigger-editor {
			display: block;
			min-width: 228px;
		}

		&:hover {
			> .triggered-action-entry__add-trigger {
				visibility: visible;
			}
		}
	}

	.triggered-action-entry__modify {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 4px;

		> .action-btn {
			margin-left: 10px;
		}
	}

	.triggered-action-entry__preview {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		background: #f0f0f0;
		padding: 8px 6px 5px 15px;

		> li {
			display: inline-flex;
			background: #000;
			color: #fff;
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: 400;
			text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.2), 1px 1px 0px rgba(0, 0, 0, 0.2), 1px -1px 0px rgba(0, 0, 0, 0.2),
				1px -1px 0px rgba(0, 0, 0, 0.2), 0.5px 0.5px 2px rgba(0, 0, 0, 0.2);
			margin: 0 3px 3px 0;
			padding: 0 0.3em;
			overflow: hidden;

			> span {
				margin-left: -0.3em;
				margin-right: 0.3em;
				padding: 0 0.3em;

				@include item-type-colors();
			}
		}
	}

	.triggered-action-entry__actions {
		flex: 1 0;
		padding: 9px 5px 5px 10px;

		.triggered-action-entry__action {
			> .triggered-action-entry__action__type,
			.triggered-action-entry__action__filter,
			.triggered-action-entry__action-add {
				position: relative;
				display: inline-flex;
				margin: 0 0 3px;
				border-radius: 3px 0 0 3px;
				padding: 0 3px;
				justify-content: center;
				margin-right: 12px;

				> dd {
					display: inline-flex;
					margin: 0;
					padding: 0 3px;
					background: black;
				}
				> dt {
					display: inline-flex;
					margin: 0;
					padding: 0 3px;
				}
			}

			> .triggered-action-entry__action-add {
				background: none;
				color: #777;
				font-weight: 300;
				font-style: italic;
				border: 1px solid #777;
				border-radius: 3px;
			}

			> .triggered-action-entry__action__type {
				background: $triggered-action-color;
				color: #fff;
				font-weight: 400;

				&.focused {
					z-index: 1001;
				}

				&::after {
					position: absolute;
					content: ' ';
					display: block;
					width: 0;
					height: 0;
					border-top: 10px solid transparent;
					border-bottom: 9px solid transparent;

					border-left: 9px solid $triggered-action-color;
					right: -9px;
					top: 0;
				}

				&.has-arguments {
					&::after {
						border-left-color: #000;
					}
				}

				> .arguments {
					background: #000;
					margin: 0 -3px 0 3px;
					padding: 0 3px;
				}
			}

			> .triggered-action-entry__action__filter {
				background: #999;
				color: #fff;
				font-weight: 300;
				padding: 0;

				&.focused {
					z-index: 1001;
				}

				&.final {
					border-radius: 3px;
					overflow: hidden;
				}

				&:not(.final) > dd::after {
					position: absolute;
					content: ' ';
					display: block;
					width: 0;
					height: 0;
					border-top: 10px solid transparent;
					border-bottom: 9px solid transparent;

					border-left: 9px solid black;
					right: -9px;
					bottom: 0;
				}

				> :only-child::after {
					position: absolute;
					content: ' ';
					display: block;
					width: 0;
					height: 0;
					border-top: 10px solid transparent;
					border-bottom: 9px solid transparent;

					border-left: 9px solid #999;
					right: -9px;
					bottom: 0;
				}
			}

			> .triggered-action-entry__action__filter-add {
				border: none;
				font-size: 0.7em;
				background: none;
				display: inline-flex;
				height: 1.5em;
				color: #777;
				visibility: hidden;
				margin-left: -0.5em;
			}

			> .triggered-action-entry__action-editor {
				box-sizing: content-box;
				min-width: 208px;
				> * {
					box-sizing: border-box;
				}
			}

			> .triggered-action-entry__action__filter-editor {
				box-sizing: content-box;
				min-width: 208px;
				> * {
					box-sizing: border-box;
				}

				> label {
					display: block;
				}

				> div > .form-control.input {
					width: 100%;
				}

				> div > .form-control.input.expco-popper {
					width: auto;
					min-width: 100%;

					.expco-item {
						white-space: nowrap;
					}
				}
			}
		}

		.triggered-action-entry__action:hover {
			> .triggered-action-entry__action__filter-add {
				visibility: visible;
			}
		}
	}
}
