$timeline-layer-height: 1em;

.segment-timeline {
	display: block;
	width: 100%;
	max-width: 100%;

	.segment-timeline__title {
		position: relative;
	}
}
.segment-timeline__title__check {
	margin: 0 0 0.5em;
	padding: 0 0.5em;

	.checkbox-checked {
		color: #0cff57;
	}
}
.segment-timeline__title__label.identifier::before {
	content: attr(data-identifier);
	background-color: #095709;
	margin-right: 10px;
	padding: 3px;
	white-space: nowrap;
	border-radius: 3px;
}
.segment-timeline__part-identifiers {
	text-align: left;

	.segment-timeline__part-identifiers__identifier {
		display: inline-block;
		box-sizing: border-box;
		cursor: pointer;
	}
}
.segment-timeline__liveline {
	position: absolute;
	top: 2.3em;
	left: 0;
	bottom: 0.2em;
}
.segment-timeline__timeline-container {
	position: relative;
	overflow: hidden;
	contain: content style;

	&.segment-timeline__timeline-container--grabbable {
		cursor: grab;

		&.segment-timeline__timeline-container--grabbed {
			cursor: grabbing;
		}
	}

	.segment-timeline__timeline {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		display: flex;
		width: 100%;
		flex-flow: row nowrap;
		align-items: flex-start;
		align-content: flex-start;
		justify-content: flex-start;

		will-change: transform;
		contain: strict style;
	}
}
.segment-timeline__zoom-area {
	contain: strict style;

	.segment-timeline__timeline {
		.segment-timeline__part {
			display: inline-block;
		}
	}
}
.segment-timeline__timeline-grid {
	position: relative;
	contain: strict style;

	.segment-timeline__timeline-grid__canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.segment-timeline__part {
	flex: 0 0;
	pointer-events: none;
	contain: layout style;

	&.segment-timeline__part--end-of-segment {
		// this is end of segment
	}

	.segment-timeline__output-group {
		display: flex;
		flex-flow: column nowrap;
		min-height: 1em;
		contain: strict style;
		overflow: hidden;

		.segment-timeline__layer {
			flex: 1 1;
			display: block;
			position: relative;
			min-height: 1em;
			line-height: 1em;
			pointer-events: auto;
			contain: strict style;

			> * {
				pointer-events: none;
			}

			> .segment-timeline__piece {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: auto;
				box-sizing: border-box;
				white-space: nowrap;
				pointer-events: auto;
			}
		}
	}

	.segment-timeline__piece-appendage {
		position: absolute;
		top: 0;
		bottom: 0;
		display: block;
	}

	.segment-timeline__part__difference {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 0;
		background: rgba(0, 0, 0, 0.5);
		z-index: 5;
		pointer-events: none;
	}
}
.segment-timeline__output-layers {
	display: block;

	> .segment-timeline__output-layer-control {
		flex: 0 0;
		display: flex;
		line-height: $timeline-layer-height;
		min-height: $timeline-layer-height;
		box-sizing: border-box;
		position: relative;

		flex-flow: column nowrap;
		align-items: flex-end;
		align-content: flex-start;
		justify-content: flex-start;

		> .segment-timeline__output-layer-control__label {
			position: absolute;
			top: 0;
			left: 0;
		}

		> .segment-timeline__output-layer-control__layer {
			flex: 1 1;
			line-height: $timeline-layer-height;
			height: $timeline-layer-height;
			min-height: $timeline-layer-height;
			box-sizing: border-box;
			white-space: nowrap;
			overflow: hidden;
		}
	}
}
