@import '../../../styles/itemTypeColors';

$source-layer-height: 1.2rem;
$source-layer-margin: 0.1rem;

.segment-storyboard__part__secondary-pieces {
	margin-top: 0.3em;
}

.segment-storyboard__part__output-group {
	min-height: $source-layer-height + $source-layer-margin * 2;
}

.segment-storyboard__part__source-layer {
	display: flex;
	min-height: $source-layer-height;
	margin-bottom: $source-layer-margin;
}

.segment-storyboard__part__piece {
	@include item-type-colors();
	@include missing-overlay();

	position: relative;
	flex: 1 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: $source-layer-height;
	font-size: 1em;
	margin-bottom: $source-layer-margin;
	padding: 0 0.2em;
	border-radius: 3px;

	margin-right: $source-layer-margin;

	text-shadow: 0.5px 0.5px 8px rgba(0, 0, 0, 0.8);
	font-weight: 400;

	&:last-child {
		margin-right: 0;
	}

	&.script {
		font-weight: 300;
		font-style: italic;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.part__piece__right-align-label-container {
	direction: rtl;

	> .part__piece__right-align-label-inside {
		white-space: nowrap;
		direction: ltr;
		display: inline-block;
	}
}
