@import '../../../styles/itemTypeColors';

$source-layer-height: 1.2rem;
$source-layer-margin: 0.2rem;

.segment-storyboard__part__secondary-pieces {
	margin-top: 0.3em;
	display: flex;
	flex-direction: column;

	.segment-storyboard__part__piece {
		position: absolute;
	}
}

.segment-storyboard__part__output-group {
	min-height: $source-layer-height + $source-layer-margin;
	display: flex;
	flex-direction: column;
}

.segment-storyboard__part__source-layer {
	position: relative;
	min-height: $source-layer-height;
	margin-bottom: $source-layer-margin;
	overflow: hidden;

	> .segment-storyboard__part__piece {
		width: 100%;
	}

	&--multiple-piece {
		> .segment-storyboard__part__piece {
			width: 80%;
			filter: brightness(0.5);
			$squished-shadow: 0 0 10px rgba(0, 0, 0, 1);
			box-shadow: $squished-shadow;

			&--frontmost {
				filter: none;
			}

			&--playing {
				@keyframes segment-storyboard__part__piece--playout {
					0% {
						width: 0;
					}
					100% {
						width: 100%;
					}
				}

				&::after {
					content: ' ';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					width: 0;
					animation-name: segment-storyboard__part__piece--playout;
					animation-fill-mode: both;
					animation-iteration-count: 1;
					animation-direction: normal;
					animation-timing-function: linear;
					animation-duration: var(--piece-playback-duration, 0);

					background-color: rgba(255, 255, 255, 0.3);
				}
			}
		}
	}
}

.segment-storyboard__part__piece {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: $source-layer-height;
	font-size: 1em;
	padding: 0 0.2em;
	border-radius: 3px;
	cursor: default;

	margin-right: $source-layer-margin;

	text-shadow: 0.5px 0.5px 8px rgba(0, 0, 0, 0.8);
	font-weight: 400;

	background: $segment-layer-background-unknown;

	@include item-type-colors();
	@include missing-overlay();

	&.disabled {
		background: $segment-item-disabled-background !important;
		color: $segment-item-disabled-color !important;
	}

	&:last-child {
		margin-right: 0;
	}

	&.script {
		font-weight: 300;
		font-style: italic;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&::before {
		z-index: -1;
	}
}

.part__piece__right-align-label-container {
	direction: rtl;

	> .part__piece__right-align-label-inside {
		white-space: nowrap;
		direction: ltr;
		display: inline-block;
	}
}
