/* Material design inspired inputs */

.mdi {
  position: relative;
}

.mdinput {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #8a8a8a;
  padding: 7px 35px 6px 4px;
  transition: color;
  width: 100%;
}

.mdinput .input {
  border: none;
  min-height: 1rem;
}

.mdinput .input:focus,
.mdinput:focus,
.mdi-focus .mdinput {
  border-color: $color-grey;
  color: #1a1a1a;
  outline: none;
}

.mdi .mdinput {
  border-color: #ccc;
  position: relative;
  z-index: 1;
}

.mdfx {
  background: $color-grey;
  bottom: 0;
  height: 1px;
  left: 0;
  position: absolute;
  transition: width;
  width: 0;
  z-index: 10;
}

.mdinput:focus + .mdfx,
.mdi-focus .mdfx {
  width: 100%;
}

.mdi .action-btn {
  color: $color-grey;
  position: absolute;
  right: 8px;
  top: 7px;
  transition: opacity;
  z-index: 5;
}

.mdi .edit-action {
  opacity: 0;
}

.mdi .perma-action {
  left: 0;
  right: auto;
}

.mdi .perma-action + .mdinput {
  padding-left: 28px;
}

.mdinput:focus ~ .action-btn,
.mdi-focus .action-btn {
  color: #1a1a1a;
}

.mdinput:focus ~ .edit-action,
.mdi .view-action,
.mdi-focus .edit-action {
  opacity: 1;
}

.mdinput:focus ~ .view-action,
.mdi-focus .view-action {
  opacity: 0;
}

.input-hl .mdinput {
  border-color: $color-yellow;
}

.mdfx-hl {
  background: $color-yellow;
  bottom: 0;
  position: absolute;
  height: 0;
  left: 0;
  transition: height;
  width: 100%;
  z-index: 0;
}

.input-hl .mdfx-hl,
.error .mdfx-hl {
  height: 100%;
}

.mdinput:focus ~ .mdfx-hl,
.mdi-focus .mdfx-hl {
  height: 0;
}

.error .mdinput {
  /*.error .action { TODO hides actions without background */
  border-color: $color-red;
  color: $color-white;
}

.error .mdinput:focus {
  color: inherit;
}

.error .mdfx-hl {
  background: $color-red;
}

.error .mdfx {
  background: $color-red;
}

.mdinput,
.mdfx,
.mdi .action-btn,
.mdfx-hl {
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
}

/* Elastic fields in material design inputs */
.mdinput .elastic-input {
  top: -2px;
}