.pill {
  background: $dark-bg-color;
  border: 1px solid $dark-bg-color;
  border-radius: 1rem;
  color: $dark-fg-color;
  display: inline-block;
  line-height: 2;
  margin: -4px 10px -4px 0;
  padding: 0 0.5rem;

}

@keyframes pill-anim-in {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.0);
  }
}

.pills {
  padding-top: 4px;
}

.pills .pill {
  margin-bottom: 16px;
}

.pill-action {
  background: transparent;
  border: none;
  color: inherit;
  display: inline-block;
  font-size: 0.8125rem;
  margin: 0 -6px 0 0;
  padding: 0;
  line-height: 1rem;
  vertical-align: middle;
  transition: all 0.2s ease-out;
}

.pill-action:hover{
  color: inherit;
  transform: rotate(-90deg);
}

.pill-subtle {
  background-color: $subtle-color;
  border-color: $subtle-color;
}

.pill-dp {
  border-color: $form-control-disabled-color;
  background: transparent;
  color: $dimmed-color;
}

.pill-hl {
  border-color: $color-yellow;
  background: $color-yellow;
  color: $subtle-color;
}

/* Pills */
.dark .pill {
  background-color: $color-dirty-white;
  border-color: $color-dirty-white;
  color: $color-black;
}

.dark .pill:focus {
  border-color: $dark-keyboard-focus-color;
}

.dark .pill-subtle {
  background-color: $color-lighter-grey;
  border-color: $color-lighter-grey;
}

.dark .pill-dp {
  background: transparent;
  border-color: $color-grey;
  color: $color-grey;
}

.dark .pill-hl {
  background-color: $color-yellow;
  border-color: $color-yellow;
  color: $color-grey;
}

.dark .pill-action {
  color: inherit;
}

.pill-link,
.pill-link:visited,
.dark .pill-link{
  color: inherit;
}

.pill-link:hover{
  text-decoration: underline;
  color: inherit;
}

.pill-subtle .pill-action:hover,
.pill-dp .pill-action:hover{
  color: $color-true-black;
}

.dark .pill-subtle .pill-action:hover,
.dark .pill-dp .pill-action:hover{
  color: $color-white;
}
