.predictive-input {
  position: relative;
}

.pi-input,
input.pi-input,
input[type=search].pi-input {
  position: relative;
  z-index: 1;
}

.pi-prediction,
.pi-current-input,
.dark .pi-prediction,
.dark .pi-current-input {
  border: none;
  box-shadow: none;
}

.pi-prediction,
.pi-current-input {
  position: absolute;
  top: 2px;
  left: 2px;
  color: $dimmed-color;
  z-index: 0;
}

.pi-current-input {
  background: transparent;
  color: $color-white;
  padding-right: 0 !important;
  z-index: 1;
}

.text-input.pi-current-input,
.text-input.pi-prediction {
  top: 1px;
  left: 1px;
}

.pi-input-pill {
  position: absolute;
  top: 4px;
  left: 0;
  border: dashed 1px $dimmed-color;
  border-radius: 16px;
  max-height: 32px;
  color: transparent;
  padding: 0 10px;
  width: initial;
  min-width: 32px;
  z-index: 1;
  white-space: pre;
}