
.origo-pulse {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 32px;
  height: 32px;
  top: 10px;
}

.origo-pulse .pulse-marker {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 50%;
}

.origo-pulse .pulse-rays {
  margin: 0 auto;
  position: absolute;
  right: -12px;
  top: -12px;
  z-index: 4;
  background-color: transparent;
  opacity: .1;
  width: 32px;
  height: 32px;
  border: 2px solid red;
  border-radius: 50%;
  animation: origo-pulse 3s linear infinite;
  border-image: initial;
}

.origo-pulse .pulse-rays.delay {
  animation-delay: 1.5s;
}

.origo-pulse.small {
  width: 20px;
  height: 20px;
  top: 5px;
}

.origo-pulse.small .pulse-marker {
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
}

.origo-pulse.small .pulse-rays {
  right: -7px;
  top: -7px;
  width: 20px;
  height: 20px;
}

@keyframes origo-pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  8% {
    transform: scale(0);
    opacity: 0;
  }
  15% {
    transform: scale(0.1);
    opacity: 1;
  }
  30% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}