.thumb-scrubber {
  padding-top: 50px;
  padding-bottom: 10px;
  margin-top: -50px;
  margin-bottom: -10px;
}

.ts-frame {
  background: $color-darker-grey;
  float: left;
  width: 6.25%;
}

.ts-frame .img {
  width: 100%;
}

.ts-frame + .ts-frame .ts-img {
  border-left: 1px solid $color-black;
}

.slider {
  bottom: 10px;
  position: absolute;
  top: 50px;
  z-index: 1;
}

.ts-slider {
  bottom: -10px;
  background-color: $color-medium-blue;
  border: 1px solid $bg-color;
  left: -2px;
  position: absolute;
  top: -10px;
  width: 4px;
}

.ts-slide-left,
.ts-slide-right {
  opacity: 0;
  -moz-transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.thumb-scrubber:hover .ts-slide-left,
.thumb-scrubber:hover .ts-slide-right,
.thumb-scrubber:focus .ts-slide-left,
.thumb-scrubber:focus .ts-slide-right {
  opacity: 1;
}

.ts-slide-left,
.ts-slide-left:after,
.ts-slide-right,
.ts-slide-right:after {
  height: 0;
  border: solid transparent;
  position: absolute;
  width: 0;
}

.ts-slide-left:after,
.ts-slide-right:after {
  content: '';
  display: block;
}

.ts-slide-left,
.ts-slide-right {
  border-top-width: 5px;
  border-bottom-width: 5px;
  margin-top: -5px;
  top: 50%;
}

.ts-slide-left {
  border-right: 5px solid $bg-color;
  left: -9px;
}

.ts-slide-left:after,
.ts-slide-right:after {
  border-top-width: 4px;
  border-bottom-width: 4px;
  top: -4px;
}

.ts-slide-left:after {
  border-right: 4px solid $color-medium-blue;
  left: -2px;
}

.ts-slide-right {
  border-left: 5px solid $bg-color;
  right: -9px;
}

.ts-slide-right:after {
  border-left: 4px solid $color-medium-blue;
  right: -2px;
}

.ts-preview {
  transform: translate(-50%, -90%);
  z-index: 2;
  position: relative;
  width: 80px;
}

.dark .ts-slider,
.dark .ts-slider:after {
  border-color: $dark-bg-color;
}

.dark .ts-slide-left {
  border-right-color: $dark-bg-color;
}

.dark .ts-slide-right {
  border-left-color: $dark-bg-color;
}
