/* Tooltips */
.tooltip {
  background: $tooltip-bg-color;
  color: $dark-fg-color;
  display: inline-block;
  padding: 8px 8px 6px;
  position: relative;
  pointer-events: none;
  @include drop-shadow-medium;
}

.tooltip-tight {
  padding: 6px 6px 4px;
}

.tooltip-pointer {
  position: absolute;
  background: none;
  border-style: solid;
  height: 0;
  width: 0;
  border-width: 6px 6px 0 6px;
  border-color: $tooltip-bg-color transparent;
  top: 100%;
  left: calc(50% - 6px);
}

.tt-upwards {
  border-width: 0 6px 6px 6px;
  border-color: $tooltip-bg-color transparent;
  top: -5px;
}

.tt-right {
  border-width: 6px 0 6px 6px;
  border-color: transparent $tooltip-bg-color;
  left: initial;
  right: -6px;
  top: calc(50% - 5px);
}

.tt-left {
  border-width: 6px 6px 6px 0;
  border-color: transparent $tooltip-bg-color;
  left: -6px;
  top: calc(50% - 5px);
}

.dark .tooltip {
  background-color: $bg-color;
  color: $fg-color;
}

.dark .tooltip-pointer {
  border-color: $color-white transparent;
  &.tt-upwards, &.tt-right, &.tt-left {
    border-color: $color-white transparent;
  }
}

.darker .tooltip {
  background-color: $color-lightest-grey;
  color: $fg-color;
}

.darker .tooltip-pointer {
  border-color: $color-lightest-grey transparent;
  &.tt-upwards, &.tt-right, &.tt-left {
    border-color: $color-lightest-grey transparent;
  }
}

.dark.darker, .dark .darker .tooltip-pointer {
  border-color: $color-darker-black transparent;
  &.tt-upwards, &.tt-right,& .tt-left {
    border-color: $color-darker-black transparent;
  }
}

.border-box + .tooltip-pointer.tt-upwards {
  border-color: $bg-color transparent;
}

.dark .border-box + .tooltip-pointer.tt-upwards {
  border-color: $dark-subtle-bg-color transparent;
}
