.media-status-table-scrollbox {
	max-height: calc(100vh - 182px);
	overflow: auto;
	margin-bottom: -40px;
}

.media-status-table {
	width: 100%;
	width: -webkit-fill-available;
	letter-spacing: 0;
}

.media-status-table-search {
	float: right;
	position: relative;

	margin-top: 2em;

	.media-status-table-search__search-input {
		&::placeholder {
			color: #333;
			font-style: italic;
		}

		border: none;
		border-radius: 1em;
		width: 15em;
		padding: 5px 2em 5px 0.5em;

		background: #f5f5f5;
	}
	.media-status-table-search__clear-search-input {
		position: absolute;
		right: 1em;
		top: 0.35em;
		opacity: 0.3;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}
	}
}

.media-status-list-message {
	text-align: center;
	font-style: italic;
	padding-top: 1em;
}

.media-status-table {
	table-layout: fixed;

	.media-status-item__rundown {
		width: 17em;
	}

	.media-status-item__status {
		width: 2em;
	}

	.media-status-item__source-layer {
		width: 3em;
	}

	.media-status-item__identifiers {
		width: 4em;
	}

	.media-status-item__duration {
		width: 5em;
	}
}
