.dashboard-panel {
	&.nrk_ta {
		.dashboard-panel__panel__button.lower-third,
		.dashboard-panel__panel__button.graphics {
			background-color: #343434;
		}

		/**
		 * persistent buttons bottom row - for screen operations
	 	 */
		&.buttons .dashboard-panel__panel__button__label-container {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		/**
		 * leftmost list of screen content
		 */
		&.skjermgrafikk .dashboard-panel__panel__button.lower-third,
		&.skjermgrafikk .dashboard-panel__panel__button.graphics {
			border: 1px var(--segment-layer-background-graphics) solid;
			border-left-width: 11px;

			.dashboard-panel__panel__button__label-container {
				margin-left: 12px !important;
			}
		}

		/** 
		* lists of manual supers and other adlibs
		*/
		&.supring .dashboard-panel__panel__button.lower-third,
		&.supring .dashboard-panel__panel__button.graphics {
			border: 1px var(--segment-layer-background-graphics) solid;
			border-left-width: 11px;

			.dashboard-panel__panel__button__label-container {
				margin-left: 8px !important;
				font-size: 0.8em;
			}
		}
	}
}
