@import "prism.css";

.section > .col {
  padding: 40px 0;
}

.section + .section,
.example + .section {
  border-top: 1px solid #737373;
}

pre {
  font-size: 0.875rem;
}

.row {
  padding: 0;
}

.origo-framework-background-colorchange{
  font-weight: bold;
  padding: 20px;
  background-color: #A5CD39;
}

.origo-framework-background-colorchange:before{
  content: 'default';
  color: #252627;
}

@media only screen and (min-width: 640px) {
  .origo-framework-background-colorchange:before {
    content: 'small';
  }
  .origo-framework-background-colorchange {
    background-color: #ffff42;
  }
}

@media only screen and (min-width: 992px) {
  .origo-framework-background-colorchange:before {
    content: 'medium';
  }
  .origo-framework-background-colorchange {
    background-color: #ff4747;
  }
}

@media only screen and (min-width: 1200px) {
  .origo-framework-background-colorchange:before {
    content: 'large';
  }
  .origo-framework-background-colorchange {
    background-color: #1769ff;
  }
}

@media only screen and (min-width: 1800px) {
  .origo-framework-background-colorchange:before {
    content: 'xlarge';
  }
  .origo-framework-background-colorchange {
    background-color: #E60778;
  }
}