// color variables are defined in defaultColors.scss

$color-status-good: var(--color-status-good);
$color-status-minor-warning: var(--color-status-minor-warning);
$color-status-minor-warning-text: var(--color-status-minor-warning-text);
$color-status-warning: var(--color-status-warning);
$color-status-bad: var(--color-status-bad);
$color-status-fatal: var(--color-status-fatal);
$color-status-fatal--translucent: var(--color-status-fatal--translucent);
$color-status-unknown: var(--color-status-unknown);

//$general-live-color: var(--general-live-color);
$general-live-color: var(--general-live-color);
//$general-next-color: var(--general-next-color);
$general-next-color: var(--general-next-color);

//$general-live-remote-color: var(--general-live-remote-color);
$general-live-remote-color: var(--general-live-remote-color);
$general-live-guest-color: var(--general-live-guest-color);

$general-late-color: var(--general-late-color);
$general-fast-color: var(--general-fast-color);
$general-fast-color--shadow: var(--general-fast-color--shadow);
$general-countdown-to-next-color: var(--general-countdown-to-next-color);

$general-clock: var(--general-clock);

$general-timecode-color: var(--general-timecode-color);

$part-identifier: var(--part-identifier);
$part-identifier-text: var(--part-identifier-text);

$ui-button-primary: var(--ui-button-primary);
$ui-button-primary--hover: var(--ui-button-primary--hover);
$ui-button-primary--translucent: var(--ui-button-primary--translucent);

$ui-dark-color: var(--ui-dark-color);
$ui-dark-color-brighter: var(--ui-dark-color-brighter);
