.collapse-json__block {
	text-wrap: wrap;
	white-space: pre-wrap;
	word-break: break-all;

	&.expanding {
		cursor: pointer;
	}
}

.collapse-json__tools {
	display: block;
	float: right;
	clear: both;
}

.collapse-json__tools > button {
	background: #eee;
	border-radius: 3px;
	line-height: 1rem;
	padding: 0 0.3rem;
	margin-top: 0.2rem;
	border: none;
	user-select: none;
	margin-left: 0.2rem;
	vertical-align: top;

	&:focus {
		outline: none;
		box-shadow: 0 0 0 2px #00feff;
	}

	&:active {
		background-color: #ddd;
	}
}

.collapse-json__copy {
	font-family: Roboto, Arial, sans-serif;
	font-weight: 500;
	font-size: 0.8em;
	color: #888;
}
