.expco.colorpicker {
	position: relative;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 8px;

	&.expco-expanded {
		z-index: 2;
	}

	.expco-expand {
		cursor: pointer;
	}

	.expco-title {
		white-space: nowrap;
		margin-right: 24px;
		width: 100%;
		padding: 12px 0px;
		overflow: hidden;
		vertical-align: middle;
	}

	.expco-body {
		position: absolute;
		left: -1px;
		width: 210px;
		top: 100%;
		max-height: 16em;
		background: #fff;
		overflow-y: auto;
		border: 1px solid #bbb;
		padding: 4px;
	}

	.expco-item {
		display: inline-flex;
		white-space: pre;
		margin: 4px;

		&.action-btn {
			padding: 0px;
			margin: 0px;
			width: 100%;
			color: #252627;
			font-weight: 300;
		}
	}

	.color-preview {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: 1px solid #bbb;
	}
}
