.counter-component__planned-end,
.counter-component__time-to-planned-end,
.counter-component__time-since-planned-end,
.counter-component__over-under {
	font-family: 'Roboto Flex';
	font-style: normal;
	font-size: 120px;
	font-weight: 500;
	line-height: 100%;
	font-feature-settings: 'liga' off;
	margin-bottom: 4px;
}

.counter-component__over-under {
	color: black;
	text-align: right;

	font-stretch: 57;
	font-variation-settings: 'GRAD' 0, 'XOPQ' 96, 'XTRA' 468, 'YOPQ' 79, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'YTLC' 548,
		'YTUC' 712, 'slnt' 0, 'opsz' 44;

	.under {
		background-color: #ff0;
		border-radius: 139px;
		align-self: stretch;
		gap: 10px;
		min-width: 240px;
		padding-left: 22px;
		padding-right: 22px;
	}
	.over {
		background-color: #ff5218;
		border-radius: 139px;
		align-self: stretch;
		gap: 10px;
		min-width: 240px;
		padding-left: 22px;
		padding-right: 22px;
	}
}

.counter-component__planned-end {
	font-weight: 400;
	letter-spacing: 0%;

	color: #ffffff;
	font-stretch: 70;
	font-variation-settings: 'GRAD' 0, 'XOPQ' 96, 'XTRA' 468, 'YOPQ' 79, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'YTLC' 548,
		'YTUC' 712, 'slnt' -7, 'opsz' 100, 'wdth' 80;
}

.counter-component__time-to-planned-end {
	color: #ff0;
	letter-spacing: 0%;
	text-align: right;

	font-stretch: 57;
	font-variation-settings: 'GRAD' 0, 'XOPQ' 96, 'XTRA' 468, 'YOPQ' 79, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'YTLC' 548,
		'YTUC' 712, 'slnt' 0, 'opsz' 44;
}

.counter-component__time-since-planned-end {
	color: #ff5218;
	text-align: right;

	font-stretch: 57;
	font-variation-settings: 'GRAD' 0, 'XOPQ' 96, 'XTRA' 468, 'YOPQ' 79, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'YTLC' 548,
		'YTUC' 712, 'slnt' 0, 'opsz' 44;
}
