@import '_variables';

$glow-color: rgba(255, 255, 255, 0.58);

.element-selected {
	box-shadow: inset 0 0 15px $glow-color;
	animation: subtle-glow 1s ease-in-out infinite;

	@keyframes subtle-glow {
		0%,
		100% {
			box-shadow: inset 0 0 15px $glow-color;
		}
		50% {
			box-shadow:
				inset 0 0 25px $glow-color,
				inset 0 0 35px $glow-color;
		}
	}
}
