.glass-pane {
	.border-box {
		display: block;
		padding: 0;
		border: none;
		pointer-events: auto;

		.big {
			max-width: 500px;
			width: 100%;
		}

		p,
		center,
		.table {
			font-weight: 300;
		}
	}
}

.dark .border-box {
	color: #fff;
}

.btn.btn-primary.btn-warn {
	background: #e62421;
	border-color: #e62421;
	color: #ffffff;
}

.btn.btn-secondary.btn-warn {
	border-color: #e62421;
	color: #e62421;
}
