@import 'colorScheme';

.expco {
	user-select: none;

	.expco-expand.action-btn {
		top: 10px;
	}

	.expco-body .expco-item {
		.action-btn {
			position: static;

			.checkbox {
				.checkbox-checked,
				.checkbox-unchecked {
					top: -3px;
				}
			}
		}
	}

	.expco-title.focusable-main {
		&.placeholder {
			color: #bbb;
		}
	}

	.expco-title span:not(:last-child):after {
		content: ', ';
	}

	&:not(.expco-expanded) {
		.action-btn.expco-expand {
			transform: rotate(180deg);
		}
	}

	&.expco-expanded:not(.expco-popper) {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	&.expco-popper {
		border: 0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		background: #fff;
		margin: 0 !important;
		transition: none;
		z-index: 1000;
	}

	&.expco-popper.expco-popper-rounded {
		border-radius: 4px;
	}

	&.option-missing {
		border-color: $color-status-fatal;
	}
}

.expco.dropdown {
	position: relative;
	padding: 0px;

	.expco-title {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: middle;
		height: 31px;
		line-height: 31px;
		padding-right: 18px;
	}

	.expco-expand.action-btn {
		top: 7px;
	}

	&.expco-popper {
		display: none;
		z-index: 2;
		background: #fff;
		padding: 0px;
		border: 1px solid rgba(99, 99, 99, 0.5);
		width: auto;

		&.expco-expanded {
			display: block;
			z-index: 1000;
		}
	}

	.expco-body {
		max-height: 12em;
		min-height: 1em;
		min-width: 4em;
		overflow-y: auto;
		border: none;
	}

	&:focus {
		box-shadow: none;
	}
}

.table {
	.expco-item {
		margin: 10px;
	}
}
