@import 'colorScheme';

.expco {
	user-select: none;

	&.form-select {
		display: flex;
		padding-right: 0.75rem;

		.expco-title {
			flex-grow: 1;
		}

		.action-btn.expco-expand {
			// Derived from the bootstrap styling for dropdowns, but customised to allow the icon to be rotated
			background-color: var(--bs-body-bg);
			background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
			background-repeat: no-repeat;
			background-position: right 0 center;
			background-size: 16px 12px;

			width: 16px;
			transform: rotate(180deg);
		}

		&:not(.expco-expanded) {
			.action-btn.expco-expand {
				transform: rotate(0deg);
			}
		}
	}

	.expco-expand.action-btn {
		top: 10px;
	}

	.expco-body .expco-item {
		margin: 0.5rem;

		display: flex;
	}

	.expco-title.focusable-main {
		&.title-placeholder {
			color: #bbb;
		}
	}

	.expco-title span:not(:last-child):after {
		content: ', ';
	}

	&.form-select {
		background-image: none;
	}

	&.expco-expanded:not(.expco-popper) {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	&.expco-popper {
		border: 0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		background: #fff;
		margin: 0 !important;
		transition: none;
		z-index: 1000;
	}

	&.expco-popper.expco-popper-rounded {
		border-radius: 4px;
	}

	&.option-missing {
		border-color: $color-status-fatal;
	}
}

.expco.dropdown {
	.expco-title {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: middle;
		padding-right: 18px;

		// Enforce the correct height when empty
		height: 1.1em;
	}

	.expco-expand.action-btn {
		top: 7px;
	}

	&.expco-popper {
		display: none;
		z-index: 2;
		background: #fff;
		padding: 0px;
		border: 1px solid rgba(99, 99, 99, 0.5);
		width: auto;

		&.expco-expanded {
			display: block;
			z-index: 1000;
		}
	}

	.expco-body {
		max-height: 12em;
		min-height: 1em;
		min-width: 4em;
		overflow-y: auto;
		border: none;
	}

	&:focus {
		box-shadow: none;
	}
}

.table {
	.expco-item {
		margin: 10px;
	}
}
