@import '../styles/itemTypeColors';
@import '_colorScheme';
@import '_variables';

.properties-panel {
	position: fixed;
	background: #7b7b7b;
	color: #000;
	top: 4rem;
	right: 0;
	bottom: 0;
	width: $properties-panel-width;
	z-index: 292;

	transform: translateX(100%);
	animation: show 200ms 0ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;

	@keyframes show {
		100% {
			transform: unset;
		}
	}

	&::before {
		content: ' ';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: -0.625rem;
		width: 0.625rem;
		background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.15) 100%);
	}

	.propertiespanel-pop-up {
		background: #2e2e2e;
		border-radius: 1px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
		height: 100%;
		width: calc(100% - 3.75rem);
		position: relative;

		display: flex;
		flex-direction: column;

		> .propertiespanel-pop-up__header {
			background: #0a20ed;
			color: #ddd;

			max-width: 100%;

			display: flex;
			padding: 1em;
			align-items: center;
			gap: 0.2em;
			align-self: stretch;

			text-shadow: 0.5px 0.5px 8px rgba(0, 0, 0, 0.8);
			font-family: Roboto;
			font-size: 1em;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: 0.5px;

			> .svg {
				width: 1em;
				height: 1.2em;
				flex-shrink: 0;
			}
			> .title {
				flex-grow: 1;
				flex-shrink: 1;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				min-width: 0;
			}
			> .properties {
				color: #fff;
				font-family: Roboto;
				font-size: 16px;
				font-style: normal;
				font-weight: 300;
				line-height: normal;
				letter-spacing: -0.1px;
				flex-shrink: 0;
			}
			> .propertiespanel-pop-up_close {
				height: 1em;
				margin-left: 1em;
				background-color: unset;
				border: none;
			}
		}

		> .propertiespanel-pop-up__footer {
			flex: 1;
			flex: 0 0 0;
			padding: 10px;
			display: flex;
			justify-content: space-between;
			gap: 12px;

			> .propertiespanel-pop-up__button-group {
				display: inherit;
				gap: inherit;
			}

			> .propertiespanel-pop-up__button,
			.propertiespanel-pop-up__button-group .propertiespanel-pop-up__button {
				display: block;

				border-radius: 5px;
				border: 1px solid #7f7f7f;
				background: #636363;
				padding: 10px;

				color: #dfdfdf;
				font-size: 0.875em;
				font-weight: 500;

				&:active {
					transform: scale(0.95);
					top: 2px;
				}

				&:disabled {
					cursor: not-allowed;
					opacity: 0.3;

					&:active {
						transform: none;
						top: 0;
					}
				}

				> svg {
					margin-top: -0.1em;
					vertical-align: middle;
					margin-right: -0.4em;
					width: 1em;
					height: 1em;
				}

				svg {
					width: 1.3em;
					height: 0.875em;
				}

				.label {
					margin-left: 10px;
					margin-right: 10px;
					margin-top: 2px;
					line-height: inherit;
				}

				&.start {
					justify-self: start;
				}
				&.end {
					justify-self: end;
				}
			}
		}

		> .propertiespanel-pop-up__contents {
			flex: 1;
			padding: 0.525rem 0.6375rem;
			cursor: default;
			overflow: hidden auto;
			overflow-wrap: break-word;

			flex: 1 0;

			> hr {
				margin-left: 0px;
				width: 100%;
				border-color: #7f7f7f;

				margin-bottom: 0.5rem;
			}

			> .propertiespanel-pop-up__groupselector {
				display: flex;
				flex-wrap: wrap;
				margin-top: 0.5em;
				margin-bottom: 0.5em;

				> .propertiespanel-pop-up__groupselector__button {
					@include item-type-colors();

					& {
						width: 50px;
						height: 30px;
						border: 0px;
						margin: 3px;
						gap: 10px;
						color: #ddd;
						opacity: 0.2;
						white-space: nowrap;
					}

					&.splits {
						background: linear-gradient(
							to right,
							$segment-layer-background-camera 50%,
							$segment-layer-background-remote 50.0001%
						);
					}

					&.active {
						color: #fff;
						opacity: 1;
					}
				}
			}

			> .propertiespanel-pop-up__action {
				margin-top: 15px;
				color: #ddd;
				padding: 4px 4px;
			}

			> .properties-panel-pop-up__form {
				color: #ddd;
			}

			.propertiespanel-pop-up__button {
				// margin-top: 10px;
				background: #636363;
				padding: 10px;
				gap: 10px;
				border-radius: 5px;
				border: 1px solid #7f7f7f;
				color: #dfdfdf;

				font-size: 0.875em;
				font-weight: 500;

				&:active {
					transform: scale(0.95);
					top: 2px;
				}

				svg {
					width: 1em;
					height: 0.875em;
				}

				.label {
					margin-left: 10px;
					margin-right: 10px;
					margin-top: 2px;
					line-height: inherit;
				}
			}

			// This styling has a lot of force added, and should be seen as a workaround
			// to get styling on the current Sofie UI schema/overrides components
			// without changing current look and behavior in other places of Sofie
			.styled-schema-form {
				width: 100%;

				.field {
					width: 100%;
				}

				// // Force the base input-l class
				// .input-l {
				// 	width: 100% !important;
				// 	max-width: none !important;
				// 	margin-left: 0px;
				// 	border: none;
				// }

				// // Force the select/text-input defaults
				// .select,
				// .inline-select,
				// .text-input {
				// 	display: block !important;
				// 	position: relative;
				// 	width: 100% !important;
				// }

				// .input {
				// 	border: 1px solid #e5e7eb;
				// 	border-radius: 0.375rem;
				// 	padding: 0.5rem 0.75rem;
				// 	width: 100%;

				// 	&:focus {
				// 		outline: none;
				// 		border-color: #3b82f6;
				// 		box-shadow: 0 0 0 1px #3b82f6;
				// 		background-color: unset !important; // origo >.>
				// 	}
				// }

				// .label-text {
				// 	&:before {
				// 		content: none !important;
				// 	}
				// }

				// .dropdown {
				// 	background: white;
				// 	border: 1px solid #e5e7eb;
				// 	border-radius: 0.375rem;
				// 	width: 100%;
				// 	max-width: 100%;

				// 	.input,
				// 	.input-l {
				// 		border: none;
				// 		outline: none;
				// 		box-shadow: none;
				// 	}

				// 	&:focus-within {
				// 		border-color: #3b82f6;
				// 		box-shadow: 0 0 0 1px #3b82f6;
				// 	}
				// }

				.form-switch {
					margin: 0.5rem 0;

					.form-check-input {
						width: 3em;
						height: 1.5em;
					}
				}

				// Force the label over selector
				.label-actual {
					margin-bottom: 0.5rem; // Increased spacing between label and selector
					margin-top: 0.5rem; // Clearance from the previous
				}

				// .label {
				// 	font-size: 0.875rem;
				// 	font-weight: 500;
				// 	color: #374151;
				// 	display: block;
				// }
			}
		}
	}
}
