@import 'colorScheme';

.grid-buttons-right {
	display: grid;
	grid-template-columns: 1fr auto;

	button {
		align-self: start;
	}

	button + button {
		margin-left: 0.25rem;
	}
}

.checkbox-enable-before {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 0.25rem;

	align-items: center;
}

.secondary-control-after {
	display: grid;
	grid-template-columns: 1fr auto;
	column-gap: 0.25rem;

	align-items: center;
}

.settings-menu {
	.settings-menu__settings-menu-item {
		display: block;
		text-decoration: none;
		color: #000;

		&:hover {
			text-decoration: none;
		}

		button.action-btn {
			padding: 0 5px;
		}

		&.menu-item-child {
			h4 {
				padding-left: 1.2rem;
			}
		}
	}

	.settings-menu__settings-menu-item-heading {
		display: grid;
		grid-template-columns: 1fr auto;

		> div {
			margin-top: 0.1rem;
		}

		.icon.action-item {
			display: inline-block;
			width: 20px;
		}
	}

	.settings-menu__settings-menu-section-heading {
		display: grid;
		grid-template-columns: 1fr auto;

		align-items: center;
	}

	h2 {
		> button.action-btn {
			padding: 0 5px;
			margin-top: 0.6em;
		}
	}

	.error-notice {
		.svg-inline--fa {
			color: $color-status-warning;
		}
	}

	hr {
		margin: 0.1rem 0;
	}

	p {
		margin: 0.5rem 0;
	}
}

.settings-dialog {
	table {
		.switch-tight {
			padding: 0px 8px;
			margin: -6px 0 -1px;
		}

		.table-item-actions {
			text-align: right;
			min-width: 5em;

			.action-btn {
				vertical-align: top;
				margin-left: 10px;
				line-height: 1em;

				svg {
					font-size: 10px;
					vertical-align: middle;

					&.svg-inline--fa {
						font-size: 15px;
					}
				}
			}

			.btn {
				&.btn-tight {
					svg {
						font-size: 10px;
						vertical-align: middle;

						&.svg-inline--fa {
							font-size: 15px;
						}
					}
				}
			}
		}

		.table-values-list {
			list-style-type: none;
			margin: 0px;

			li {
				margin: 0px;
			}
		}
	}

	.settings-studio-source-table,
	.settings-studio-output-table,
	.settings-studio-device-table,
	.settings-studio-mappings-table,
	.settings-studio-custom-config-table,
	.settings-line-templates-snapshots,
	.settings-studio-device-httpsend-table,
	.settings-studio-showStyleVariants-table,
	.settings-studio-rundown-layouts-table,
	.settings-studio-package-containers,
	.settings-studio-package-containers-accessors-table,
	.settings-studio-package-containers-table {
		width: 100%;

		.deleted {
			text-decoration: line-through;
		}

		> thead > tr {
			> .actions {
				text-align: right;
			}
		}

		> tbody > tr {
			> .actions {
				text-align: right;

				> .action-btn {
					padding: 0 0.4em;
				}
			}
		}

		.expando-details > td {
			max-width: 0;
		}
	}

	.settings-studio-showStyleVariants-table__drag {
		color: #a2a2a2;
		cursor: grab;
		margin-right: 10px;

		svg {
			width: 10px;
			position: relative;
		}
	}

	.settings-studio-accessors {
		border-left: 0.5em solid #999;
		margin-left: 1em;
		padding-left: 1em;
	}

	.settings-studio-sticky-scroller {
		overflow: auto;
		max-height: 80vh;
		margin-bottom: 8px;

		> table {
			width: auto;

			> tbody > tr > td {
				padding-right: 3px;
			}

			> thead > tr > th {
				position: sticky;
				position: -webkit-sticky;
				top: 0;
				background: #fff;
				z-index: 20;
				padding-right: 3px;
			}
		}
	}

	.settings-studio-device-dropdown {
		position: absolute;
		max-height: 300px;
	}

	.runtime-function-edit__editor {
		width: 100%;
		height: 75vh;
	}

	.runtime-function-edit__status {
		background: #eee;
		height: 2em;
		line-height: 2em;
		padding-left: 0.5em;

		> div {
			> .btn.btn-primary {
				vertical-align: top;
				float: right;
			}
		}
	}

	.device-item {
		background: #f0f0f0;
		border-top: 1px solid #ddd;
		padding: 9px 10px 8px;

		&:last-child {
			border-bottom: 1px solid #ddd;
		}

		&:hover {
			background: #fff;
		}
	}

	.rundown-layout-editor-filter,
	.route-sets-editor {
		border: 1px solid #f0f0f0;
		background: #f9f9f9;
		border-radius: 2px;
	}

	.star {
		color: gold;
	}

	.error-notice {
		&.inline {
			float: right;

			.svg-inline--fa {
				float: right;
				margin-top: 0.2em;
				margin-left: 0.4em;
			}
		}

		.svg-inline--fa {
			color: $color-status-warning;
		}
	}

	.option-missing {
		text-decoration: line-through;
	}

	select.option-missing {
		border-color: $color-status-fatal;
	}
}
