@import '_variables';

@mixin take-arrow {
	content: ' ';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 9px;
	border-color: transparent transparent transparent $part-start-color;
}
