@import '../../../styles/variables';
@import '../../../styles/itemTypeColors';

.segment-storyboard__part__thumbnail {
	@include item-type-colors();
	@include missing-overlay();

	// LiveSpeak needs a bit of special set up, because the thumbnail may make the dual-color setup invisible
	&.live-speak {
		background-color: var(--segment-layer-background-live-speak-1);
		background-repeat: repeat-x;
	}

	position: relative;
	width: 100%;
	height: $segment-storyboard-thumbnail-height;
	border-radius: 4px;
	overflow: hidden;
	cursor: default;

	&.segment-storyboard__part__thumbnail--placeholder {
		background: lighten($segment-background-color, 10%);
	}

	.segment-storyboard__thumbnail__icon {
		opacity: 0.15;
		text-align: center;
		font-size: 3em;
		margin-top: 0.35em;
	}

	> .segment-storyboard__thumbnail__contents {
		position: absolute;
		display: flex;
		flex-direction: column;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		> .segment-storyboard__thumbnail__item {
			flex: 1 1;
			@include item-type-colors();
		}
	}

	> .segment-storyboard__thumbnail__label {
		position: relative;
		text-shadow: 0.5px 0.5px 8px rgba(0, 0, 0, 0.8);
		font-weight: 400;
		margin: 1.5em 0.4em 0.2em;
		overflow-wrap: break-word;

		> .piece__status-icon {
			line-height: 0.6em;
			vertical-align: top;
		}

		> .segment-storyboard__thumbnail__label-icon {
			float: right;
			margin-top: -5px;
			margin-bottom: -5px;
		}

		&.segment-storyboard__thumbnail__label--lg {
			position: absolute;
			text-align: center;
			font-weight: 500;
			font-size: 1.2em;
			text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0;
		}

		&.segment-storyboard__thumbnail__label--sm {
			font-size: 0.85em;
			letter-spacing: normal;
			margin-top: 0.4em;

			width: auto;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		> .segment-storyboard__thumbnail__label__colored-mark {
			font-size: 1em;
			color: transparent;
			display: inline-block;
			height: 0.8em;
			width: 0.8em;
			margin-right: 0.3em;
			margin-left: 0.1em;
			vertical-align: middle;
			border: 1px solid rgba(255, 255, 255, 0.3);
			border-radius: 100%;
			box-shadow: 0 0 4px black;
			margin-top: -0.1em;
			background-color: currentColor;
		}
	}

	> .segment-storyboard__thumbnail__countdown {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0.2em 0.4em;
		left: auto;
		font-weight: 400;
		-webkit-text-stroke: 0.2px #000;
		filter: drop-shadow(0 0 5px #000);

		> .segment-storyboard__thumbnail__countdown-icon {
			margin-right: 0.2em;

			&--flash {
				@keyframes segment-storyboard__thumbnail__countdown-icon--flash {
					0% {
						opacity: 0;
					}
					25% {
						opacity: 0;
					}
					50% {
						opacity: 1;
					}
					100% {
						opacity: 1;
					}
				}
				/* @keyframes duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name */
				animation: 0.3s linear 0s infinite normal forwards segment-storyboard__thumbnail__countdown-icon--flash;
			}

			&:last-child {
				margin-right: 0;
			}

			&.label-loop-icon {
				margin-top: -3px;
			}
		}

		&--playing {
			color: $liveline-timecode-color;
		}
	}

	&.remote > .segment-storyboard__thumbnail__icon {
		opacity: 0.4;
	}

	&:not(.segment-storyboard__thumbnail__label--lg):not(.segment-storyboard__thumbnail__label--sm) {
		> .segment-storyboard__thumbnail__label:not(.segment-storyboard__thumbnail__label--sm) {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			word-wrap: break-word;
			word-break: break-all;
		}
	}

	> .segment-storyboard__thumbnail__image-container {
		position: relative;
		width: 100%;
		height: auto;
		aspect-ratio: 16 / 9;
		background: rgba(0, 0, 0, 0.3);
		display: grid;
		align-content: space-around;

		> img,
		> video {
			max-width: 100%;
			align-self: center;
			justify-self: center;
			background-color: black;
			object-fit: contain;
			aspect-ratio: 16/9;
		}
	}
}
