@import '../colorScheme';

body.transparent {
	background: transparent !important;
}

.clocks-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	height: 100vh;
	width: 100vw;
	font-size: 10vh;

	// &::before {
	// 	position: absolute;
	// 	content: ' ';
	// 	display: block;
	// 	top: 0;
	// 	left: 0;
	// 	width: 1920px;
	// 	height: 1080px;
	// 	border: 1px solid rgba(128, 128, 128, 0.5);
	// 	pointer-events: none;
	// }

	// &::after {
	// 	position: absolute;
	// 	content: ' ';
	// 	display: block;
	// 	top: 54px;
	// 	left: 96px;
	// 	width: 1728px;
	// 	height: 972px;
	// 	border: 1px solid rgba(128, 128, 128, 0.25);
	// 	pointer-events: none;
	// }

	.clocks-half {
		position: fixed;
		left: 2vmax;
		right: 2vmax;
		background: rgba(0, 0, 0, 0.75);
		border-radius: 0.4vmax;
		display: flex;
		align-items: center;
		color: #fff;
	}

	.clocks-bottom {
		bottom: 2vmax;
		height: 1.2em;
	}

	.clocks-part-icon {
		width: (1em * 1.2599784264077);
		height: 1em; // 18.3 + 3.6
		margin-left: 0.3em;
	}

	.clocks-part-title {
		font-size: 1em;

		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		letter-spacing: normal;
	}

	.clocks-part-title.clocks-current-segment-title {
		font-weight: 500;
	}

	.clocks-studio-name {
		font-weight: 800;
	}

	.clocks-part-title,
	.clocks-next-rundown {
		font-weight: 300 !important;
		//margin-left: 35px;
		flex: 1 1;
		padding-left: 0.1em;
	}

	.clocks-current-segment-title {
		color: #ffffff;
	}

	.clocks-segment-countdown {
		letter-spacing: -0.04em;
		font-weight: 100;
		text-align: center;
		min-width: 3em;
	}

	.clock-segment-countdown-next {
		font-weight: 500;
		text-transform: uppercase;
	}

	.clocks-rundown-countdown {
		font-weight: 300;
	}

	.clocks-current-segment-countdown {
		font-weight: 300;
	}

	.clocks-segment-countdown-red {
		color: red;
	}

	.clocks-counter-heavy {
		font-weight: 600;
	}

	.clocks-counter-normal {
		font-weight: 300;
	}

	.clocks-title-small {
	}

	.clocks-rundown-bottom-bar {
		display: flex;
	}
	.clocks-rundown-bottom-bar-label {
		text-align: right;
		color: #aaa;
	}
	.clocks-rundown-total {
		color: #f8e71c;
		font-weight: bold;

		&.over {
			color: $general-late-color;
		}
	}

	.clocks-rundown-title {
		color: #888;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		flex-grow: 1;
	}

	.clocks-time-now {
		margin: 0 0.3em;
		font-size: 0.5em;
	}
}
