@import '../colorScheme';

.clocks-full-screen {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	height: 100vh;
	width: 100vw;

	.clocks-half {
		height: 50vh;
		position: fixed;
		width: 100vw;
	}

	.clocks-top {
		height: 57.1325vh;
		top: 0;
	}

	.clocks-bottom {
		top: 57.1325vh;
		height: 42.4075vh;
	}

	.clocks-top-bar {
		border-top: solid 0.9259vh #454545;
	}

	.clocks-bottom-top {
		height: 34vh;
	}

	.clocks-part-icon {
		width: 16.09375vw;
		margin-top: 5.08912vh;
		height: 20.2777778vh; // 18.3 + 3.6
		float: left;
	}

	.clocks-part-title {
		padding-left: 2.815vw;
		height: 18.333vh;
		font-size: 13.889vh;

		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		font-style: normal;
		font-stretch: normal;
		letter-spacing: normal;

		margin-top: -2.778vh;
		font-weight: 300 !important;
		padding-top: 1vh;
	}

	.clocks-part-title.clocks-current-segment-title {
		font-weight: 500;
	}

	.clocks-current-segment-title {
		color: #ffffff;
	}

	.clocks-segment-countdown {
		height: 24.4vh;
		width: 100vw;
		line-height: 24.4vh;
		margin-top: -4vh;
		letter-spacing: -0.5rem;
		font-weight: 100;
		font-size: 12.5rem;
		text-align: center;
		color: $general-countdown-to-next-color;
	}

	.clocks-rundown-countdown {
		height: 36.6vh;
		line-height: 36.6vh;
		font-size: 27.7778vh;
		margin-top: 10vh;
		font-weight: 300;
		color: $general-clock;
	}

	.clocks-current-segment-countdown {
		height: 36.6vh;
		line-height: 36.6vh;
		font-size: 27.7778vh;
		margin-top: -7.6vh;
		font-weight: 300;
	}

	.clocks-segment-countdown-red {
		color: $general-late-color;
	}

	.clocks-counter-heavy {
		font-weight: 600;
	}

	.clocks-counter-normal {
		font-weight: 300;
	}

	.clocks-title-small {
		font-size: 4.63vh;
	}

	.clocks-rundown-bottom-bar {
		width: 100vw;
		height: 8.0334vh;
		display: flex;
	}
	.clocks-rundown-bottom-bar-label {
		font-size: 4.63vh;
		text-align: right;
		width: 16.09375vw;
		line-height: 8.0334vh;
		color: #aaa;
	}
	.clocks-rundown-total {
		font-size: 10vh;
		color: #f8e71c;
		font-weight: bold;
		margin-top: -2vh;

		&.over {
			color: $general-late-color;
		}
	}

	.clocks-rundown-title {
		font-size: 6.667vh;
		color: #888;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		flex-grow: 1;
		padding-left: 0.2em;
	}

	.clocks-part-icon .stub-icon {
		width: 100%;
		height: 100%;
		background: #00c800;

		font-size: 9.375rem;
		font-weight: 100;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: -3.5px;
		text-align: center;
		color: #ffffff;
		text-shadow: 0 1px 4.5px rgba(0, 0, 0, 0.5);
	}
}
