.segment-opl__piece-indicator-menu {
	background: #5a5a5a;
	pointer-events: all;
	padding: 0.2em;

	.segment-storyboard__part__piece {
		user-select: none;

		width: 300px;
		margin: 0 0 0.2em;

		@include piece-colors();
		@include missing-overlay();

		&:last-child {
			margin: 0;
		}
	}
}
