@import '../../styles/colorScheme';
@import '../../styles/utils';
@import '../../styles/variables';
@import '../../styles/itemTypeColors';

$segment-title-background-color: #4b4b4b;

$part-height: 3em;

.segment-timeline.segment-opl {
	display: block;

	> .segment-opl__title {
		display: grid;
		grid-template-rows: 2.3em;
		grid-template-columns: [duration] 5em [onAirIn] 7em [title] auto [end];

		> h2.segment-opl__title__label {
			grid-row: 1;
			grid-column: title / end;
			margin: 0;
			padding: 0;
			line-height: 1.5em;
		}
	}

	> .segment-opl__part-list {
		display: block;

		> .segment-opl__part {
			display: grid;
			height: $part-height;
			grid-template-rows: $part-height;
			grid-template-columns: [header] 15em [timeline] auto [piece-icons] 200px [end];

			> .segment-opl__part-header {
				display: grid;
				position: relative;
				background-color: $segment-title-background-color;
				grid-column: header / timeline;
				grid-template-columns: [countdown] 5em [title] auto [end];

				> .segment-opl__part-marker {
					position: absolute;
					height: $part-height;
					width: 4em;
					background: #ff00ff;
				}

				> .segment-opl__part-duration {
					grid-column: countdown / title;
				}

				> h3.segment-opl__part-title {
					margin: 0;
					padding: 0;
					line-height: 1em;
					grid-column: title / end;
				}
			}
		}
	}
}
