@import '../../styles/colorScheme';
@import '../../styles/utils';
@import '../../styles/variables';
@import '../../styles/itemTypeColors';

/** Loans from rundownView.scss, to be refactored to a shared variable file */
$segment-title-background-color: #4b4b4b;

$part-height: 2.5em;

$part-border-margin: 1.5em;
$part-border-color: #a7a7a760;

$duration-area-width: 4em;
$duration-area-margin: 0.6em;

.segment-timeline.segment-opl {
	display: block;

	> .segment-opl__title {
		display: flex;

		> .segment-opl__duration,
		> .segment-opl__timeUntil {
			box-sizing: border-box;
			text-align: left;
			min-width: $duration-area-width;
			width: fit-content;
			flex: none;
			padding: 0.45em $duration-area-margin 0 $duration-area-margin;
			line-height: 1em;

			> .segment-timeline__duration__label,
			> .segment-timeline__timeUntil__label {
				display: block;
				font-size: 0.5em;
				text-transform: uppercase;
				line-height: 1em;
				color: #a1a1a1;
				font-weight: 400;
			}
		}

		> .segment-opl__duration {
		}

		> .segment-opl__timeUntil {
			padding-left: 0;
		}

		> h2.segment-opl__title__label {
			flex: 1 1;
			grid-row: 1;
			grid-column: title / end;
			margin: 0;
			padding: 0;
			line-height: 1.5em;
			font-weight: 400;
			font-size: 1.5em;
		}
	}

	> .segment-opl__part-list {
		display: block;

		> .segment-opl__part {
			position: relative;
			display: grid;
			height: $part-height;
			grid-template-rows: $part-height;
			grid-template-columns: [header] 15em [timeline] auto [piece-icons] 200px [end];

			@include invalid-overlay();
			@include floated-overlay();

			> .segment-opl__part-header {
				display: grid;
				position: relative;
				background-color: $segment-title-background-color;
				grid-column: header / timeline;
				grid-template-columns: [countdown] $duration-area-width [title] auto [end];

				> .segment-opl__part-marker {
					position: absolute;
					height: $part-height;
					width: $duration-area-width;
					background: #ff00ff;
					z-index: 0;

					&--next {
						background: $general-next-color;
					}

					&--live {
						background: $general-live-color;
					}
				}

				> .segment-opl__part-duration {
					grid-column: countdown / title;

					margin-top: 0.8em;

					font-weight: 400;
					font-size: 0.9em;

					text-align: center;
					z-index: 1;
				}

				> h3.segment-opl__part-title {
					margin: 0.2em 2em 0.2em 0;
					padding: 0;
					line-height: 1em;
					grid-column: title / end;

					font-weight: 400;
					font-size: 1em;

					display: flex;
					align-items: center;
					z-index: 1;
				}
			}

			&--next {
				> .segment-opl__part-header > .segment-opl__part-duration {
					color: #000000;
				}
			}

			> .segment-opl__part-timeline {
				position: relative;
				margin-top: 0.6em;
				margin-left: 0.3em;

				> .segment-opl__timeline-flag {
					position: absolute;
					top: -0.4em;
					left: 0;
					bottom: 0.3em;
					width: 2px;
					pointer-events: none;

					> .segment-opl__timeline-flag__label {
						position: absolute;
						display: block;
						top: -0.2em;
						text-transform: uppercase;
						font-weight: bold;
						line-height: 1em;
						white-space: nowrap;
						word-wrap: none;
						padding: 0.1em 0.3em 0.1em 0.2em;
						border-radius: 4px 0.5em 0.5em 0em;
						box-shadow: 0 0 4px 0 #000000ff;
						z-index: 2;
					}
				}

				> .segment-opl__take-line {
					background: $part-start-color;

					&:not(.next).auto {
						width: 1px;
					}

					&:not(.auto) {
						top: -0.2em;
						height: 1.6em;

						&::after {
							top: -2px;
							left: 0px;
							@include take-arrow();
							z-index: 1;
						}

						&::before {
							bottom: -2px;
							left: 0px;
							@include take-arrow();
							z-index: 1;
						}
					}

					&.next {
						top: -0.2em;
						background: $general-next-color;

						> .segment-opl__timeline-flag__label {
							top: -0.35em;
							color: #000000;
							background: $general-next-color;
						}

						&::after {
							display: none;
						}

						&::before {
							border-left-color: $general-next-color;
						}
					}
				}

				> .segment-opl__on-air-line {
					background: $general-live-color;

					> .segment-opl__timeline-flag__label {
						background-color: $general-live-color;
						color: #fff;
					}

					> .segment-opl__on-air-line__countdown {
						position: absolute;
						white-space: nowrap;
						word-wrap: none;
						top: auto;
						bottom: -0.2em;
						padding-right: 0.1em;
						transform: translate(-100%, 0);

						font-size: 1.2em;
						font-weight: 500;
						color: $liveline-timecode-color;
						letter-spacing: 0.5px;
						text-shadow: -1px -1px 1px #000000ff, 1px 1px 1px #000000ff, 0 0 4px #000000ff;

						> .overtime {
							color: $general-late-color;
						}

						> .rundown-view__part__icon {
							top: -0.2em;
							margin-right: 0.3em;
						}
					}
				}

				> .segment-opl__timeline-shadow {
					display: block;
					position: absolute;
					top: -4px;
					left: 0;
					bottom: 0;
					background: rgba(0, 0, 0, 0.7);
					pointer-events: none;
				}
			}

			> .segment-opl__piece-indicators {
				background: #141414;
			}

			&:not(:last-child)::after {
				content: ' ';
				position: absolute;
				display: block;
				top: auto;
				bottom: 0;
				left: $part-border-margin;
				right: $part-border-margin;
				height: 0;
				border-bottom: 1px dashed $part-border-color;
			}
		}
	}
}
