@import '../colorScheme';
@import '../itemTypeColors';

:root {
	--adlib-item-selected-color: #009dff;
}

$adlib-item-selected-color: var(--adlib-item-selected-color);

.adlib-panel {
	display: grid;
	grid-column-gap: 0;
	grid-row-gap: 0;
	grid-template-columns: [template-list] 20% [list-view] auto [end];
	grid-template-rows: [tool-bar] 3.3em [list-view] auto [end];
	overflow: hidden;
	user-select: none;

	> .adlib-panel__segments {
		grid-column: template-list / list-view;
		grid-row: tool-bar / end;
		overflow-y: auto;
		overflow-x: hidden;
		display: block;
		margin: 0;
		padding: 0;

		> .adlib-panel__segments__segment {
			position: relative;
			display: block;
			line-height: 1.5em;
			padding: 0 1em;
			margin: 0.5em 2em 0.5em 0;
			text-overflow: ellipsis;
			white-space: nowrap;
			cursor: pointer;

			&::after {
				display: none;
				content: ' ';
				background: inherit;
				width: 0.7em;
				top: 0;
				right: -0.7em;
				bottom: 0;
				clip-path: polygon(0 0, 100% 50%, 0 100%);
				-webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
				position: absolute;
			}

			&.live {
				--missing-overlay-animated: 1;
				background: $general-live-color;
				font-weight: 400;
				color: #fff;
				text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);

				&::after {
					display: block;
				}
			}

			&.next {
				--missing-overlay-animated: 1;
				background: $general-next-color;
				color: #fff;
				font-weight: 400;
				text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);

				&::after {
					display: block;
				}
			}
		}
	}

	> .adlib-panel__list-view__toolbar {
		grid-column: list-view / end;
		grid-row: tool-bar / list-view;

		&--no-segments {
			grid-column: template-list / end;
		}

		display: flex;
		padding: 10px 5px;

		> .adlib-panel__list-view__toolbar__filter {
			flex: 2 2;
			max-width: 25em;
			position: relative;

			> .adlib-panel__list-view__toolbar__filter__input {
				width: 100%;
				background: #2d2d2d;
				border: 1px solid #424242;
				border-radius: 2em;
				box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) inset, 1px 1px 2px rgba(0, 0, 0, 0.2);
				line-height: 1.8em;
				padding: 0 1em;
				color: #fff;

				&:hover {
					background: #3b3b3b;
					transition: 0.2s background-color;
				}

				&:focus {
					background: #fff;
					color: #000;
					transition: 0.2s background-color;
				}

				&:focus-visible {
					outline: none;
				}
			}

			> .adlib-panel__list-view__toolbar__filter__clear {
				position: absolute;
				right: 0.5em;
				top: 0.35em;
				opacity: 0.3;
				cursor: pointer;
				background: none;
				border: none;

				&:hover {
					opacity: 0.7;
				}
			}

			> .adlib-panel__list-view__toolbar__filter__input:focus + .adlib-panel__list-view__toolbar__filter__clear {
				color: #000;
			}
		}

		> .adlib-panel__list-view__toolbar__buttons {
			flex: 1 1;
			text-align: right;

			> button {
				padding: 0 0.5em;
				font-size: 1.3em;
				opacity: 0.5;

				&.active {
					opacity: 1;
				}
			}
		}
	}

	> .adlib-panel__list-view__list {
		display: grid;
		grid-template-columns: 3fr 1fr;

		grid-column: list-view / end;
		grid-row: list-view / end;
		position: relative;
		overflow: hidden;
		background: inherit;

		&--no-segments {
			grid-column: template-list / end;
		}

		> .adlib-panel__list-view__list__table {
			position: relative;
			display: block;
			max-height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			grid-column: 1 / 3;

			&.adlib-panel__list-view__list__table--header {
				position: relative;
				top: 0;
				padding-top: 0;
				z-index: 3;
				background: inherit;
				padding-bottom: 0.3em;
			}

			> thead {
				display: table;
				width: 100%;
				font-size: 0.8em;

				> tr {
					> th {
						font-weight: 400;
						border-left: 1px solid transparent;
						border-right: 1px solid transparent;
					}
				}
			}

			.adlib-panel__list-view__list__table__cell--icon {
				min-width: 4.5em;
				width: 4.5em;
				max-width: 4.5em;
				text-align: center;
				padding: 0 !important;
				position: relative;

				@include item-type-colors();
				@include missing-overlay();

				&.live-speak {
					background: linear-gradient(
						to bottom,
						var(--segment-layer-background-vt) 50%,
						var(--$segment-layer-background-camera) 50.0001%
					);
				}

				&.splits {
					background: linear-gradient(
						to right,
						var(--$segment-layer-background-camera) 50%,
						var(--$segment-layer-background-remote) 50.0001%
					);
				}

				.adlib-panel__list-view__list__table__cell--layer {
					position: relative;
					z-index: 2;
				}
			}
			.adlib-panel__list-view__list__table__cell--shortcut {
				width: 5em;
				max-width: 5em;
				text-align: center;
				font-weight: 900;
				padding: 0 0.1em !important;
				text-overflow: initial !important;
				white-space: break-spaces !important;
				overflow-wrap: normal;
				word-break: break-all;
				line-height: 1.5em !important;
				vertical-align: inherit;

				> .hotkeys {
					> span::after {
						content: ', ';
					}
					> span:last-child::after {
						content: none;
					}
				}
			}
			.adlib-panel__list-view__list__table__cell--output {
				width: 3.89em;
				max-width: 3.89em;
				text-align: center;
			}
			.adlib-panel__list-view__list__table__cell--name {
				width: auto;
				max-width: 1px; // TODO: This is a hack that forces the browsers (Firefox, Chrome) to overflow the cell
			}
			.adlib-panel__list-view__list__table__cell--resolution {
				width: 9%;
				max-width: 9%;
			}
			.adlib-panel__list-view__list__table__cell--fps {
				width: 4%;
				max-width: 4%;
			}
			.adlib-panel__list-view__list__table__cell--duration {
				width: 7em;
				max-width: 7%;
				min-width: 7em;
			}
			.adlib-panel__list-view__list__table__cell--tc-start {
				width: 7%;
				max-width: 7%;
			}

			> tbody.adlib-panel__list-view__list__segment {
				display: block;
				width: 100%;
				border-left: 2px solid #000;
				font-size: 0.9em;

				border-collapse: separate;
				position: relative;
				margin-bottom: 2px;

				> .adlib-panel__list-view__list__seg-header {
					display: table;
					width: 100%;

					> td {
						font-size: 1.4em;
						line-height: 1.5em;
						padding-left: 0.5em;
						background: #4b4b4b;
						font-weight: 400;
					}
				}

				&.has-played {
					> .adlib-panel__list-view__list__seg-header > td {
						font-weight: 200;
						background: #2c2c2c;
					}
				}

				&.live {
					--missing-overlay-animated: 1;
					border-left: 2px solid $general-live-color;

					> .adlib-panel__list-view__list__seg-header > td {
						background: $general-live-color;
						color: #fff;
						font-weight: 500;
						text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
					}
				}

				&.next {
					--missing-overlay-animated: 1;
					border-left: 2px solid $general-next-color;

					> .adlib-panel__list-view__list__seg-header > td {
						background: $general-next-color;
						color: #fff;
						font-weight: 500;
						text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
					}
				}

				> .adlib-panel__list-view__list__segment__item {
					display: table;
					position: relative;
					width: calc(100% - 1.5em);
					margin-left: 1.5em;

					> td {
						border: 1px solid #000;
						line-height: 2em;
						padding: 0 0.7em;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}

					&:hover {
						> td:not(.adlib-panel__list-view__list__table__cell--icon) {
							background: #252525;
						}
						> td.adlib-panel__list-view__list__table__cell--icon {
							overflow: visible;
						}
					}

					&.selected {
						&::after {
							content: ' ';
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							border: 1px solid $adlib-item-selected-color;
							pointer-events: none;
						}
					}

					&.disabled {
						// opacity: 0.5;

						.adlib-panel__list-view__list__table__cell--icon {
							background: $ui-dark-color;
						}
					}

					&.disabled.selected {
						&::after {
							border: 1px solid $ui-dark-color-brighter;
						}
					}

					@include invalid-overlay();
					@include floated-overlay();
				}

				.adlib-panel__list-view__list__table__cell--icon {
					border-right-width: 3px !important;
					border-left-width: 3px !important;
				}
			}
		}
	}

	> .adlib-panel__hotkeys {
		grid-column: template-list / end;
		grid-row: tool-bar / end;
		column-count: 3;
		padding: 2em;

		> .adlib-panel__hotkeys__hotkey {
			display: flex;
			line-height: 2em;

			> .adlib-panel__hotkeys__hotkey__keys {
				flex: 0;
				min-width: 8em;
			}
		}
	}
}
