.external-frame-panel {
	position: absolute;

	.external-frame-panel__iframe {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border: none;
		transform-origin: top left;
	}
	.external-frame-panel__overlay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border: none;
		transform-origin: top left;
	}
}

.dashboard {
	.external-frame-panel {
		margin: 0.625rem;
	}
}

.dropzone-panel {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	.external-frame-panel__iframe {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		border: none;
		transform-origin: top left;
		z-index: 99;
	}
	.external-frame-panel__overlay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border: none;
		transform-origin: top left;
	}
}
